<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<title layout:fragment="title">pioneerkids Admin - 회원 조회</title>
<!-- S : Javascript functions	-->
<script layout:fragment="script">

</script>
<!-- E : Javascript functions	-->
<div layout:fragment="content" class="right_col" role="main">

    <!-- S : 상단 메뉴 명 -->
    <!-- TODO 메뉴 데이터 연결하여 메뉴명 , 메뉴 상세설명 을 뿌림. -->
    <div class="title_top">
        <h3><*1>회원 조회</h3>
        <hr class="t_top_line">
    </div>
    <!-- E : 상단 메뉴 명 -->

    <!-- S : 메뉴 상세설명  -->
    <div class="div_menu_detail row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel" style="height: auto;">
                <div class="x_title">
                    <h2><*2>회원조회 메뉴입니다. <small>오른쪽 화살표를 클릭하여 상세설명을 보실 수 있습니다.</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="display: none;">
                    <*3><h4>상세설명 메뉴입니다.<small>메뉴는 회원 등록입니다. 이 부분은 관리자가 메뉴를 설명하는 글을 입력할 수 있습니다. (메뉴 관리에서
                    설정가능합니다.)</small></h4>
                    <div>
                        <div class="starrr stars"></div>
                        상세설명 메뉴입니다. <span class="stars-count">0123456789</span> star(s)
                    </div>
                    <p>The menu is membership registration. This part allows the administrator to enter text
                        describing the menu. (It can be set in Menu Management.)</p>
                    <div class="starrr stars-existing" data-rating="4"></div>
                    You gave a rating of <span class="stars-count-existing">4</span> star(s)
                </div>
            </div>
        </div>
    </div>
    <!-- E : 메뉴 상세설명 -->

    <!-- S: content -->
    <div class="x_panel">
        <div class="x_content">
            <div class="row">
                <!-- S : 테이블 상단 검색 창 -->
                <div class="col-md-12 col-sm-12 ">
                    <div class="btn-group btn-group-sm float-right" role="group" aria-label="...">
                      <button class="btn btn-secondary" type="button">Left</button>

                      <button class="btn btn-secondary" type="button">Right</button>
                      <input type="search" class="form-control input-sm" placeholder="" aria-controls="datatable-responsive">
                    </div>
                </div>
                <!-- E : 테이블 상단 검색 창 -->
                <!-- S : 테이블 -->
                <div class="col-md-12 col-sm-12 ">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>순번</th>
                            <th>아이디</th>
                            <th>이름</th>
                            <th>성별</th>
                            <th>생년월일</th>
                            <th>연락처</th>
                            <th>거주지역</th>
                            <th>관리자여부</th>
                            <th>관리</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data:${resultList}">
                            <td>1</td>
                            <td th:text="${data.userId}"></td>
                            <td th:text="${data.userNm}"></td>
                            <td th:text="${data.gender}"></td>
                            <td th:text="${data.brdtDate}"></td>
                            <td th:text="${data.telNo}"></td>
                            <td th:text="${data.resideArea}"></td>
                            <td th:text="${data.resideArea}"></td>
                            <td th:text="${data.mngrYn}"></td>
                            <td>관리</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- E : 테이블 -->
                <!-- S : 테이블 하단 페이징 -->
                <div class="col-md-12 col-sm-12 ">

                </div>
                <!-- E : 테이블 하단 페이징 -->
                <!-- S : 하단 목록 -->
                <div class="col-md-12 col-sm-12">
                    <!-- bottom left area -->
                    <div class="col-md-2 col-sm-3 text-left">
                        <button type="cancel" class="btn btn-white w120p">등록</button>
                    </div>
                    <!-- bottom center area -->
                    <div class="col-md-8 col-sm-6 text-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- bottom right area -->
                    <div class="col-md-2 col-sm-3 text-right">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- E : content -->
</div>
</html>