<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/layout}">
<!-- S : Javascript functions	-->
<script layout:fragment="script">

    // DOM 준비 된 이후 실행
    $( function () {

    });


</script>
<!-- E : Javascript functions	-->
<th:block layout:fragment="content">

    <!-- S: content -->
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_content">
                    <form id="insertForm" name="insertForm" method="post" th:action="@{ {basicPath}/mcd/insert ( basicPath = ${basicPath} ) }" enctype="multipart/form-data">
                        <input type="hidden" name="mngrConfmYn" value="Y"/>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">프로필 이미지</label>
                            <div class="col-md-6 col-sm-6">
                                <div class="filebox preview-image">
                                    <div class="upload-display">
                                        <div class="upload-thumb-wrap">
                                            <img alt="프로필 이미지" class="upload-thumb noimg">
                                        </div>
                                    </div>
                                    <div class="upload-file-name">
                                        <input class="input-file-name" value="선택된 파일 없음(.gif, .jpg, .png)" disabled="disabled">
                                    </div>
                                    <div class="upload-btn mt_10p">
                                        <label class="btn btn-purple">업로드
                                            <input type="file" name="file" class="upload-hidden" accept=".gif, .jpg, .png" style="display: none;" onchange="fileChange(this)">
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align"><span class="required">*</span>아이디(이메일형식)</label>
                            <div class="col-md-6 col-sm-6">
                                <input name="userId" id="userId" class="form-control"
                                       required="required"/>
                                <small class="font-gray-dark"   >
                                    <b>비밀번호</b> 찾기 시 해당 이메일로 인증번호를 발송합니다. 정확한 이메일을 입력해주세요.
                                </small>
                            </div>
                            <div class="col-md-2 pt_10p pl-0">
                                <span id="checkResult"></span>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3  label-align"><span class="required">*</span>비밀번호</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="password" id="password1" name="password"
                                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[!@#$%^&*]).{8,}"
                                       title="Minimum 8 Characters Including An Upper And Lower Case Letter, A Number And A Unique Character"
                                       required/>
                                <span class="hideshow" onclick="hideshow()">
									<i id="slash" class="fa fa-eye-slash" style="display:none;"></i>
									<i id="eye" class="fa fa-eye"></i>
                                </span>
                                <small class="font-gray-dark">
                                    영문 (대소문자 구분), 숫자, 특수문자를 포함하여 <b>최소 8자리</b>로 구성
                                </small>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3  label-align"><span class="required">*</span>비밀번호 재입력</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="password" name="password2"
                                       data-validate-linked='password' required='required'/>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align"><span class="required">*</span>이름</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" data-validate-length-range="2,10" name="userNm"
                                       required="required"
                                       placeholder="이름을 입력해주세요."/>
                                <small class="font-gray-dark">
                                    최소 2자 이상, 10자 이하로 입력해주세요.
                                </small>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align"><span class="required">*</span>성별</label>
                            <div class="col-md-6 col-sm-6 ">
                                <div class="btn-group radiobox">
                                    <input type="radio" id="gender1" name="gender" value="M" class="join-btn" required>
                                    <label for="gender1" class="btn btn-outline-purple w100p"
                                           data-toggle-class="btn-primary"
                                           data-toggle-passive-class="btn-default">남자</label>
                                    <input type="radio" id="gender2" name="gender" value="F" class="join-btn" required>
                                    <label for="gender2" class="btn btn-outline-purple w100p"
                                           data-toggle-class="btn-primary"
                                           data-toggle-passive-class="btn-default">여자</label>
                                </div>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align"><span class="required">*</span>생년월일</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control Date8String" type="date" name="brdtDate" required="required">
                                <small class="font-gray-dark">
                                    아이디 찾기 시 생년월일을 입력합니다.
                                </small>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align"><span class="required">*</span>연락처</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="tel" name="telNo" id="telNo" required="required"
                                       placeholder="연락처입력 ( - 제외 )" data-validate-length-range="10,11">
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align"><span class="required">*</span>거주지역</label>
                            <div class="col-md-2 col-sm-4">
                                <div class="btn-group radiobox">
                                    <input type="radio" id="resideArea1" name="resideArea" value="대한민국" class="join-btn" required="required">
                                    <label for="resideArea1" class="btn btn-outline-purple w100p" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">대한민국</label>
                                    <input type="radio" id="resideArea2" name="resideArea" value="other" class="join-btn" required="required">
                                    <label for="resideArea2" class="btn btn-outline-purple w100p" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    	그 외
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <select class="form-control" name="otherResideArea" id="countryList"
                                        style="display: none;">
                                    <option value="">국가 선택</option>
                                    <option th:each="item : ${resideAreaList}" th:value="${item.cdDetailVal1}">[[${item.cdDetailNm}]]
                                </select>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">주소</label>
                            <div class="col-md-1 col-sm-6">
                                <input class="form-control text-center" type="text" name="zip" disabled="disabled"
                                       placeholder="우편번호"/>
                            </div>
                            <div class="col-md-5 col-sm-6 pl-0">
                                <input class="form-control" type="text" name="rdnmAdr" disabled="disabled"
                                       placeholder="주소 찾기 버튼 클릭하여 주소 입력"/>
                            </div>
                            <div class="col-md-1 pl-0">
                                <button type="button" class="btn btn-purple w100p">주소 찾기</button>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align"><span class="required">*</span>관리자 여부</label>
                            <div class="col-md-2 col-sm-4">
                                <div class="btn-group radiobox">
                                    <input type="radio" id="mngrYn1" name="mngrYn" value="N" class="join-btn">
                                    <label for="mngrYn1" class="btn btn-outline-purple w100p"
                                           data-toggle-class="btn-primary"
                                           data-toggle-passive-class="btn-default">사용자</label>
                                    <input type="radio" id="mngrYn2" name="mngrYn" value="Y" class="join-btn">
                                    <label for="mngrYn2" class="btn btn-outline-purple w100p"
                                           data-toggle-class="btn-primary"
                                           data-toggle-passive-class="btn-default">관리자</label>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 ml_20p">
                                <select class="form-control" name="roleSn" id="roleList" style="display: none;">
                                    <option value="">관리자 권한 선택</option>
                                    <option th:each="item : ${roleList}" th:value="${item.roleSn}">[[${item.roleDc}]]
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="field item form-group" id="userChldrnAddDiv">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">자녀</label>
                            <div class="div_menu_detail row col-md-10">
                                <div class="col-md-12 col-sm-12 ">
                                    <div class="x_panel mb-0" style="height:auto;overflow: scroll; max-height:350px;">
                                        <div class="x_content mt_5p">
                                            <button type="button" class="btn btn-purple w100p mb_15p"
                                                    data-toggle="modal" data-target=".bs-example-modal-lg"
                                                    onclick="setModalBtn('C')">
                                                자녀 추가
                                            </button>
                                            <!-- 자녀 등록 모달 -->
                                            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                                                 id="addChldrnModal"
                                                 aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">자녀 추가</h4>
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                <span aria-hidden="true">×</span></button>
                                                        </div>
                                                        <div class="modal-body" id="addChldrnModalBody">
                                                            <div name="chldrnModDiv" class="modForm" style="display: none;">
                                                                <!-- 자녀 수정시 여기서 수정 작업 -->
                                                            </div>
                                                            <div name="chldrnAddDiv" class="newForm"
                                                                 th:insert="/admin/user/addChldrnForm.html">
                                                                <!-- 자녀 추가 모달 (/admin/user/addChldrnForm.html) -->
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-white"
                                                                    data-dismiss="modal">닫기
                                                            </button>
                                                            <button type="button" class="btn btn-purple"
                                                                    id="addChldrnBtn" onclick="addChldrn()">저장
                                                            </button>
                                                            <button type="button" class="btn btn-success"
                                                                    id="updateChldrnBtn" onclick="updateChldrn()"
                                                                    style="display:none;">수정
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="table table-bordered text-center" id="chldrnTable">
                                                <thead>
                                                <tr>
                                                    <th>순번</th>
                                                    <th>이름</th>
                                                    <th>성별</th>
                                                    <th>생년월일</th>
                                                    <th>연락처</th>
                                                    <th>이메일</th>
                                                    <th>관리</th>
                                                </tr>
                                                </thead>
                                                <tbody id="chldrnTableBody">
                                                <!-- 자녀 추가 테이블 -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <small class="font-gray-dark">회원등록 후에도 자녀 등록이 가능합니다.<b>회원조회 &gt; 회원 우측 [수정]</b></small>
                                </div>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <!-- 저장버튼 -->
                        <div class="col-md-12 bottom-btn-group">
                            <!-- bottom left area -->
                            <div class="col-md-2 col-sm-3 text-left">
                                <a th:href="@{ {basicPath}/mcd/list ( basicPath = ${basicPath} ) }" class="btn btn-white w120p" >목록</a>
                            </div>
                            <!-- bottom center area -->
                            <div class="col-md-8 col-sm-6 text-center">
                                <a th:href="@{ {basicPath}/mcd/list ( basicPath = ${basicPath} ) }" class="btn btn-white w120p" >취소</a>
                                <button type="submit" class="btn btn-purple w120p">저장</button>
                            </div>
                            <!-- bottom right area -->
                            <div class="col-md-2 col-sm-3 text-right">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- E : content -->
</th:block>
</html>