<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{pon/layout/layout_mypage}">

<head layout:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">

	<title layout:fragment="title">피오니키즈</title>

</head>
<title layout:fragment="title">피오니키즈 - pioneerkids</title>
<!-- S : Javascript functions	-->
<div layout:fragment="script">
	<!-- js -->
	<script>

		function myChldrnInfo( userChldrnSeq ) {
			location.href = "?userChldrnSeq=" + userChldrnSeq;
		}

		function goPageType( type ){
			location.href = "?pageType=" + type
		}

		// 자녀 추가 등록 버튼 클릭시
		function addMyChldrn(){

			$targetForm = $("#insertForm");

			// 이름 체크 (2자 이상 )
			var name = $targetForm.find( "[name='chldrnNm']" ).val();

			if ( name == '' ) {
				alert( "이름을 입력해주세요." );
				return false;

			} else if ( name.length < 2 || name.length > 10 ) {
				alert( "이름은 2자 이상 10자 이하로 입력해 주세요." );
				return false;

			}

			// 성별 체크
			var gender = $targetForm.find( "[name='chldrnGender']:checked" ).val();

			if ( gender == null || gender == '' ) {
				alert( "성별을 선택해 주세요." );
				return false;
			}

			// 생년월일 체크
			var brdtDate = $targetForm.find( "[name='chldrnBrdtDate']" ).val();

			if ( !isValidDate( brdtDate ) ) {
				alert( "날짜는 yyyymmdd 형식으로 입력해주세요. ex) 19930119" );
				return false;
			}

			// 연락처 체크
			var telNo = $targetForm.find( "[name='chldrnTelNo']" ).val();

			if ( telNo != '' && !telNoRegexp.test( telNo ) ) {	// telNoRegexp = /^(01[016789]{1})[0-9]{3,4}[0-9]{4}$/;
				alert( "연락처 형식에 맞게 입력해주세요." );
				return false;
			}

			$targetForm.submit();

		}

		// 자녀 선택 후 수정 버튼 클릭시
		function updateMyChldrn() {

			$targetForm = $("#updateForm");

			// 이름 체크 (2자 이상 )
			var name = $targetForm.find( "[name='chldrnNm']" ).val();

			if ( name == '' ) {
				alert( "이름을 입력해주세요." );
				return false;

			} else if ( name.length < 2 || name.length > 10 ) {
				alert( "이름은 2자 이상 10자 이하로 입력해 주세요." );
				return false;

			}

			// 성별 체크
			var gender = $targetForm.find( "[name='chldrnGender']:checked" ).val();

			if ( gender == null || gender == '' ) {
				alert( "성별을 선택해 주세요." );
				return false;
			}

			// 생년월일 체크
			var brdtDate = $targetForm.find( "[name='chldrnBrdtDate']" ).val();

			if ( !isValidDate( brdtDate ) ) {
				alert( "날짜는 yyyymmdd 형식으로 입력해주세요. ex) 19930119" );
				return false;
			}

			// 연락처 체크
			var telNo = $targetForm.find( "[name='chldrnTelNo']" ).val();

			if ( telNo != '' && !telNoRegexp.test( telNo ) ) {	// telNoRegexp = /^(01[016789]{1})[0-9]{3,4}[0-9]{4}$/;
				alert( "연락처 형식에 맞게 입력해주세요." );
				return false;
			}

			$targetForm.submit();
		}

	</script>
</div>

<!-- E : Javascript functions	-->
<div layout:fragment="content" class="sub_box mypage_contents">
	<!-- S: content -->
	<div class="mypage_list_box myChldrnInfo">

		<!-- S: 자녀 리스트 영역 -->
		<div class="myChldrnList">
			<ul>
				<li th:each="item : ${userChldrnListDto}" th:onclick="|myChldrnInfo('${item.userChldrnSeq}')|"
					th:text="${ item.chldrnNm }" th:classappend="${ item.chldrnSn eq targetDto.chldrnSn  && ( pageType eq 'mod' || pageType eq null ) } ? 'active' " ></li>
				<li onclick="goPageType('add');" class="ml_10p purple">추가</li>
			</ul>
		</div>
		<!-- E: 자녀 리스트 영역 -->

		<div class="chldrnInfoWrap">
			<!-- S: 자녀 수정 영역 -->
			<form id="updateForm" name="updateForm" method="post"   th:action="@{ /mypage/myChldrnInfo/update }" class="form"  enctype="multipart/form-data" >
			<th:block th:if="${targetDto ne null}">
			<div name="chldrnModDiv" class="modForm" th:style=" ${pageType eq 'add'} ? 'display:none;' " >
				<input type="hidden" name="chldrnSn" th:value="${targetDto.chldrnSn}" />
				<input type="hidden" name="userChldrnSeq" th:value="${targetDto.userChldrnSeq}" />
				<div class="filebox preview-image">
					<div class="upload-display">
						<div class="upload-thumb-wrap">
							<img alt="프로필 이미지" class="upload-thumb noimg" 		th:if = 	"${targetDto.atchFileSn == null}" >
							<img alt="프로필 이미지" class="upload-thumb" 				th:unless = "${targetDto.atchFileSn == null}" th:src="@{/getImage(atchFileSn=${targetDto.atchFileSn})}"  >
						</div>
					</div>
					<div class="upload-btn mt_10p" style="margin-bottom: 13px;">
						<label class="btn btn-purple" >업로드
							<input type="file" name="file" class="upload-hidden" accept=".gif, .jpg, .jpeg, .png" style="display: none;" onchange="fileChange(this)">
						</label>
						<div class="upload-file-name" style="display: inline-block;">
							<input class="input-file-name" value="선택된 파일 없음(.gif, .jpg, .png)" disabled="disabled">
						</div>
					</div>
					<input type="hidden" name="atchFileSn" 		th:value="${targetDto.atchFileSn}" />
					<input type="hidden" name="atchFileSnOri" 	th:value="${targetDto.atchFileSn}" />
				</div>
				<div class="data-field" >
					<span>이름</span>
				</div>
				<div class="data-field" >
					<input type="text" name="chldrnNm" placeholder="이름" th:value="${targetDto.chldrnNm}" >
				</div>
				<div class="data-field" >
					<span>성별</span>
				</div>
				<div class="data-field btn-group radiobox" >
					<label	class="l4px btn btn-outline-purple w100p" th:classappend="${targetDto.chldrnGender eq '남자'} ? 'active'"
							  data-toggle-class="btn-primary"
							  data-toggle-passive-class="btn-default" th:checked="${targetDto.chldrnGender eq '남자'}" >
						<input type="radio" name="chldrnGender" value="M" class="join-btn chldrnGender" onclick="clickRadioEvent(this)"> 남자
					</label>
					<label	class="r4px btn btn-outline-purple w100p" th:classappend="${targetDto.chldrnGender eq '여자'} ? 'active'"
							  data-toggle-class="btn-primary"
							  data-toggle-passive-class="btn-default" th:checked="${targetDto.chldrnGender eq '여자'}" >
						<input type="radio" name="chldrnGender" value="F" class="join-btn chldrnGender" onclick="clickRadioEvent(this)">여자
					</label>
				</div>
				<div class="data-field" >
					<span>생년월일</span>
				</div>
				<div class="data-field" >
					<input type="text" name="chldrnBrdtDate" placeholder="생년월일 ( YYYYMMDD ex)20130119 )" maxlength="8" th:value="${targetDto.chldrnBrdtDate}" >
				</div>
				<div class="data-field" >
					<span>연락처</span>
				</div>
				<div class="data-field" >
					<input type="text" name="chldrnTelNo" placeholder="연락처" data-validate-length-range="10,11"	maxlength="11" th:value="${targetDto.chldrnTelNo}" >
				</div>
				<div class="data-field" >
					<span>이메일</span>
				</div>
				<div class="data-field" >
					<input type="text" name="chldrnEmail" placeholder="이메일" th:value="${targetDto.chldrnEmail}" >
				</div>
			</div>
			</th:block>
			</form>
			<!-- E: 자녀 수정 영역 -->

			<!-- S: 자녀 등록 영역(신규) -->
			<form id="insertForm" name="insertForm" method="post"   th:action="@{ /mypage/myChldrnInfo/insert }" class="form"  enctype="multipart/form-data" >
			<div name="chldrnAddDiv" class="newForm" th:style=" ${ pageType eq 'mod' || pageType eq null } ? 'display:none;' " >
				<div class="filebox preview-image">
					<div class="upload-display">
						<div class="upload-thumb-wrap">
							<img alt="프로필 이미지" class="upload-thumb noimg">
						</div>
					</div>
					<div class="upload-btn mt_10p" style="margin-bottom: 13px;">
						<label class="btn btn-purple" >업로드
							<input type="file" name="file" class="upload-hidden" accept=".gif, .jpg, .jpeg, .png" style="display: none;" onchange="fileChange(this)">
						</label>
						<div class="upload-file-name" style="display: inline-block;">
							<input class="input-file-name" value="선택된 파일 없음(.gif, .jpg, .png)" disabled="disabled">
						</div>
					</div>
					<input type="hidden" name="atchFileSn" 		/>
				</div>
				<div class="data-field" >
					<span>이름</span>
				</div>
				<div class="data-field" >
					<input type="text" name="chldrnNm" placeholder="이름" >
				</div>
				<div class="data-field" >
					<span>성별</span>
				</div>
				<div class="data-field btn-group radiobox" >
					<label	class="l4px btn btn-outline-purple w100p" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default" >
						<input type="radio" name="chldrnGender" value="M" class="join-btn chldrnGender" onclick="clickRadioEvent(this)"> 남자
					</label>
					<label	class="r4px btn btn-outline-purple w100p" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default" >
						<input type="radio" name="chldrnGender" value="F" class="join-btn chldrnGender" onclick="clickRadioEvent(this)">여자
					</label>
				</div>
				<div class="data-field" >
					<span>생년월일</span>
				</div>
				<div class="data-field" >
					<input type="text" name="chldrnBrdtDate" placeholder="생년월일 ( YYYYMMDD ex)20130119 )" maxlength="8" >
				</div>
				<div class="data-field" >
					<span>연락처</span>
				</div>
				<div class="data-field" >
					<input type="text" name="chldrnTelNo" placeholder="연락처" data-validate-length-range="10,11"	maxlength="11" >
				</div>
				<div class="data-field" >
					<span>이메일</span>
				</div>
				<div class="data-field" >
					<input type="text" name="chldrnEmail" placeholder="이메일" >
				</div>
			</div>
			</form>
			<!-- E: 자녀 등록 영역(신규) -->
		</div>

		<!-- S : 하단 버튼 영역 -->
		<div class="article_detail_footer">
			<th:block th:if="${targetDto ne null}">
			<div class="redBtn" th:if="${pageType eq 'mod'}" >
				<a th:href="'javascript:deleteItem(\'' + ${targetDto.chldrnSn} + '\');'">
					<span>삭제</span>
				</a>
			</div>
			</th:block>
			<div class="ml_10p" th:if="${pageType eq 'mod'}" >
				<a href="javascript:;" onclick="updateMyChldrn()" >
					<span>수정</span>
				</a>
			</div>
			<div class="ml_10p" th:if="${pageType eq 'add'}" >
				<a href="javascript:;" onclick="addMyChldrn()" >
					<span>등록</span>
				</a>
			</div>
		</div>
		<!-- E : 하단 버튼 영역 -->

		<form id="deleteForm" name="deleteForm" method="post" th:action="@{ {basicPath}/myChldrnInfo/delete ( basicPath = ${basicPath} ) }">
			<input type="hidden" name="pk" id="delPk" /> <!-- delPk 문자 수정 금지 -->
		</form>
	</div>
	<!-- E: content -->
</div>

</html>