<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{pon/layout/layout_mypage}">

<head layout:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">

	<title layout:fragment="title">피오니키즈</title>

</head>
<title layout:fragment="title">피오니키즈 - pioneerkids</title>
<!-- S : Javascript functions	-->
<div layout:fragment="script">
	<!-- js -->
</div>

<!-- E : Javascript functions	-->
<div layout:fragment="content" class="sub_box mypage_contents">
	<!-- S: content -->
	<div class="mypage_list_box myChldrnInfo">

		<div class="chldrnInfoWrap">
			<!-- S: 자녀 수정 영역 -->
			<form id="updateForm" name="updateForm" method="post"   th:action="@{ /mypage/myInfoModify/update }" class="form"  enctype="multipart/form-data" >
			<th:block th:if="${targetDto ne null}">
			<div name="chldrnModDiv" class="modForm" th:style=" ${pageType eq 'add'} ? 'display:none;' " >
				<div class="filebox preview-image">
					<div class="upload-display">
						<div class="upload-thumb-wrap">
							<img alt="프로필 이미지" class="upload-thumb noimg" 		th:if = 	"${targetDto.atchFileSn == null}" >
							<img alt="프로필 이미지" class="upload-thumb" 				th:unless = "${targetDto.atchFileSn == null}" th:src="@{/getImage(atchFileSn=${targetDto.atchFileSn})}"  >
						</div>
					</div>
					<div class="upload-btn mt_10p" style="margin-bottom: 13px;">
						<label class="btn btn-purple" >업로드
							<input type="file" name="file" class="upload-hidden" accept=".gif, .jpg, .jpeg, .png" style="display: none;" onchange="fileChange(this)">
						</label>
						<div class="upload-file-name" style="display: inline-block;">
							<input class="input-file-name" value="선택된 파일 없음(.gif, .jpg, .png)" disabled="disabled">
						</div>
					</div>
					<input type="hidden" name="atchFileSn" 		th:value="${targetDto.atchFileSn}" />
					<input type="hidden" name="atchFileSnOri" 	th:value="${targetDto.atchFileSn}" />
				</div>
				<div class="data-field" >
					<span>이름</span>
				</div>
				<div class="data-field" >
					<input type="text" name="userNm" placeholder="이름" th:value="${targetDto.userNm}" >
				</div>
				<div class="data-field" >
					<span>성별</span>
				</div>
				<div class="data-field btn-group radiobox" >
					<label	class="l4px btn btn-outline-purple w100p" th:classappend="${targetDto.gender eq '남자'} ? 'active'"
							  data-toggle-class="btn-primary"
							  data-toggle-passive-class="btn-default" th:checked="${targetDto.gender eq '남자'}" >
						<input type="radio" name="gender" value="M" class="join-btn gender" onclick="clickRadioEvent(this)"> 남자
					</label>
					<label	class="r4px btn btn-outline-purple w100p" th:classappend="${targetDto.gender eq '여자'} ? 'active'"
							  data-toggle-class="btn-primary"
							  data-toggle-passive-class="btn-default" th:checked="${targetDto.gender eq '여자'}" >
						<input type="radio" name="gender" value="F" class="join-btn gender" onclick="clickRadioEvent(this)">여자
					</label>
				</div>
				<div class="data-field" >
					<span>생년월일</span>
				</div>
				<div class="data-field" >
					<input type="text" name="brdtDate" placeholder="생년월일 ( YYYYMMDD ex)20130119 )" maxlength="8" th:value="${targetDto.brdtDate}" >
				</div>
				<div class="data-field" >
					<span>연락처</span>
				</div>
				<div class="data-field" >
					<input type="text" name="telNo" placeholder="연락처" data-validate-length-range="10,11"	maxlength="11" th:value="${targetDto.telNo}" >
				</div>
				<div class="data-field" >
					<span>이메일</span>
				</div>
				<div class="data-field" >
					<input type="text" name="email" placeholder="이메일" th:value="${targetDto.email}" >
				</div>
			</div>
			</th:block>
			</form>
			<!-- E: 자녀 수정 영역 -->
		</div>


		<!-- S : 하단 버튼 영역 -->
		<div class="article_detail_footer">
			<th:block th:if="${targetDto ne null}">
			<div class="whiteBtn">
				<a href="/mypage/reqstHistory/list">
				<a th:href="'javascript:deleteItem(\'' + ${targetDto.userSn} + '\');'">
					<span>삭제</span>
				</a>
			</div>
			</th:block>
			<div class="ml_20p" th:if="${pageType eq 'mod'}">
				<a href="javascript:;" onclick="updateMyInfo()" >
					<span>수정</span>
				</a>
			</div>
		</div>
		<!-- E : 하단 버튼 영역 -->
	</div>
	<!-- E: content -->
	
	<!-- 문의등록 layer -->	
	<div class="layer_registClassReview"	style="display: none;"	th:insert="pon/layer/layer_registClassReview.html" />
</div>

</html>