<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{pon/layout/layout_mypage}">

<head layout:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">

	<title layout:fragment="title">피오니키즈</title>

</head>
<title layout:fragment="title">피오니키즈 - pioneerkids</title>
<!-- S : Javascript functions	-->
<div layout:fragment="script">
	<!-- js -->
</div>

<!-- E : Javascript functions	-->
<div layout:fragment="content" class="sub_box mypage_contents">
	<div class="mypage_list_box" >
		<div class="article_top">
			<span>총 게시물 <strong th:utext="${resultList.totalElements}"> </strong></span>
		</div>
		<div class="review review_list" th:classappend="${ (resultList.isEmpty())} ? 'no-data'">
			<div class="review_item" th:if = "${!resultList.isEmpty()}" th:each="data : ${resultList}" th:onclick="|detailInqryLayer('${data.classInqrySn}')|" >
				<div class="review_thumbnail">
					<img th:src="@{/getImage(atchFileSn=${data.thumbAtchFileSn})}" alt="클래스수업후기이미지">
				</div>
				<div class="review_content">
					<p class="riview_tit" th:text="${data.classSj}" ></p>
					<p class="riview_disc" th:text="${#strings.abbreviate(data.inqryCn,80)}"></p>
				</div>
			</div>
			<div th:unless = "${!resultList.isEmpty()}" class="no-data">
				데이터가 존재하지 않습니다.
			</div>
			<div class="bg_ico3">
				<img src="/pon/common/image/space_one.png" alt="">
			</div>
		</div>
		<div class="paging_box" th:insert="~{pon/layout/tiles/paging :: paging('listForm', ${resultList})}">
		</div>
	</div>

	<!-- 문의조회 layer -->
	<div class="layer_detailClassInqry"	style="display: none;"	th:insert="pon/layer/layer_detailClassInqry.html" />
</div>


</html>