<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/layout}">
<!-- S : Javascript functions	-->
<script layout:fragment="script">

    $( function () {

    	// summernote editor 설정
    	fnSummernoteCall('classSumry'); // 클래스 요약
    	fnSummernoteCall('classDc');    // 클래스 설명

    	// 표시기간 선택시 표시기간 표출 처리
        $( "input:radio[name='classPdSetYn']" ).change( function () {
            if ( $( this ).val() == 'Y' ) {
                $( "#expsrPeriodDiv" ).show();
            } else {
                $( "#expsrPeriodDiv" ).hide();
            }
        });

    	// 카테고리 선택시 커리큘럼 재정렬
    	$("[name='ctgryCd']").change( function() {

    		var parntsClSn = $(this).val();

    		// 커리큘럼 검색 ajax
    		// ajax START
    		var url = '/admin/classCategoryCl02/live/getListByParntsClSnAjax';
            $.ajax( {
                url: url,
                type: "GET",
                dataType: "json",
                async: false,	// 동기식 ajax : 통신이 완료될 떄 까지 다음 line 진행 안함
                data: {parntsClSn : parntsClSn},	// 부모 클래스 일련번호 setting
                contentType: "application/json",
                success: function ( result ) {
                 // callback 함수 연결 -> callback함수로 구현
                 if ( typeof getListByParntsClSnAjaxCallback === 'function' ) {
                 	getListByParntsClSnAjaxCallback( result );
                 } else {
                     console.log( 'getListByParntsClSnAjaxCallback( result ) funnction is required. getListByParntsClSnAjaxCallback( result ) 콜백함수 not found!' );
                 }

                },
                error : function (jqXHR, textStatus, errorThrown){
            		console.log(jqXHR);  //응답 메시지
            		console.log(textStatus); //"error"로 고정인듯함
            		console.log(errorThrown);
            	}
            } );
            // ajax END
    	});


        // 요일 체크
        var classSn = [[${schClassSn}]];	            // classSn setting
        var url = basicPath + "/live/getClassWeekListAjax"; // ajax Url setting
        $.ajax( {
            url: url,
            type: "GET",
            dataType: "json",
            async: false,	// 동기식 ajax : 통신이 완료될 떄 까지 다음 line 진행 안함
            data: {classSn : classSn},	// classSn 값 setting
            contentType: "application/json",
            success: function ( result ) {

                // resultList 가 존재하는지 체크
                if( result.resultList != null && result.resultList.length > 0 ) {
                    // 반복문 돌면서 해당하는 요일 value에 체크하기
                    for ( let item of result.resultList ) {
                        $("input[name='classWeek'][value="+item.classDayCd+"]").prop("checked",true);
                    }
                }
            }
        } );

        // 표시기간이 기간설정일 경우 기간 부분 노출
        var classPdSetYn = $("[name='classPdSetYn']:checked").val();
        if ( classPdSetYn == 'Y' ) {
            $( "#expsrPeriodDiv" ).show();
        } else {
            $( "#expsrPeriodDiv" ).hide();
        }

    });
    // $( function () {}); end

    // re arrange crseCd
    function getListByParntsClSnAjaxCallback( result ) {

    	// rearrange CrseCd

    	// 커리큘럼 전체 삭제
    	$("[name='crseCd']").empty();

    	// 커리큘럼 추가 (전체)
    	$("[name='crseCd']").append("<option value=''>선택안함</option>");

    	// 커리큘럼 추가
    	for ( let item of result.resultList ) {
    		 $("[name='crseCd']").append("<option value='" + item.clSn + "'>" + item.clNm + "</option>");
        }
    }

    // 등록 유효성 검사
    function submitValidCheck() {

        // 표시기간 유효성 체크
        var classPdSetYn = $( "[name='classPdSetYn']:checked" ).val();
        if ( classPdSetYn == 'Y' && $("#classBeginDt").val() == '' ) {
            alert("표시 시작 일시를 입력해주세요.");
            $( "#classBeginDt" ).focus();
            return false;
        }
        if ( classPdSetYn == 'Y' && $("#classEndDt").val() == '' ) {
            alert("표시 종료 일시를 입력해주세요.");
            $( "#classEndDt" ).focus();
            return false;
        }

        return true;

    }

</script>
<!-- E : Javascript functions	-->
<th:block layout:fragment="content">
    <!-- S: content -->
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_content">
                    <form id="updateForm" name="updateForm" method="post" th:action="@{ {basicPath}/{mcd}/update ( basicPath = ${basicPath}, mcd = ${mcd} ) }" enctype="multipart/form-data" th:onsubmit="return submitValidCheck();">
                        <input type="hidden" name="classSn" th:value="${targetDto.classSn}"/>
                    	<div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">분류<span class="required">*</span></label>
                            <div class="col-md-2 col-sm-6">
                            	<select class="form-control" name="ctgryCd" id="classCategoryCl01List" required="required">
                                    <option th:each="item : ${ctgryCdList}" th:value="${item.clSn}" th:text="${item.clNm}" th:selected="${item.clSn} == ${targetDto.ctgryCd}"></option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-6">
                            	<select class="form-control" name="crseCd" id="classCategoryCl02List" >
                                    <option value="" th:selected="${targetDto.ctgryCd} == ''">선택안함</option>
                                    <option th:each="item : ${crseCdList}" th:value="${item.clSn}" th:text="${item.clNm}" th:selected="${item.clSn} == ${targetDto.crseCd}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">썸네일 이미지</label>
                            <div class="col-md-6 col-sm-6">
                                <div class="filebox preview-image">
                                    <div class="upload-display">
                                        <div class="upload-thumb-wrap">
                                            <img alt="프로필 이미지" class="upload-thumb noimg" 		th:if = 	"${targetDto.thumbAtchFileSn == null}" >
                                            <img alt="프로필 이미지" class="upload-thumb" 				th:unless = "${targetDto.thumbAtchFileSn == null}" th:src="@{/getImage(atchFileSn=${targetDto.thumbAtchFileSn})}"  >
                                        </div>
                                    </div>
                                    <div class="upload-file-name">
                                        <input class="input-file-name" value="" disabled="disabled" >
                                    </div>
                                    <div class="upload-btn mt_10p">
                                        <label class="btn btn-purple">업로드
                                            <input type="file" name="file" class="upload-hidden" accept=".gif, .jpg, .png" style="display: none;" th:value="${targetDto.thumbAtchFileSn}" onchange="fileChange(this)">
                                        </label>
                                        <button type="button" class="btn btn-purple" id="removeImageBtn" onclick="removeImage(this);" th:if = 	"${targetDto.thumbAtchFileSn != null}">이미지제거</button>
                                    </div>
                                    <input type="hidden" name="atchFileSn" 	    th:value="${targetDto.thumbAtchFileSn}" />
                                    <input type="hidden" name="atchFileSnOri" 	th:value="${targetDto.thumbAtchFileSn}" />
                                </div>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">클래스 제목<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control"name="classSj" required="required" placeholder="클래스 제목을 입력해주세요." th:value="${targetDto.classSj}"/>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">클래스 요약<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                            	<textarea id="classSumry" name="classSumry"  class="form-control"  th:text="${targetDto.classSumry}"></textarea>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">클래스 설명<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                            	<textarea id="classDc" name="classDc"  class="form-control"  th:text="${targetDto.classDc}"></textarea>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">금액<span class="required">*</span></label>
                            <div class="col-md-4 col-sm-6">
                                <input class="form-control"name="classAmt" required="required" placeholder="금액 입력" type="number" th:value="${targetDto.classAmt}" />
                                <small class="font-gray-dark">
                                    금액을 입력해주세요. 숫자만 입력 가능
                                </small>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">할인전 금액</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control"name="classDscntBfeAmt" placeholder="할인전금액 입력" type="number" th:value="${targetDto.classDscntBfeAmt}"/>
                                <small class="font-gray-dark">
                                    할인 적용시 할인하기 전 금액을 입력해주세요. 금액보다 큰 값이어야 합니다.
                                </small>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">요일선택</label>
                            <div class="col-md-10 col-sm-6">
                                <th:block th:each="data : ${day7List}">
                                    <input th:id="'day'+${data.cdDetailSeq}" type="checkbox" name="classWeek" th:value="${data.cdDetailVal1}"/>
                                    <label th:for="'day'+${data.cdDetailSeq}"><span class="cbTitle">[[${data.cdDetailNm}]]</span></label>
                                </th:block>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">표시여부</label>
                            <div class="col-md-2 col-sm-4">
                                <div class="btn-group radiobox">
                                    <input type="radio" id="classExpsrYn1" name="classExpsrYn" value="Y" th:checked="${targetDto.classExpsrYn eq 'Y'}" class="join-btn">
                                    <label for="classExpsrYn1" class="btn btn-outline-purple w100p" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">표시</label>
                                    <input type="radio" id="classExpsrYn2" name="classExpsrYn" value="N" th:checked="${targetDto.classExpsrYn eq 'N'}" class="join-btn">
                                    <label for="classExpsrYn2" class="btn btn-outline-purple w100p" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">미표시</label>
                                </div>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">표시기간</label>
                            <div class="col-md-2 col-sm-4">
                                <div class="btn-group radiobox">
                                    <input type="radio" id="classPdSetYn1" name="classPdSetYn" value="N" th:checked="${targetDto.classPdSetYn eq 'N'}" class="join-btn">
                                    <label for="classPdSetYn1" class="btn btn-outline-purple w100p" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">상시</label>
                                    <input type="radio" id="classPdSetYn2" name="classPdSetYn" value="Y" th:checked="${targetDto.classPdSetYn eq 'Y'}" class="join-btn">
                                    <label for="classPdSetYn2" class="btn btn-outline-purple w100p" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">기간설정</label>
                                </div>
                            </div>
                            <div id="expsrPeriodDiv" style="display:none;" class="col-md-4 col-sm-4" >
                                <div class="col-md-5 col-sm-12">
                                    <input class="form-control" type="text" name="classBeginDt"	id="classBeginDt"	data-pickr="dateTime"   th:value="${targetDto.classBeginDt}"	placeholder="표시 시작일시 선택" >
                                </div>
                                <div class="col-md-1 col-sm-12 period-wave"></div>
                                <div class="col-md-5 col-sm-12">
                                    <input class="form-control" type="text" name="classEndDt"	id="classEndDt"		data-pickr="dateTime"   th:value="${targetDto.classEndDt}"	placeholder="표시 종료일시 선택" >
                                </div>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">첨부파일 목록</label>
                            <div id="attachFileDiv">
                                <div id="attachFileList">
                                    <div class="upload-thumb-wrap" th:if="${targetDto.atchFileSn != null}">
                                        <input type="hidden" id="atchFileSn" name="atchFileSn"
                                               th:value="${targetDto.atchFileSn}">
                                        <div th:if="${!atchFileList.isEmpty()}" th:each=" data : ${atchFileList} ">
                                            <span th:text="${data.orignlFileNm}"></span>
                                            <span class="badge badge-dark" style="cursor:pointer"><a
                                                    th:href="@{/fileDownload(atchFileSn=${data.AtchFileDetailPk.atchFileSn}, fileSeq=${data.AtchFileDetailPk.fileSeq})}">다운로드</a></span>
                                            <span class="badge badge-dark" style="cursor:pointer"><a
                                                    th:onclick="javascript:fnfileDelete([[${data.AtchFileDetailPk.atchFileSn}]],[[${data.AtchFileDetailPk.fileSeq}]]);">삭제</a></span>
                                        </div>
                                    </div>
                                    <div lass="upload-thumb-wrap" th:if="${targetDto.atchFileSn == null}">
                                        <p class="card-text">
                                            <span>첨부파일이 없습니다.</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">첨부파일 추가</label>
                            <div class="col-md-6 col-sm-6">
                                <table id="file_table">
                                    <td id="fileNoData">
                                        선택된 파일이 없습니다.
                                    </td>
                                </table>
                                <input type="file" id="multi-add" class="btn-add" name="atchFile" multiple
                                       style="display: none;">
                                <button type="button" class="btn-add" id="file_add">파일추가</button>

                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <!-- 저장버튼 -->
                        <div class="col-md-12 bottom-btn-group">
                            <!-- bottom left area -->
                            <div class="col-md-2 col-sm-3 text-left">
                                <a th:href="@{ {basicPath}/mcd/list ( basicPath = ${basicPath} ) }" class="btn btn-white w120p" >목록</a>
                            </div>
                            <!-- bottom c	enter area -->
                            <div class="col-md-8 col-sm-6 text-center">
                                <a th:href="@{ {basicPath}/mcd/list ( basicPath = ${basicPath} ) }" class="btn btn-white w120p" >취소</a>
                                <button type="submit" class="btn btn-purple w120p">저장</button>
                            </div>
                            <!-- bottom right area -->
                            <div class="col-md-2 col-sm-3 text-right">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- E : content -->
</th:block>
</html>