<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	  
<!-- S : head -->
<head th:fragment="head">
	
	<th:block th:insert="pon/layout/tiles/head.html">
		<!-- Please check the [ pon/layout/tiles/head.html ] -->	
	</th:block>
	
	<!-- mypage.css -->
	<link rel="stylesheet" href="/pon/common/css/mypage.css">
	
</head>
<!-- E : head -->

<!-- S : script -->
<div th:fragment="div-script" th:insert="pon/layout/tiles/div-script.html">
	<!-- Please check the [ pon/layout/tiles/div-script.html.html ] -->
</div>
<!-- E : script -->

<!-- S: body-->
<body>
	<!-- S : header -->
	<header class="header" th:insert="pon/layout/tiles/header.html" >
		<!-- Please check the [ pon/layout/tiles/header.html.html ] -->
	</header>
	<!-- E : header -->

	<!-- S : mypage contents -->
	<div class="mypage sub_box pon-contents">
		<!-- S : mypage 상단 타이틀 -->
		<div class="top_tit">
	<!--		<div class="star"> -->
	<!--			<img src="/pon/common/image/bell_color.svg" alt="배경아이콘_종">-->
	<!--		</div>-->
			<h3>마이페이지</h3>
			<img class="bg_ico1" src="/pon/common/image/star_3d_color.png" alt="배경아이콘_별_3D">
			<img class="bg_ico2" src="/pon/common/image/atom2.png" alt="배경아이콘_원자">
		</div>
		<!-- E : mypage 상단 타이틀 -->
		
		<!-- S : mypage 내정보 영역 -->
		<div class="default-myInfo">
			<div class="myInfo_detail_box">
				<div class="mypage_title">
					<div class="profile clearfix">
						<div class="profile_pic">
							<img th:if="${#authentication.principal.atchFileSn == null }" src="/common/images/img.jpg" class="img-circle upload-thumb noimg" >
							<img th:unless="${#authentication.principal.atchFileSn == null }" th:src="@{/getImage(atchFileSn=${#authentication.principal.atchFileSn})}" class="img-circle upload-thumb" >
						</div>
						<div class="profile_info pl_20p">
							<span class="profile_title">
								<em sec:authentication="principal.userNm"></em> 님
							</span>
							<button type="button" onclick="">내 정보 관리</button>
						</div>
					</div>
					<div class="mypage_detail_box">
						<div class="mypage_item like">
							<span>관심</span>
							<img src="/pon/common/image/heart-full.svg" alt="좋아요_아이콘">
							<div class="item_cnt">
								<span id="like_cnt">0</span> 개
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- E : mypage 내정보 영역 -->
		
		<!-- S :  mypage - 마이페이지 목록 -->
		<div class="mp_list">
			<div class="list_area">
				<ul>
					<li class="reqstHistory"><a href="/mypage/reqstHistory/list" class="reqstHistory li01" >신청내역</a></li>
					<li class="childInfoModify" ><a href="/mypage/childInfoModify" class="reviewList li02" >자녀정보관리</a></li>
					<li class="inqryList" ><a href="/mypage/inqryList" class="inqryList li03" >1:1문의</a></li>
					<li class="questionList" ><a href="/mypage/questionList" class="questionList li04" >클래스Q&A</a></li>
				</ul>
			</div>
		</div>
		<!-- E :  mypage - 마이페이지 목록 -->
		
		<!-- S : pon-contents -->
		<div class="wrap" th:classappend=" (${mcd} != 'home') ? 'pon-contents' "  layout:fragment="content">
		</div>
		<!-- E : pon-contents -->
		
	</div>
	<!-- E : mypage contents -->

	<!-- S : footer -->
	<footer class="footer" th:insert="pon/layout/tiles/footer.html">
		<!-- Please check the [ pon/layout/tiles/footer.html ] -->
		<!-- footer has 'footer', 'layer', 'script(필요한script..)' .... -->
	</footer>
	<!-- E : footer -->
	
	<!-- mypage -->
	<script src="/pon/common/js/mypage.js"></script>	
</body>
<!-- E : body-->

</html>
