<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
	  
	  
<!-- S : head -->
<head th:fragment="head" th:insert="pon/layout/tiles/head.html">
	<!-- Please check the [ pon/layout/tiles/head.html ] -->
</head>
<!-- E : head -->

<!-- S : script -->
<div th:fragment="div-script" th:insert="pon/layout/tiles/div-script.html">
	<!-- Please check the [ pon/layout/tiles/div-script.html.html ] -->
</div>
<!-- E : script -->

<!-- S: body-->
<body>
	
	<!-- S : header -->
	<header class="header" th:insert="pon/layout/tiles/header.html" >
		<!-- Please check the [ pon/layout/tiles/header.html ] -->
	</header>
	<!-- E : header -->
	
	<!-- S : pon-contents -->
	<div class="wrap" th:classappend=" (${mcd} != 'home') ? 'pon-contents' "  layout:fragment="content">
	
	</div>
	<!-- E : pon-contents -->
	
	<!-- S : footer -->
	<footer class="footer" th:insert="pon/layout/tiles/footer.html">
		<!-- Please check the [ pon/layout/tiles/footer.html ] -->
		<!-- footer has 'footer', 'layer', 'script' .... -->
	</footer>
	<!-- E : footer -->
</body>
<!-- E : body-->

</html>
