<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <title layout:fragment="title">피오니키즈</title>

    <!-- css -->
    <link rel="stylesheet" href="/pon/common/css/reset.css">
    <link rel="stylesheet" href="/pon/common/css/common.css">
    <link rel="stylesheet" href="/pon/common/css/style.css">
    <link rel="stylesheet" href="/pon/npm/swiper11/css/swiper-bundle.min.css">

</head>
<!--S : script -->
<div th:fragment="div-script">

    <!-- jquery -->
    <script src="/pon/jquery/3.7.1/jquery.min.js"></script>
    <!-- swiper -->
    <script src="/pon/npm/swiper11/js/swiper-bundle.min.js"></script>
    
   <!-- 상수 항목 정의 ( 재사용을위해 ) -->
   <script th:inline="javascript">
		/*<![CDATA[*/
		let searchDTO;	// 카테고리DTO (searchDTO) 정의 
		let basicPath;	// 기본경로 
	  	$(function(){
	  		searchDTO =  /*[[${searchDTO}]]*/;	// 상수선언
	  		basicPath =  /*[[${basicPath}]]*/;	// 상수선언
       	});
		/*]]>*/
	</script>

</div>
<!--E : script -->

<!--s: body-->
<body>
<!-- S : header -->
<header class="header">
    <!-- header 최상단 메뉴 4개 및 sns 버튼 -->
    <!-- TODO : 메뉴 뿌리기-->
    <div class="header_top">
        <ol>
            <li>
                <a href="class.html">로그인</a>
            </li>
            <li>
                <a href="#">학부모 상담요청</a>
            </li>
            <li>
                <a href="#">제휴문의</a>
            </li>
            <li>
                <a href="#">강사지원</a>
            </li>
            <li>
                <div class="sns_list">
                    <div class="sns_item">
                        <img src="/pon/common/image/kakao_ico.svg" alt="">
                    </div>
                    <div class="sns_item">
                        <img src="/pon/common/image/naver_ico.svg" alt="">
                    </div>
                    <div class="sns_item">
                        <img src="/pon/common/image/insta_svg.svg" alt="">
                    </div>
                </div>
            </li>
        </ol>
    </div>
    <!-- header 최상단 메뉴 4개 및 sns 버튼 -->

    <!-- S : pon menu -->
    <!-- TODO : 버튼 1,2,3, 로그인, 메뉴 뿌리기 .. -->
    <nav class="nav">
        <ul>
            <li>
                <a href="index.html"><img src="/pon/common/image/logo.svg" alt=""></a>
            </li>
        </ul>
        <ul class="pon_menu pc">
            <li th:each="data : ${menuList}" th:if="${data.level eq 1}">
                <a 	th:href="${data.menuUrl}" th:text="${data.menuNm}"
                	th:classappend="${ #strings.containsIgnoreCase(currentPageUrl,data.menuUrl) || 
                					( mcd != null && #strings.prepend(data.menuCd,'mcd') == mcd )  } ? 'active'" />
            </li>
        </ul>
        <div class="search_form">
            <div class="search">
                <input type="text" placeholder="검색어를 입력해주세요">
            </div>
        </div>
    </nav>
    <!-- E : pon menu  -->

    <!-- S : mobile header -->
    <!-- TODO -->
    <nav class="mb_nav">
        <div class="mb_logo">
            <a href="index.html">
                <img src="/pon/common/image/logo.svg" alt="">
            </a>
        </div>
        <div class="mb_ico">
            <div class="mb_search">
                <img src="/pon/common/image/mb_search.svg" alt="">
            </div>
            <div class="mb_menu">
                <img src="/pon/common/image/menu_ico.svg" alt="">
            </div>
        </div>
    </nav>
    <div class="nav_wrap">
        <div class="mb_nav_list">
            <div class="mb_logo_box ">
                <div class="mb_logo">
                    <a href="index.html">
                        <img src="/pon/common/image/logo.svg" alt="">
                    </a>
                    <p class="login_txt">로그인이 필요합니다</p>
                </div>
                <div class="m_header_btns">
                    <div class="m_btns_top">
                        <button>버튼1</button>
                        <button>버튼2</button>
                        <button>버튼3</button>
                    </div>
                    <div class="m_btns_bot">
                        <button>버튼4</button>
                    </div>
                </div>
                <div class="close">
                    <img src="/pon/common/image/close.svg" alt="">
                </div>
            </div>
            <ul class="pon_menu mb">
                <li th:each="data : ${menuList}" th:if="${data.level eq 1}" >
                    <a th:href="${data.menuUrl}" th:text="${data.menuNm}" />
                </li>
            </ul>
        </div>
    </div>
    <div class="mb_search_form">
        <input type="text" placeholder="검색어를 입력해주세요">
    </div>
    <div class="dark_bg"></div>
    <!-- E : mobile header -->

</header>
<!-- E : header -->


<!-- S : pon-contents -->
<div class="wrap" th:classappend=" (${mcd} != 'home') ? 'pon-contents' "  layout:fragment="content">

</div>
<!-- E : pon-contents -->

<!-- S : footer -->
<footer class="footer">
    <div class="footer_top">
        <div class="footer_logo">
            PIONEER KIDS
        </div>
        <ul class="footer_link">
            <li>
                <a href="#">회사소개</a>
            </li>
            <li>
                <a href="#">1:1 문의</a>
            </li>
            <li>
                <a href="#">이용약관</a>
            </li>
            <li>
                <a href="#">개인정보처리방침</a>
            </li>
        </ul>
    </div>
    <div class="footer_info">
        <div class="txt_wrap">
            <span>PIONEER KIDS LLC  </span>
            <span>주소 : 미국 버지니아 센터빌, 20121 </span>
            <span>대표 : 노빈</span>
        </div>
        <div class="txt_wrap">
            <span>사업자등록번호 : 92-1451459 </span>
            <span>개인정보관리책임자 : 노빈  </span>
            <span>전화 : 571-451-8210 </span>
            <span>이메일 : admin@mypsel.com</span>
        </div>
        <div class="txt_wrap">
            <span>PIONEER KIDS LLC ALL RIGHTS RESERVED.</span>
        </div>
    </div>
</footer>
<!-- E : footer -->

<!-- S : 문의 챗콘 -->
<!-- TODO -->
<div class="pon-chatCon">
    <div class="chatWrap">
        <div class="chat_box">
            <div class="chat_top">
                <div class="chat_top_box">
                    <div class="chat_logo">
                        <img src="/pon/common/image/logo.svg" alt="">
                    </div>
                    <div class="chat_inquiry">
                        <button>문의하기</button>
                    </div>
                </div>
            </div>
            <div class="chat_content">
                <div class="tabcontent">
                    <div id="tab01">
                        <div class="chat_form_box">
                            <div class="chat_tit_form">
                                <input type="text" placeholder="제목">
                            </div>
                            <div class="chat_disc_form">
                                <textarea name="" id="" cols="30" rows="10" placeholder="내용"></textarea>
                            </div>
                            <div class="send_btn">
                                <button>보내기</button>
                            </div>
                        </div>
                    </div>
                    <div id="tab02">area2</div>
                    <div id="tab03">area3</div>
                </div>
            </div>
            <div class="chat_nav">
                <div class="tab">
                    <ul class="tabnav">
                        <li>
                            <a href="#tab01">
                                <div class="chat_nav_ico ">
                                    <img class="" src="/pon/common/image/home_ico.svg" alt="">
                                    <img class="" src="/pon/common/image/home_ico_active.svg" alt="">
                                </div>
                                <span>문의하기</span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab02">
                                <div class="chat_nav_ico ">
                                    <img class="" src="/pon/common/image/chat_ico.svg" alt="">
                                    <img class="" src="/pon/common/image/chat_ico_active.svg" alt="">
                                </div>
                                <span>내 문의내역</span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab03">
                                <div class="chat_nav_ico ">
                                    <img class="" src="/pon/common/image/gear_ico.svg" alt="">
                                    <img class="" src="/pon/common/image/gear_ico_active.svg" alt="">
                                </div>
                                <span>FAQ</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="chat_close">
        <img src="/pon/common/image/chat_close.svg" alt="">
    </div>
    <div class="inquiry">
        <img src="/pon/common/image/inquiry.svg" alt="">
    </div>
</div>
<!-- E : 문의 챗콘 -->
</body>
<!--e: body-->

<!--S : script -->
<!-- main -->
<script src="/pon/common/js/common.js"></script>

<div layout:fragment="script">
    <!-- script 내용 작성 -->
</div>
<!--E : script -->
</html>
