<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">

	<title layout:fragment="title">피오니키즈</title>

	<!-- css -->
	<link rel="stylesheet" href="/pon/common/css/reset.css">
	<link rel="stylesheet" href="/pon/common/css/common.css">
	<link rel="stylesheet" href="/pon/common/css/style.css">
	<link rel="stylesheet" href="/pon/npm/swiper11/css/swiper-bundle.min.css">
	<link th:if="${mcd} != 'home'"  rel="stylesheet" href="/pon/common/css/sub.css">
	<!-- layer.css -->
	<link href="/pon/common/css/layer.css" rel="stylesheet">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<!--S : script -->
<div th:fragment="div-script">

	<!-- jquery -->
	<script src="/pon/jquery/3.7.1/jquery.min.js"></script>
	<!-- swiper -->
	<script src="/pon/npm/swiper11/js/swiper-bundle.min.js"></script>
	
	<!-- 상수 항목 정의 ( 재사용을위해 ) -->
	<script th:inline="javascript">
		/*<![CDATA[*/
		let searchDTO;	// 카테고리DTO (searchDTO) 정의 
		let basicPath;	// 기본경로 
		let errMsg;		// error message setting
		let infoMsg;	// info  message setting
		let snsType;	// sns Type		 setting
		let lgStatus;	// 로그인 status 	 setting
		let loginYn;	// 로그인 dto 	 setting
		
		const urlParams = new URL(location.href).searchParams;
		
		$(function(){
			searchDTO	=	/*[[${searchDTO}]]*/;	// 상수선언
			basicPath	=	/*[[${basicPath}]]*/;	// 상수선언
			errMsg		=	/*[[${errMsg}]]*/;		// error message
			infoMsg		=	/*[[${infoMsg}]]*/;		// info message
			snsType		=	/*[[${snsType}]]*/;		// sns Type
			lgStatus	=	/*[[${lgStatus}]]*/;	// login Status setting
			loginYn		=	/*[[${loginYn}]]*/;		// login Yn setting
			
		});
		/*]]>*/
	</script>
</div>
<!--E : script -->

<!--s: body-->
<body>
<!-- S : header -->
<header class="header">
	<!-- header 최상단 메뉴 4개 및 sns 버튼 -->
	<!-- TODO : 메뉴 뿌리기-->
	<div class="header_top">
		<ol>
			<th:block sec:authorize="isAnonymous()">
				<li>
					<a href="javascript:" class="show_pop" data-layer-id="login"	>로그인</a>
				</li>
			</th:block>
			<th:block sec:authorize="isAuthenticated()">
				<li>
					<a href="javascript:goLogout();" >로그아웃</a>
				</li>
				<li>
					<a href="javascript:" class="show_pop" data-layer-id="login"	>마이페이지</a>
				</li>
			</th:block>
			<li>
				<a href="#">학부모 상담요청</a>
			</li>
			<li>
				<a href="#">제휴문의</a>
			</li>
			<li>
				<a href="#">강사지원</a>
			</li>
			<li>
				<div class="sns_list">
					<div class="sns_item">
						<img src="/pon/common/image/kakao_ico.svg" alt="">
					</div>
					<div class="sns_item">
						<img src="/pon/common/image/naver_ico.svg" alt="">
					</div>
					<div class="sns_item">
						<img src="/pon/common/image/insta_svg.svg" alt="">
					</div>
				</div>
			</li>
		</ol>
	</div>
	<!-- header 최상단 메뉴 4개 및 sns 버튼 -->

	<!-- S : pon menu -->
	<!-- TODO : 버튼 1,2,3, 로그인, 메뉴 뿌리기 .. -->
	<nav class="nav">
		<ul>
			<li>
				<a href="/"><img src="/pon/common/image/logo.svg" alt=""></a>
			</li>
		</ul>
		<ul class="pon_menu pc">
			<li th:each="data : ${menuList}" th:if="${data.level eq 1}">
				<a 	th:href="${data.menuUrl}" th:text="${data.menuNm}"
					th:classappend="${ #strings.containsIgnoreCase(currentPageUrl,data.menuUrl) || 
									( mcd != null && #strings.prepend(data.menuCd,'mcd') == mcd )  } ? 'active'" />
			</li>
		</ul>
		<div class="search_form">
			<div class="search">
				<input type="text" placeholder="검색어를 입력해주세요">
			</div>
		</div>
	</nav>
	<!-- E : pon menu  -->

	<!-- S : mobile header -->
	<!-- TODO -->
	<nav class="mb_nav">
		<div class="mb_logo">
			<a href="/">
				<img src="/pon/common/image/logo.svg" alt="">
			</a>
		</div>
		<div class="mb_ico">
			<div class="mb_search">
				<img src="/pon/common/image/mb_search.svg" alt="">
			</div>
			<div class="mb_menu">
				<img src="/pon/common/image/menu_ico.svg" alt="">
			</div>
		</div>
	</nav>
	<div class="nav_wrap">
		<div class="mb_nav_list">
			<div class="mb_logo_box ">
				<div class="mb_logo">
					<a href="/">
						<img src="/pon/common/image/logo.svg" alt="">
					</a>
					<p class="login_txt">로그인이 필요합니다</p>
				</div>
				<div class="m_header_btns">
					<div class="m_btns_top">
						<button>버튼1</button>
						<button>버튼2</button>
						<button>버튼3</button>
					</div>
					<div class="m_btns_bot">
						<button>버튼4</button>
					</div>
				</div>
				<div class="close">
					<img src="/pon/common/image/close.svg" alt="">
				</div>
			</div>
			<ul class="pon_menu mb">
				<li th:each="data : ${menuList}" th:if="${data.level eq 1}" >
					<a th:href="${data.menuUrl}" th:text="${data.menuNm}" />
				</li>
			</ul>
		</div>
	</div>
	<div class="mb_search_form">
		<input type="text" placeholder="검색어를 입력해주세요">
	</div>
	<div class="dark_bg"></div>
	<!-- E : mobile header -->

</header>
<!-- E : header -->


<!-- S : pon-contents -->
<div class="wrap" th:classappend=" (${mcd} != 'home') ? 'pon-contents' "  layout:fragment="content">

</div>
<!-- E : pon-contents -->

<!-- S : footer -->
<footer class="footer">
	<div class="footer_top">
		<div class="footer_logo">
			PIONEER KIDS
		</div>
		<ul class="footer_link">
			<li>
				<a href="#">회사소개</a>
			</li>
			<li>
				<a href="#">1:1 문의</a>
			</li>
			<li>
				<a href="#">이용약관</a>
			</li>
			<li>
				<a href="#">개인정보처리방침</a>
			</li>
		</ul>
	</div>
	<div class="footer_info">
		<div class="txt_wrap">
			<span>PIONEER KIDS LLC  </span>
			<span>주소 : 미국 버지니아 센터빌, 20121 </span>
			<span>대표 : 노빈</span>
		</div>
		<div class="txt_wrap">
			<span>사업자등록번호 : 92-1451459 </span>
			<span>개인정보관리책임자 : 노빈  </span>
			<span>전화 : 571-451-8210 </span>
			<span>이메일 : admin@mypsel.com</span>
		</div>
		<div class="txt_wrap">
			<span>PIONEER KIDS LLC ALL RIGHTS RESERVED.</span>
		</div>
	</div>
</footer>
<!-- E : footer -->

<!-- S : 문의 챗콘 -->
<!-- TODO -->
<div class="icon_inquiry show_pop" data-layer-id="inquiry">
	<img src="/pon/common/image/inquiry.svg" alt="">
</div>
<!-- E : 문의 챗콘 -->


<!-- layer popup  -->
<div class="pop_dim" 		id="pop_dim"		style="display: none;"></div>
<div class="pop_dim_lv2" 	id="pop_dim_lv2"	style="display: none;"></div>
<!-- popup id -->
<!-- 아이디/비밀번호 찾기 -->			<div class="layer_findUser"					style="display: none;"	th:insert="pon/layer/layer_findUser.html"		/>
<form id="userInsertForm" name="userInsertForm" method="post" th:action="@{ / }"  enctype="multipart/form-data" onsubmit="return false;">
<!-- 회원가입 -->						<div class="layer_join layer_joinForSns"	style="display: none;"	th:insert="pon/layer/layer_join.html"			/>
<!-- 회원가입 - 자녀추가 -->			<div class="layer_addChldrn lv2"			style="display: none;"	th:insert="pon/layer/layer_addChldrn.html"		/>
<!-- 회원가입완료 layer -->			<div class="layer_completeJoin"				style="display: none;"	th:insert="pon/layer/layer_completeJoin.html"			/>
</form>
<!-- 회원통합 layer (SNS로그인시) -->	<div class="layer_userIntegrated"			style="display: none;"	th:insert="pon/layer/layer_userIntegrated.html"			/>
<!-- 로그인 -->						<div class="layer_login"					style="display: none;"	th:insert="pon/layer/layer_login.html"			/>
<!-- 이용약관 -->						<div class="layer_termsOfUse lv2"			style="display: none;"	th:insert="pon/layer/layer_termsOfUse.html"	/>
<!-- 개인정보처리방침 -->				<div class="layer_personalInfo lv2"			style="display: none;"	th:insert="pon/layer/layer_personalInfo.html"	/>
<!-- 문의하기 -->						<div class="layer_inquiry"					style="display: none;"	th:insert="pon/layer/layer_inquiry.html"		/>

<form id="logoutForm" name="logoutForm" th:action="@{ /logout}" method="post">
	
	<input type="hidden" name="returnUrl" >
</form>
</body>
<!--e: body-->

<!--validator -->
<script src="/common/bootstrap/vendors/validator/multifield.js"></script>
<script src="/common/bootstrap/vendors/validator/validator.js"></script>
	
<!--S : script -->
<!-- main -->
<script src="/pon/common/js/common.js"></script>
<!-- layer -->
<script src="/pon/common/js/layer.js"></script>

<div layout:fragment="script">
	<!-- script 내용 작성 -->
</div>
<!--E : script -->
</html>
