<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<title layout:fragment="title">pioneerkids Admin - 메뉴 조회</title>
<!-- S : Javascript functions	-->
<script layout:fragment="script">

    $(function(){
    	
    	// S : jstree
        // 6 create an instance when the DOM is ready
        $('#jstree').jstree();
        // 7 bind to events triggered on the tree
        $('#jstree').on("changed.jstree", function (e, data) {
          console.log(data.selected);
        });
        // 8 interact with the tree - either way is OK
        $('button').on('click', function () {
          $('#jstree').jstree(true).select_node('child_node_1');
          $('#jstree').jstree('select_node', 'child_node_1');
          $.jstree.reference('#jstree').select_node('child_node_1');
        });
     	// E : jstree

    });
    
    
    // key : 검색할 key
    // e   : 다음단계 검색하기위한 this 
    function getNextCateList(categorySn, e){
    	var cateLv =  $(e).parent().prevAll().length +1;	// 카테고리 level ( 1부터 시작 )
    	
    	var data = {
    		categorySn : categorySn //검색할 코드 (실제로 예제에서는 사용 안함)
        }
    	
    	// 해당부분만 수정
    	$.ajax( {
            url: "/live/getMenuListAjax",
            type: "GET",
            dataType: "json",
            data: data,
            contentType: "application/json",
            success: function ( result ) {
            	console.log(result);
                if ( !result ) dupCheckFlag = true;
                idDupResult( dupCheckFlag, "checkResult" );
            }
        } );
    	
    	
    }

</script>
<!-- E : Javascript functions	-->
<div layout:fragment="content" class="right_col" role="main">

    <!-- S : 상단 메뉴 명 -->
    <!-- TODO 메뉴 데이터 연결하여 메뉴명 , 메뉴 상세설명 을 뿌림. -->
    <div class="title_top">
        <h3>메뉴 조회</h3>
        <hr class="t_top_line">
    </div>
    <!-- E : 상단 메뉴 명 -->

    <!-- S : 메뉴 상세설명  -->
    <div class="div_menu_detail row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>메뉴조회 메뉴입니다. <small>오른쪽 화살표를 클릭하여 상세설명을 보실 수 있습니다.</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="display: none;">
                    <h4>상세설명 메뉴입니다.<small>메뉴는 메뉴 조회입니다. 이 부분은 관리자가 메뉴를 설명하는 글을 입력할 수 있습니다. (메뉴 관리에서
                                              설정가능합니다.)</small></h4>
                    <div>
                        <div class="starrr stars"></div>
                        상세설명 메뉴입니다. <span class="stars-count">0123456789</span> star(s)
                    </div>
                    <p>The menu is membership registration. This part allows the administrator to enter text
                       describing the menu. (It can be set in Menu Management.)</p>
                    <div class="starrr stars-existing" data-rating="4"></div>
                    You gave a rating of <span class="stars-count-existing">4</span> star(s)
                </div>
            </div>
        </div>
    </div>
    <!-- E : 메뉴 상세설명 -->

    <!-- S: content -->
    <!-- S : 분류 영역 -->
    <div class="div_menu_detail row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel category-area">
            	<!-- 분류 영역 > 카테고리 그룹 영역 -->
				<div class="col-md-10 category-list-area">
			        <div class="category-group-box">
			            <ul class="data-group">
			            	<li th:each="data : ${cateList}" th:onclick="getNextCateList( [[${data.categorySn}]], this);" th:value="${data.categorySn}">[[${data.categoryNm}]]</li>
			            </ul>
			        </div>
				</div>
				<!-- 분류 영역 > 우측영역 (선택된 카테고리검색, 버튼) -->
				<div class="col-md-2 col-sm-6 category-right">
					<div class="picked-cate" id="picked-cate">
						<div class="cateLv1 blink"></div><div class="cateLv2 blink"></div><div class="cateLv3 blink"></div><div class="cateLv4 blink"></div><div class="cateLv5 blink"></div>
					</div>
					<div class="btn-group float-right" role="group">
					    <button type="submit" class="btn btn-purple w120p">검색</button>
<!-- 					    <button type="submit" class="btn btn-purple w120p">다운로드</button> -->
					</div>
				</div>
            </div>
        </div>
    </div>
    <!-- E : 분류 영역 -->
    
    <div class="x_panel">
        <div class="x_content">
        	<div id="jstree">
			    <!-- in this example the tree is populated from inline HTML -->
			    <ul>
			      <li>Root node 1
			        <ul>
			          <li id="child_node_1">Child node 1</li>
			          <li>Child node 2</li>
			        </ul>
			      </li>
			      <li>Root node 2</li>
			    </ul>
		  	</div>
		  	<button>demo button</button>
        </div>
    </div>
    <!-- E : content -->
</div>
</html>