<form id="insertAnswerForm" name="insertAnswerForm" method="post" th:action="@{ {basicPath}/{mcd}/insertReply ( basicPath = ${basicPath}, mcd = ${mcd} ) }" >	
<div class="modal-body">
	<input type="hidden" class="detailData" name="parntsReviewSn"	/>
	<input type="hidden" class="detailData" name="openYn"			/>
	<input type="hidden" class="detailData" name="classSn"			/>
	<input type="hidden" name="step" value="2"/>
	<div class="field item form-group manage">
		<label class="col-form-label col-md-2 col-sm-3 label-align">
			분류
		</label>
		<div class="col-form-label col-md-6 col-sm-6">
			<span class="detailData" name="ctgryNm" ></span><span name="depth2"> [ <em class="detailData" name="crseNm"></em> ]</span>
		</div>
	</div>
	
	<div class="field item form-group manage">
		<label class="col-form-label col-md-2 col-sm-3 label-align">
			클래스
		</label>
		<div class="col-form-label col-md-6 col-sm-6">
			<span class="detailData" name="classSj" ></span>
		</div>
	</div>
	<div class="field item form-group manage">
		<label class="col-form-label col-md-2 col-sm-3 label-align">
			리뷰자 
		</label>
		<div class="col-form-label col-md-6 col-sm-6">
			<span class="detailData" name="userNm" ></span> (<span class="detailData" name="userId"></span>)
		</div>
	</div>
	
	<div class="field item form-group manage">
		<label class="col-form-label col-md-2 col-sm-3 label-align">
			등록일시 
		</label>
		<div class="col-form-label col-md-6 col-sm-6">
			<span class="detailData" name="regFullDt" ></span>
		</div>
	</div>
	
	<div class="field item form-group manage">
		<label class="col-form-label col-md-2 col-sm-3 label-align">
			리뷰내용 
		</label>
		<div class="col-form-label col-md-10 col-sm-6">
			<textarea class="detailData no-textarea" name="parntsReviewCn" rows="6" readonly="readonly"></textarea>
		</div>
	</div>
</div>
<div class="modal-header">
	<h4 class="modal-title">답변</h4>
</div>
<div class="modal-body">
	<!-- 기존 답변 추가 -->
	<div class="replyList replyData">
		<div class="field item form-group manage">
			<label class="col-form-label col-md-2 col-sm-3 label-align">
				답변 
			</label>
			<div class="col-form-label col-md-10 col-sm-6">
				<textarea class="detailData" name="reviewCn" rows="6"></textarea>
			</div>
		</div>
		<!-- 기존 답변 추가 -->
		<div class="field item form-group manage">
			<label class="col-form-label col-md-2 col-sm-3 label-align">
				답변 
			</label>
			<div class="col-form-label col-md-10 col-sm-6">
				<textarea class="detailData" name="reviewCn" rows="6"></textarea>
			</div>
		</div>
		<!-- 기존 답변 추가 -->
		<div class="field item form-group manage">
			<label class="col-form-label col-md-2 col-sm-3 label-align">
				답변 
			</label>
			<div class="col-form-label col-md-10 col-sm-6">
				<textarea class="detailData" name="reviewCn" rows="6"></textarea>
			</div>
		</div>
	</div>
	
	<!-- 답변 추가 -->
	<div class="field item form-group manage">
		<label class="col-form-label col-md-3 col-sm-3 label-align">
			답변 작성
		</label>
		<div class="col-form-label col-md-9 col-sm-6">
			<textarea class="detailData" name="reviewCn" rows="6"></textarea>
		</div>
	</div>
	
</div>
</form>