<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{pon/layout/layout_main}">

<head layout:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">

	<title layout:fragment="title">피오니키즈</title>

	<!-- css -->
	<link rel="stylesheet" href="/pon/common/css/reset.css">
	<link rel="stylesheet" href="/pon/common/css/common.css">
	<link rel="stylesheet" href="/pon/common/css/style.css">
	<link rel="stylesheet" href="/pon/npm/swiper11/css/swiper-bundle.min.css">

</head>
<title layout:fragment="title">피오니키즈 - pioneerkids</title>
<!-- S : Javascript functions	-->
<div layout:fragment="script">
	<!-- js -->
</div>

<!-- E : Javascript functions	-->
<div layout:fragment="content" class="sub_box">
	<div class="top_tit">
		<div class="star"> 
			<img src="/pon/common/image/bell_color.svg" alt="배경아이콘_종">
		</div>
		<h3 th:text="${currentMenu != null && currentMenu.menuNm!= null } ? ${currentMenu.menuNm} : '게시판' " >메뉴명</h3>
		<span th:text="${currentMenu != null && currentMenu.menuNm!= null } ? ${currentMenu.menuDc} : '피오니키즈의 다양한 혜택을 놓치지 마세요.' " >메뉴설명</span>
		<img class="bg_ico1" src="/pon/common/image/star_3d_color.png" alt="배경아이콘_별_3D">
		<img class="bg_ico2" src="/pon/common/image/atom2.png" alt="배경아이콘_원자">
	</div>
	<div class="class_1dep">
		<div class="notice_article">
			<div class="search_article">
				<div class="search_input no-bd-top">
					<input type="text" placeholder="검색어를 입력하세요">
					<span>검색</span>
				</div>
			</div>
			<div class="card_list card_box" th:classappend="${ (resultList.isEmpty())} ? 'no-data'">
				<div class="card_item" th:each=" data : ${resultList} ">
					<div class="item_img">
						<img th:src="@{/getImage(atchFileSn=${data.atchFileSn})}" alt="클래스이미지" th:onclick="|detailClass(${data.nttSn});|">
					</div>
					<div class="item_info" th:onclick="|detailClass(${data.nttSn});|" >
						<p th:text="${data.nttNm}">한국근현대미술전! 엄마 우리나라에서 제일 비싼 그림은 누가 그렸어요?</p>
					</div>
				</div>
				<div th:unless = "${!resultList.isEmpty()}" class="no-data">
					데이터가 존재하지 않습니다. 
				</div>
				<div class="bg_ico3">
					<img src="/pon/common/image/space_one.png" alt="">
				</div>
			</div>
		</div>
		<div class="paging_box" th:insert="~{pon/layout/tiles/paging :: paging('listForm', ${resultList})}">
		</div>
	</div>
</div>

</html>