<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<title layout:fragment="title">pioneerkids (Admin-bbs) - 게시판 등록</title>
<!-- S : Javascript functions	-->
<script layout:fragment="script">
    // DOM 준비 된 이후 실행
    $( function () {
		

     });		


</script>
<!-- E : Javascript functions	-->
<th:block layout:fragment="content">

    <!-- S: 메인 등록 영역 -->
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_content">
                    <form id="insertForm" name="insertForm" method="post"  th:action="@{ {basicPath}/mcd/insert ( basicPath = ${basicPath} ) }" th:object="${bbsSaveReqDto}">
                       <div class="field item form-group">
                           <label class="col-form-label col-md-2 col-sm-3 label-align"><span class="required">*</span>게시판 구분</label>
                           <div class="col-md-6 col-sm-6 ">
                               <div class="btn-group radiobox">
                                    <input type="radio" id="bbsSeCd1" name="bbsSeCd" value="01" class="join-btn" required>
                                    <label for="bbsSeCd1" class="btn btn-outline-purple w100p"  data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">포토형</label>
                                    <input type="radio" id="bbsSeCd2" name="bbsSeCd" value="02" class="join-btn" required>
                                    <label for="bbsSeCd2" class="btn btn-outline-purple w100p"  data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">리스트형</label>
                                </div>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3  label-align"><span class="required">*</span>게시판 이름</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="input" id="bbsNm" name="bbsNm" title="Minimum 8 Characters Including An Upper And Lower Case Letter, A Number And A Unique Character"  required/>
                                <span style="position: absolute;right:15px;top:7px;" onclick="hideshow()">
									<i id="slash" class="fa fa-eye-slash" style="display:none;"></i>
									<i id="eye" class="fa fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3  label-align"><span class="required">*</span>게시판 안내문구</label>
                            <div class="col-md-6 col-sm-6">
                                <textarea class="form-control"  name="bbsGdcc" id="bbsGdcc"  required>
                                </textarea>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align"><span class="required">*</span>게시판 설명</label>
                            <div class="col-md-6 col-sm-6">
                                <textarea class="form-control" required
                                       placeholder="게시판 설명을 입력해주세요." id="bbsDc"  name="bbsDc">
                                </textarea>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align"><span class="required">*</span>댓글 여부</label>
                            <div class="col-md-2 col-sm-4">
								 <div class="btn-group radiobox">
                                    <input type="radio" id="replySetYn1" name="replySetYn" value="Y" class="join-btn" required>
                                    <label for="replySetYn1" class="btn btn-outline-purple w100p"    data-toggle-class="btn-primary"  data-toggle-passive-class="btn-default">사용</label>
                                    <input type="radio" id="replySetYn2" name="replySetYn" value="N" class="join-btn" required>
                                    <label for="replySetYn2" class="btn btn-outline-purple w100p"  data-toggle-class="btn-primary"   data-toggle-passive-class="btn-default">미사용</label>
                                </div>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align"><span  class="required">*</span>공개 여부</label>
                            <div class="col-md-2 col-sm-4">
                            	 <div class="btn-group radiobox">
                                    <input type="radio" id="openYn1" name="openYn" value="Y" class="join-btn" required>
                                    <label for="openYn1" class="btn btn-outline-purple w100p" data-toggle-class="btn-primary"  data-toggle-passive-class="btn-default">공개</label>
                                    <input type="radio" id="openYn2" name="openYn" value="N" class="join-btn" required>
                                    <label for="openYn2" class="btn btn-outline-purple w100p" data-toggle-class="btn-primary"  data-toggle-passive-class="btn-default">비공개</label>
                                </div>
                             </div>   
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align"><span class="required">*</span>사용 여부</label>
                            <div class="col-md-2 col-sm-4">
								 <div class="btn-group radiobox">
                                    <input type="radio" id="useYn1" name="useYn" value="Y" class="join-btn" required>
                                    <label for="useYn1" class="btn btn-outline-purple w100p"  data-toggle-class="btn-primary"  data-toggle-passive-class="btn-default">사용</label>
                                    <input type="radio" id="useYn2" name="useYn" value="N" class="join-btn" required>
                                    <label for="useYn2" class="btn btn-outline-purple w100p"  data-toggle-class="btn-primary"  data-toggle-passive-class="btn-default">미사용</label>
                                </div>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                         <!-- 저장버튼 -->
                        <div class="col-md-12 bottom-btn-group">
                            <!-- bottom left area -->
                            <div class="col-md-2 col-sm-3 text-left">
                                <a th:href="@{ {basicPath}/mcd/list ( basicPath = ${basicPath} ) }" class="btn btn-white w120p" >목록</a>
                            </div>
                            <!-- bottom center area -->
                            <div class="col-md-8 col-sm-6 text-center">
                                <a th:href="@{ {basicPath}/mcd/list ( basicPath = ${basicPath} ) }" class="btn btn-white w120p" >취소</a>
                                <button type="submit" class="btn btn-purple w120p">저장</button>
                            </div>
                            <!-- bottom right area -->
                            <div class="col-md-2 col-sm-3 text-right">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- E: 메인 등록 영역 -->
</th:block>
</html>