
.mt_5p { margin-top : 5px !important;}
.mt_10p { margin-top : 10px !important;}
.mt_15p { margin-top : 15px !important;}
.mt_20p { margin-top : 20px !important;}
.mt_25p { margin-top : 25px !important;}
.mt_30p { margin-top : 30px !important;}
.mt_35p { margin-top : 35px !important;}
.mt_40p { margin-top : 40px !important;}
.mt_45p { margin-top : 45px !important;}
.mt_50p { margin-top : 50px !important;}



.ml_5p { margin-left : 5px !important;}
.ml_10p { margin-left : 10px !important;}
.ml_15p { margin-left : 15px !important;}
.ml_20p { margin-left : 20px !important;}
.ml_25p { margin-left : 25px !important;}
.ml_30p { margin-left : 30px !important;}
.ml_35p { margin-left : 35px !important;}
.ml_40p { margin-left : 40px !important;}
.ml_45p { margin-left : 45px !important;}
.ml_50p { margin-left : 50px !important;}


.mr_5p { margin-right : 5px !important;}
.mr_10p { margin-right : 10px !important;}
.mr_15p { margin-right : 15px !important;}
.mr_20p { margin-right : 20px !important;}
.mr_25p { margin-right : 25px !important;}
.mr_30p { margin-right : 30px !important;}
.mr_35p { margin-right : 35px !important;}
.mr_40p { margin-right : 40px !important;}
.mr_45p { margin-right : 45px !important;}
.mr_50p { margin-right : 50px !important;}


.mb_0p { margin-bottom: 0px !important;}
.mb_5p { margin-bottom: 5px !important;}
.mb_10p { margin-bottom : 10px !important;}
.mb_15p { margin-bottom : 15px !important;}
.mb_20p { margin-bottom : 20px !important;}
.mb_25p { margin-bottom : 25px !important;}
.mb_30p { margin-bottom : 30px !important;}
.mb_35p { margin-bottom : 35px !important;}
.mb_40p { margin-bottom : 40px !important;}
.mb_45p { margin-bottom : 45px !important;}
.mb_50p { margin-bottom : 50px !important;}

.pt_5p { padding-top : 5px !important;}
.pt_10p { padding-top : 10px !important;}
.pt_15p { padding-top : 15px !important;}
.pt_20p { padding-top : 20px !important;}
.pt_25p { padding-top : 25px !important;}
.pt_30p { padding-top : 30px !important;}
.pt_35p { padding-top : 35px !important;}
.pt_40p { padding-top : 40px !important;}
.pt_45p { padding-top : 45px !important;}
.pt_50p { padding-top : 50px !important;}



.pl_5p { padding-left : 5px !important;}
.pl_10p { padding-left : 10px !important;}
.pl_15p { padding-left : 15px !important;}
.pl_20p { padding-left : 20px !important;}
.pl_25p { padding-left : 25px !important;}
.pl_30p { padding-left : 30px !important;}
.pl_35p { padding-left : 35px !important;}
.pl_40p { padding-left : 40px !important;}
.pl_45p { padding-left : 45px !important;}
.pl_50p { padding-left : 50px !important;}


.pr_5p { padding-right : 5px !important;}
.pr_10p { padding-right : 10px !important;}
.pr_15p { padding-right : 15px !important;}
.pr_20p { padding-right : 20px !important;}
.pr_25p { padding-right : 25px !important;}
.pr_30p { padding-right : 30px !important;}
.pr_35p { padding-right : 35px !important;}
.pr_40p { padding-right : 40px !important;}
.pr_45p { padding-right : 45px !important;}
.pr_50p { padding-right : 50px !important;}

.pb_5p { padding-bottom: 5px !important;}
.pb_10p { padding-bottom : 10px !important;}
.pb_15p { padding-bottom : 15px !important;}
.pb_20p { padding-bottom : 20px !important;}
.pb_25p { padding-bottom : 25px !important;}
.pb_30p { padding-bottom : 30px !important;}
.pb_35p { padding-bottom : 35px !important;}
.pb_40p { padding-bottom : 40px !important;}
.pb_45p { padding-bottom : 45px !important;}
.pb_50p { padding-bottom : 50px !important;}


.w_55r { width: 55%;}



/* layer popup */
.pop_dim {
/*    display: none;*/
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.51);
    z-index: 5;
}

/* layer popup */
.pop_dim_lv2 {
/*    display: none;*/
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.51);
    z-index: 101;
}

.show_layer , .hide_layer, .show_layer_lv2, .hide_layer_lv2 {
    cursor: pointer;
}


.pop_wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40rem;
    min-width: 23rem;
    min-height: 26rem;
    max-width: 95vw;
    max-height: 80vh;
    z-index: 10;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 1rem 1rem 1.5rem;
    box-sizing: border-box;
}

.pop_wrap.join {
	z-index:20;
}



.pop_wrap.login {
    min-width: 22rem;
    width: 27rem;
}


.pop_wrap .pop_close {
    position: absolute;
    top: 0.8rem;
    right: 0.5rem;
    border: none;
    background: none;
    cursor: pointer;
}

.pop_wrap .pop_content {
    width: 100%;
    max-height: 70vh;
    height: auto;
    overflow-y: hidden;
    padding-right: 15px;
    margin-right: -15px;
    position: relative;
    max-height: 500px;
}

.pop_wrap .pop_header .pop_title {
    color: rgb(187 139 227);
    font-size: 1.3rem;
    margin-bottom: 1.8rem;
    margin-top: 0.8rem;
    font-family: 'yg-jalnan';
}

.login_wrap {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.login_wrap .kakao {
    background-color: rgb(254, 229, 0);
    background-image: url(../image/kakao.png);
    background-size: 1.4rem;
    background-position: 13px 50%;
    background-repeat: no-repeat;
    border: 0px;
    color: rgb(60, 30, 30);
}

.login_wrap .naver {
    background-color: rgb(27, 192, 2);
    color: rgb(255, 255, 255);
    background-image: url(../image/naver.png);
    background-size: 1.2rem;
    background-position: 15px 50%;
    border: 0px;
    background-repeat: no-repeat;
}


.login_wrap .or {
   	display: flex;
    position: relative;
    padding: 0.2rem 0px;
    width: 90%;
    justify-content: center;
    box-sizing: border-box;
}
.login_wrap .or::before {
    content: "";
    width: 100%;
    height: 0.1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-bottom: 1px dashed rgb(221 215 223);
}

.login_wrap .input_wrap {
    display: flex;
    flex-flow: column wrap;
    gap: 0.4rem;
    width: 100%;
}

.login_wrap .login_btn {
    background-color: rgb(74 163 170);
    color: rgb(255, 255, 255);
    border: 0px;
}

.login_wrap button.btn_sns {
    padding: 0.8rem 0px;
    width: 100%;
    margin: 0.2rem 0px;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}

.login_wrap button.btn_login_default {
	padding: 1.9rem 0px;
    width: 100%;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 500;
}


.pop_footer .user_wrap {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    width: 100%;
    margin-top: 3.6rem;
}

.pop_footer .user_wrap a {
    color: rgb(135, 135, 135);
}

.pop_footer .user_wrap a {
    color: rgb(135, 135, 135);
}

.layer_popup {
	z-index:100;
}
.layer_popup.lv2 {
	z-index:1000;
}

.chatWrap {
	position: fixed;
	bottom: 90px;
	right: 24px;
	height: calc((100% - 110px));
	width: 390px;
	background-color: #fff;
	box-shadow: rgba(255, 255, 255, 0.12) 0px 0px 2px 0px inset, rgba(0, 0, 0, 0.05) 0px 0px 2px 1px, rgba(0, 0, 0, 0.3) 0px 12px 60px;
	border-radius: 20px;
	padding: 20px 0;
	box-sizing: border-box;
	max-height: 700px;
	font-family: "NanumSquare";
	z-index:9999;
/*	transition: 0.3s;*/
}

.chatWrap.show{opacity: 1; visibility: visible;}
.chatWrap .chat_box{position: relative;height: 100%;}
.chatWrap .chat_nav{position: absolute; bottom: 0; left: 0; width: 100%; }
.chatWrap .chat_nav .tabnav {display: flex;justify-content: space-between; width: 100%; align-items: center; line-height: 1.2; font-weight: 600; }
.chatWrap .chat_nav .tabnav li {text-align: center; flex: 1;}
.chatWrap .chat_nav .tabnav li a span{font-size: 14px; margin-top: 8px;}
.chat_tit_form input{border: none; outline: none; border: none;}
.chat_tit_form select{outline: none;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    padding: 10px;
    background-color: #f7f7f7;}
.chat_tit_form select:focus{border: 2px solid #bb8be3;}
.chat_tit_form input, .chat_disc_form textarea {width: 100%; padding: 10px; box-sizing: border-box; border-radius: 8px; outline: none;  resize: none;}
.chatWrap .chat_top_box{display: flex;padding: 10px 20px; border-bottom: 1px solid #E6E6E6; }
.chatWrap .chat_top_box .logo{max-width: 100px;}

.home_ico_active, .chat_ico_active ,.faq_ico_active{display: none;}
.chat_nav_ico img{max-width: 24px;}
.chatWrap .chat_nav .tabnav li a {color: #8D8D8D;}
.chatWrap .chat_nav .tabnav li a.active {color: #000;}
.chat_inquiry button{background: linear-gradient(90deg, rgb(128, 216, 251) 48.41%, rgb(128, 195, 251)) 100% center; border: none;color: none;cursor: pointer; padding: 6px 20px; color: #fff; border-radius: 8px;}
.chat_top_box{display: flex; align-items: center; justify-content: space-between; }
.send_btn{text-align: right; margin-top: 10px;}

.send_btn button{background: linear-gradient(90deg, rgb(128, 216, 251) 48.41%, rgb(128, 195, 251)) 100% center; border: none;color: none;cursor: pointer; padding: 6px 20px; color: #fff; border-radius: 8px;}
.chat_disc_form{height: 100%; margin-top: 10px;}

.chat_tit_form input{background-color: rgba(0, 0, 0, 0.03); border: 1px solid #c5c5c5;}
.chat_tit_form input:focus{border: 2px solid #bb8be3;}
.chat_disc_form textarea{background-color: rgba(0, 0, 0, 0.03); border: none; min-height: 400px; border: 1px solid #c5c5c5;}
.chat_disc_form textarea:focus{border: 2px solid #bb8be3;}

.chat_form_box{padding:10px 20px;}
.chatWrap #tab02, .chatWrap #tab03{padding: 20px;}
.chatWrap .chat_nav .tabnav li a .chat_nav_ico img:last-child{display: none;}
.chatWrap .chat_nav .tabnav li a.active .chat_nav_ico img:last-child{display: block;}
.chatWrap .chat_nav .tabnav li a.active .chat_nav_ico img:first-child{display: none;}
.chatWrap .chat_nav .tabnav li a{display: flex; flex-direction: column; align-items: center;}

.chatWrap .chat_nav .tabnav li a .chat_nav_ico img{vertical-align : bottom}

.chat_close{position: fixed; bottom: 20px;right: 24px;box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.15) 0px 8px 30px; z-index: 10;    background: #fff;padding: 10px;box-sizing: border-box;border-radius: 20px;cursor: pointer; transition: 0.3s;}


.icon_inquiry{position: fixed; bottom: 90px; right: 24px; }


@media(max-width:500px){
    .chatWrap.show{width: 90%;}   
    .chat_disc_form textarea{min-height: auto;}
    .chatWrap{height: calc(100% - 200px);}
    
}





.hidden, caption, legend {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.pop_wrap .pop_header {
	text-align: center;
}

.pop_header img{
	text-align: center;
    position: relative;
    width: 160px;
}

.login_wrap .input_wrap input {
    height: 2.2rem;
    border-radius: 6px;
    border-color: #c6c3c3;
    border-style: solid;
    border-width: 1px;
    padding-left: 9px;
}

.pop_content .sns_login_wrap {
	gap:20px;
	width: 90%;
}

.pop_content .default_login_wrap {
	display: flex;
    gap: 7px;
    width: 90%;
    padding-top: 2px;
}

.pop_content .default_login_wrap .input_wrap{
	width:77%;
}

.pop_content .default_login_wrap .login_btn_wrap{
	width:30%;
}


.pop_wrap .pop_header {
    position: relative;
    top: 12px;
    width: calc(100% - 80px);
    left: 50px;
}



/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* layer_join  */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */


.pop_wrap.join {
    min-width: 28rem;
    width: 32rem;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 24rem;
    min-height: 26rem;
    max-width: 95vw;
    max-height: 91vh;
    z-index: 10;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 1rem 1rem 1.5rem;
    box-sizing: border-box;
}



.join_wrap {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	gap: 0rem;
}

.join_wrap .kakao {
    background-color: rgb(254, 229, 0);
    background-image: url(../image/kakao.png);
    background-size: 1.4rem;
    background-position: 13px 50%;
    background-repeat: no-repeat;
    border: 0px;
    color: rgb(60, 30, 30);
}

.join_wrap .naver {
    background-color: rgb(27, 192, 2);
    color: rgb(255, 255, 255);
    background-image: url(../image/naver.png);
    background-size: 1.2rem;
    background-position: 15px 50%;
    border: 0px;
    background-repeat: no-repeat;
}


.join_wrap .or_text {
    display: flex;
    position: relative;
    padding: 1rem 0px;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
}

.join_wrap .input_wrap {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    width: 100%;
}

.join_wrap .login_btn {
    background-color: rgb(74 163 170);
    color: rgb(255, 255, 255);
    border: 0px;
}

.join_wrap button.btn_sns {
	padding: 0.6rem 0px;
    width: 100%;
    margin: 0.6rem 0px;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 500;
}

.join_wrap button.btn_login_default {
	padding: 2.2rem 0px;
    width: 100%;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 500;
}


.join_wrap .user_wrap {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    width: 90%;
}

.join_wrap .user_wrap a {
    color: rgb(135, 135, 135);
}

.join_wrap .user_wrap a {
    color: rgb(135, 135, 135);
}


.join_wrap .input_wrap input {
    height: 2.2rem;
    border-radius: 6px;
    border-color: #c6c3c3;
    border-style: solid;
    border-width: 1px;
    padding-left: 9px;
}

.pop_content .sns_join_wrap {
	gap:20px;
	width: 90%;
}

.pop_content .default_join_wrap {
    display: flex;
    gap: 20px;
    width: 90%;
    padding-top: 2px;
}

.pop_content .default_join_wrap .input_wrap{
	width:65%;
}

.pop_content .default_join_wrap .login_btn_wrap{
	width:30%;
}


.pop_wrap .pop_content .join_wrap {
	min-height: 36rem 
}

.pop_wrap.join .pop_content {
	width: 100%;
    max-height: 70vh;
    height: 60vh;
    overflow-y: auto;
    padding-right: 0px;
    margin-right: 0px;
    position: relative;
	margin-bottom: 12px;
}

.filebox {
	text-align: center;
}

/* imaged preview */
.filebox .upload-display {  /* 이미지가 표시될 지역 */
  margin-bottom: 5px;
}

@media(min-width: 768px) {
  .filebox .upload-display {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.filebox .upload-thumb-wrap {  /* 추가될 이미지를 감싸는 요소 */
  display: inline-block;
  width: auto;
  padding: 2px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  max-width: 14.5rem;
}

.filebox.bn-img .upload-thumb-wrap {  /* 추가될 이미지를 감싸는 요소 - 배너 이미지  */
  max-width: 220px !important;
}



.filebox .upload-display img {  /* 추가될 이미지 */
  display: block;
  max-width: 100%;
  max-height:232px;
  width: 100%;
  height: auto;
}

/* 프로필이미지 (이미지 없는 기본 Default 이미지) */
.upload-thumb.noimg {
  content: url('/common/images/base/no-image.gif');
  width: 100%;
  height: 100%;
}

.input-file-name {
    height: 1.6rem;
    width: 10.5rem;
    font-size: 11px;
}

.join_wrap .btn, .pop_content .pop_footer .btn {
	color: #fff;
    background-color: #9674f1;
    border-color: #a08bd8;
    border-radius: 4px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.275rem 0.65rem;
    padding-bottom:0.1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}



.join_wrap input {
    height: 2.2rem;
    border-color: #dedbdb;
    border-style: solid;
    border-width: 1px;
    border-left-width: 2px;
    border-right-width:2px;
    padding-left: 9px;
    width: 70%;
    min-width:150px;
}

.join_wrap input.first {
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-width: 2px;
}

.join_wrap input:last-of-type {
    border-bottom-width: 2px;
}
.join_wrap.last {
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.join_wrap input::placeholder {
	color:#d8d4d4;
}




 /* S : 라디오 박스 custom */

.join-btn {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none; 
  width: 100px !important;  
  }
  
  
.btn {
	 cursor: pointer;
  }

.radiobox input[type=radio]+label:hover,
.radiobox input[type=radio]:checked+label:hover,
.radiobox input[type=radio]+label:focus,
.radiobox input[type=radio]:focus,
.radiobox input[type=radio]:checked+label:focus{
  background-color: #8d65ff;
  border-color : #7361a7;
  color:#fff;
  box-shadow: 0 0 0 0.2rem rgba(173, 143, 253, 0.5);
}
.radiobox input[type=radio]+label{
  background-color: #fff;
  color: #bcbcbc;
  border-left-width: 1px;
  border-right-width: 1px;
  margin: 0;
  float: left;
  border-color:#dedbdb !important
}
.radiobox label.btnFirst{
  border-left-width: 2px !important;
}
.radiobox label.btnLast{
  border-right-width: 2px !important;
}
.radiobox input[type=radio]:checked+label{
  color: #fff;
  background-color: #b098f2;;
  border-color: #a08bd8;
}

input[type="radio"][disabled]:checked+label{
  color: #fff;
  background-color: #c5c5c5;
  border-color: #684370;
}

.radiobox input[type=radio]:checked+label.readonly{
  color: #fff;
  background-color: #8c8a8f;
  border-color: #323232;
}

/*label.readonly{*/
/*  color: #fff;*/
/*  background-color: #707070;*/
/*  border-color: #a08bd8;*/
/*}*/

.radiobox input[type=radio].active{
  color: #fff;
  background-color: #9674f1;
  border-color: #a08bd8;
}

.radiobox>.btn:nth-of-type(1) {
  border-radius: 3px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.radiobox>.btn:nth-last-of-type(1) {
  border-radius: 3px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.radiobox>.btn{
	width: 199.8px;
}

/* S : outline setting */
.btn-outline-purple:not(:disabled):not(.disabled).active, .btn-outline-purple:not(:disabled):not(.disabled):active, .show>.btn-outline-purple.dropdown-toggle {
  color: #fff;
  background-color: #9674f1;
  border-color: #a08bd8;
}
.btn-outline-purple:hover {
  color: #fff;
  background-color: #8d65ff;
  border-color : #7361a7;
/*  box-shadow: 0 0 0 0.2rem rgba(173, 143, 253, 0.5);*/
}
.btn-outline-purple:active, .btn-outline-purple:focus,.btn-outline-purple.focus  {
  color: #fff;
/*  box-shadow: 0 0 0 0.2rem rgba(173, 143, 253, 0.5);*/
}
/* E : outline setting */
/* E : 라디오 박스 custom */


/* S : selectbox 디자인 */

.pop_content select {
	width : 93.2%;
	height : 2.2rem;
	padding : 5px;
	border : 1px solid #dedbdb;
	border-left-width : 2px;
	border-right-width : 2px;
	border-radius : 3px;
	-moz-appearance : none;
	appearance : none;
	padding-left : 9px;
	color : #d8d4d4;
}


.pop_content select:focus, .pop_content select.choiced {
	color : #000;
}

select.displaySnsType {
    color: #d20101 !important;
    font-weight: 600;
    font-size: 14px;
    background: #c8c6c6;
}

/* E : selectbox 디자인 */

/* 자녀정보 */
.join_wrap.add_chldrn{
    display: flex;
    flex-direction: column;
/*    gap: 2rem;*/
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
    padding: 0.5rem 1.5rem 0.5rem;
    min-height: auto !important;
    width: 55%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.join_chldrn_title_wrap {
	margin-top: 2vh;
    margin-bottom: 1vh;
    text-align: center;
}

.join_chldrn_title_wrap .sub_title {
	color: rgb(187 139 227);
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    margin-top: 1.5rem;
    font-family: 'yg-jalnan';
}

.plus_chldrn_btn {
    width: 3vw;
    height: 3vw;
    border: dashed;
    border-color: #e2dfdf;
    padding: 1.4vw;
    cursor: pointer;
}





/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* layer_addChldrn  */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */


.pop_wrap.addChldrn {
    min-width: 28rem;
    width: 23rem;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 24rem;
    min-height: 26rem;
    max-width: 95vw;
    max-height: 85vh;
    z-index: 1000;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 1rem 1rem 1.5rem;
    box-sizing: border-box;
}



.addChldrn_wrap {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	gap: 0rem;
}

.addChldrn_wrap .kakao {
    background-color: rgb(254, 229, 0);
    background-image: url(../image/kakao.png);
    background-size: 1.4rem;
    background-position: 13px 50%;
    background-repeat: no-repeat;
    border: 0px;
    color: rgb(60, 30, 30);
}

.addChldrn_wrap .naver {
    background-color: rgb(27, 192, 2);
    color: rgb(255, 255, 255);
    background-image: url(../image/naver.png);
    background-size: 1.2rem;
    background-position: 15px 50%;
    border: 0px;
    background-repeat: no-repeat;
}


.addChldrn_wrap .or_text {
    display: flex;
    position: relative;
    padding: 1rem 0px;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
}

.addChldrn_wrap .input_wrap {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    width: 100%;
}

.addChldrn_wrap .login_btn {
    background-color: rgb(74 163 170);
    color: rgb(255, 255, 255);
    border: 0px;
}

.addChldrn_wrap button.btn_sns {
	padding: 0.6rem 0px;
    width: 100%;
    margin: 0.6rem 0px;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 500;
}

.addChldrn_wrap button.btn_login_default {
	padding: 2.2rem 0px;
    width: 100%;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 500;
}


.addChldrn_wrap .user_wrap {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    width: 90%;
}

.addChldrn_wrap .user_wrap a {
    color: rgb(135, 135, 135);
}

.addChldrn_wrap .user_wrap a {
    color: rgb(135, 135, 135);
}


.addChldrn_wrap .input_wrap input {
    height: 2.2rem;
    border-radius: 6px;
    border-color: #c6c3c3;
    border-style: solid;
    border-width: 1px;
    padding-left: 9px;
}

.pop_content .sns_addChldrn_wrap {
	gap:20px;
	width: 90%;
}

.pop_content .default_addChldrn_wrap {
    display: flex;
    gap: 20px;
    width: 90%;
    padding-top: 2px;
}

.pop_content .default_addChldrn_wrap .input_wrap{
	width:65%;
}

.pop_content .default_addChldrn_wrap .login_btn_wrap{
	width:30%;
}


.pop_wrap .pop_content .addChldrn_wrap {
	min-height: 27rem 
}

.pop_wrap.addChldrn .pop_content {
	width: 100%;
    max-height: 70vh;
    height: 53vh;
    overflow-y: auto;
    padding-right: 0px;
    margin-right: 0px;
    position: relative;
}

.filebox {
	text-align: center;
}

/* imaged preview */
.filebox .upload-display {  /* 이미지가 표시될 지역 */
  margin-bottom: 5px;
}

@media(min-width: 768px) {
  .filebox .upload-display {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.addChldrn_wrap .filebox .upload-thumb-wrap {  /* 추가될 이미지를 감싸는 요소 */
  display: inline-block;
  width: auto;
  padding: 2px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  max-width: 10rem;
}

.addChldrn_wrap .filebox.bn-img .upload-thumb-wrap {  /* 추가될 이미지를 감싸는 요소 - 배너 이미지  */
  max-width: 220px !important;
}



.addChldrn_wrap .filebox .upload-display img {  /* 추가될 이미지 */
  display: block;
  max-width: 100%;
  max-height: 160px;
  width: 100%;
  height: auto;
}

/* 프로필이미지 (이미지 없는 기본 Default 이미지) */
.upload-thumb.noimg {
  content: url('/common/images/base/no-image.gif');
  width: 100%;
  height: 100%;
}

.input-file-name {
    height: 1.6rem;
    width: 10.5rem;
    font-size: 11px;
}
.addChldrn_wrap .btn {
	color: #212529;
/*    background-color: #9674f1;*/
    background-color: transparent;
    border-color: #a08bd8;
    border-radius: 4px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.275rem 0.65rem;
    padding-bottom:0.1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}



.addChldrn_wrap input {
    height: 2.2rem;
    border-color: #dedbdb !important;
    border-style: solid;
    border-width: 1px;
    border-left-width: 2px;
    border-right-width:2px;
    padding-left: 9px;
    width: 90%;
    font-size: 11px;
}

.addChldrn_wrap input:first-of-type {
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-width: 2px;
}

.addChldrn_wrap input:last-of-type {
    border-bottom-width: 2px;
}



.addChldrn_wrap input::placeholder {
	color:#d8d4d4;
}




 /* S : 라디오 박스 custom */

.addChldrn-btn {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none; 
  width: 190px !important;  
  }
  
  .btn {
	 cursor: pointer;
  }

.radiobox input[type=radio]+label:hover,
.radiobox input[type=radio]:checked+label:hover,
.radiobox input[type=radio]+label:focus,
.radiobox input[type=radio]:focus,
.radiobox input[type=radio]:checked+label:focus{
  background-color: #8d65ff;
  border-color : #7361a7;
  color:#fff;
  box-shadow: 0 0 0 0.2rem rgba(173, 143, 253, 0.5);
}
.radiobox input[type=radio]+label{
  background-color: #fff;
  color: #bcbcbc;
  border-left-width: 1px;
  border-right-width: 1px;
  margin: 0;
  float: left;
  border-color:#dedbdb !important
}
.radiobox label.btnFirst{
  border-left-width: 2px !important;
}
.radiobox label.btnLast{
  border-right-width: 2px !important;
}
.radiobox input[type=radio]:checked+label{
  color: #fff;
  background-color: #b098f2;;
  border-color: #a08bd8;
}

input[type="radio"][disabled]:checked+label{
  color: #fff;
  background-color: #c5c5c5;
  border-color: #684370;
}

.radiobox input[type=radio]:checked+label.readonly{
  color: #fff;
  background-color: #8c8a8f;
  border-color: #323232;
}

/*label.readonly{*/
/*  color: #fff;*/
/*  background-color: #707070;*/
/*  border-color: #a08bd8;*/
/*}*/

.radiobox input[type=radio].active{
  color: #fff;
  background-color: #9674f1;
  border-color: #a08bd8;
}

.radiobox>.btn:nth-of-type(1) {
  border-radius: 3px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.radiobox>.btn:nth-last-of-type(1) {
  border-radius: 3px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.radiobox>.btn{
	width: 152px;
}
.btn-outline-purple {
    color: #a08bd8;
    border-color: #dedbdb !important;
    border-left-width: 2px !important;
    border-right-width: 2px !important;
    margin : 0px 0px 0px 0px !important;
    padding : 0px 0px 0px 0px;
    
}
.btn-purple {
  color: #fff !important;
  background-color: #9674f1 !important;
  border-color: #a08bd8 !important;
}

/* S : outline setting */
.btn-outline-purple:not(:disabled):not(.disabled).active, .btn-outline-purple:not(:disabled):not(.disabled):active, .show>.btn-outline-purple.dropdown-toggle {
  color: #fff;
  background-color: #9674f1;
  border-color: #a08bd8;
}
.btn-outline-purple:hover {
  color: #fff;
  background-color: #8d65ff;
  border-color : #7361a7;
/*  box-shadow: 0 0 0 0.2rem rgba(173, 143, 253, 0.5);*/
}
.btn-outline-purple:active, .btn-outline-purple:focus,.btn-outline-purple.focus  {
  color: #fff;
/*  box-shadow: 0 0 0 0.2rem rgba(173, 143, 253, 0.5);*/
}
/* E : outline setting */
/* E : 라디오 박스 custom */


/* S : selectbox 디자인 */

.pop_content select {
    border-radius: 0px;
	width : 73.2%;
	height : 2.5rem;
	padding : 5px;
	border : 1px solid #dddbdb;
	border-left-width : 2px;
	border-right-width : 2px;
	-moz-appearance : none;
	appearance : none;
	padding-left : 9px;
	color : #d8d4d4;
}

.pop_content select.last{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}


.pop_content select:focus, .pop_content select.choiced {
	color : #000;
}

/* E : selectbox 디자인 */

/* 자녀정보 */
.addChldrn_wrap.add_chldrn{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
    padding: 1.5rem 1.5rem 1.5rem;
    min-height: auto !important;
    width: 55%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.addChldrn_chldrn_title_wrap {
	margin-top: 2vh;
    margin-bottom: 1vh;
    text-align: center;
}

.addChldrn_chldrn_title_wrap .sub_title {
	color: rgb(187 139 227);
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    margin-top: 1.5rem;
    font-family: 'yg-jalnan';
}

.plus_chldrn_btn {
    width: 70px;
    height: 70px;
    border: dashed;
    border-color: #e2dfdf;
    padding: 1.4vw;
    cursor: pointer;
    border-radius: 30px;
}


.addChldrn_wrap .join-btn {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none; 
  width: 92px !important;  
  }
  
.addChldrn_wrap .radiobox>.btn {
	width: 142.1px;	
}
  

.chldrn_list .filebox .upload-display img {  /* 추가될 이미지 */
  max-height:83px;
  min-height:72px;
}

.chldrn_list .filebox {
	float: left;
    width: 34%;
}


.join_wrap .chldrn_list input {
    height: 1.1rem;
    width: 60%;
}

.chldrn_list .info_chldrn_list {
	border-bottom: 2px dashed #c0c0c0;
	padding-bottom: 55px;
	padding-top : 10px;
}

.chldrn_list .btn_delete {
	background-color: #ff847afc !important;
	border-radius: 6px !important;
}

.chldrn_list .right {
	float:right
}



/* S : outline setting */
.btn-outline-purple:not(:disabled):not(.disabled).active, .btn-outline-purple:not(:disabled):not(.disabled):active, .show>.btn-outline-purple.dropdown-toggle {
  color: #fff;
  background-color: #9674f1;
  border-color: #a08bd8;
}
.btn-outline-purple:hover {
  color: #fff;
  background-color: #8d65ff;
  border-color : #7361a7;
/*  box-shadow: 0 0 0 0.2rem rgba(173, 143, 253, 0.5);*/
}
.btn-outline-purple:active, .btn-outline-purple:focus,.btn-outline-purple.focus  {
  color: #fff;
/*  box-shadow: 0 0 0 0.2rem rgba(173, 143, 253, 0.5);*/
}



.radiobox input[type=radio]+label{
  background-color: #fff;
  color: #bcbcbc;
  border-left-width: 1px;
  border-right-width: 1px;
  margin: 0;
  float: left;
  border-color:#dedbdb !important
}


/* E : outline setting */





/* S : outline setting */
.btn-outline-purple:not(:disabled):not(.disabled).active, .btn-outline-purple:not(:disabled):not(.disabled):active, .show>.btn-outline-purple.dropdown-toggle {
  color: #fff !important;
  background-color: #9674f1 !important;
  border-color: #a08bd8 !important;;
}



.addChldrn_wrap .radiobox .l4px {
	position:relative;
	left:4px;
	color : #d8d4d4;
}

.addChldrn_wrap .radiobox .r4px {
	position:relative;
	right:4px;
	color : #d8d4d4;
}

.addChldrn_wrap .radiobox .r4px:hover, .addChldrn_wrap .radiobox .l4px:hover {
	color : #fff;
	
}

.plus-chldrn-btn {
	margin-top: 27px;
    margin-bottom: 20px;
}

/* 스크롤 바 전체에 대한 스타일 지정 */
.pop_content::-webkit-scrollbar {
    display:none;
}


.join_wrap .btn, .pop_footer .btn, .integrated_wrap .btn {
	color: #fff;
    background-color: #9674f1;
    border-color: #a08bd8;
    border-radius: 4px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.275rem 0.65rem;
    padding-bottom:0.1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.pop_footer {
	width: 90%;
    margin-top: 3vh;
}

.pop_footer .btn {
	width: 100%;
    padding: 0.5rem 0.5rem 0.1rem;
    padding-top: 0.4rem;
    float: left;
    left: -9px;
    position: relative;
    border-radius: 6px;
    margin-top : 10px;
}


.pop_footer {
	width: 90%;
    position: relative;
    margin: 0 auto;
}


.input_comment_wrap {
	width: 100%;
    text-align: center;
}

.input_comment {
	position: absolute;
	display: inline-block;
}

.input_comment span{
	position: relative;
    top: 10px;
    left: 8px;
    font-size: 14px;
    font-weight: 700;
}

.input_comment .text-danger {
	color: #dc3545!important;
}

.input_comment .text-primary {
    color: #007bff!important;
}

.pop_footer .join_agree_wrap {
	margin-top:20px;
}



/* S : 체크박스 */
/* input 숨겨준다 */
.pop_wrap input[type="checkbox"] {
	display:none;
}


.pop_wrap input[type="checkbox"] + label{
  cursor:pointer;
 }

.pop_wrap input[type="checkbox"] + label > span{
  vertical-align: middle;
  padding-left: 5px;
 }

/* label:before에 체크하기 전 상태 CSS */
.pop_wrap input[type="checkbox"] + label:before{
  content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #b098f2;
    border-radius: 4px;
    vertical-align: middle;
    margin-right:10px;
  }
  
/* label:before에 체크 된 상태 CSS */  
.pop_wrap input[type="checkbox"]:checked + label:before{
	content: "";
	background-color: #b098f2;
	border-color: #946ee6;
	background-repeat: no-repeat;
	background-position: 50%;
  }
  
.pop_wrap input[type="checkbox"].active{
  content:"";
  background-color:#c8b3f4;
  border-color:#9674f1;
  background-repeat: no-repeat;
  background-position: 50%;
}

.pop_wrap .cbTitle {
  padding-left:8px;
  padding-right:20px;
  position: relative;
  top: 1px;
}

.pop_wrap input[type="checkbox"][disabled] + label:before{
	content: "";
    background-color: #cdcdcd;
    border-color: #888888;
    background-repeat: no-repeat;
    background-position: 50%;
}
  
.pop_wrap input[type="checkbox"][disabled] + label{
    color: #ababab
}
  
  /* E : 체크박스 */

  
.lv2 .pop_wrap {
	z-index:1000;
}


.join .pop_footer {
/*	border-top: 3px dashed #9674f1;*/
}

.pop_wrap .dep1 {
    font-size: 1.3rem;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 15px;
}

.pop_wrap .dep2 {
	font-size: 1.1rem;
    padding-top: 5px;
    padding-left: 1.4rem;
    padding-bottom: 5px;
    color: #7334a8 !important;
}

.pop_wrap .dep3 {
	font-size: 1rem;
    padding-top: 2px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 9px;
    line-height: 1.7rem;
    word-break: keep-all;
}

.pop_wrap .dep4 {
	 font-size: 1rem;
    padding-top: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 9px;
    line-height: 1.7rem;
    word-break: keep-all;
}


.pop_wrap.termsOfUse .pop_content, .pop_wrap.personalInfo .pop_content {
	overflow-y : auto;
	color : #000;
}


.pop_wrap.termsOfUse, .pop_wrap.personalInfo {
	min-width: 30rem;
	width: 50rem;
}


.pop_wrap.completeJoin {
	min-width: 27rem;
    min-height: 15rem;
}


.completeJoin .pop_header .pop_title {
	margin-top: 38px;
}



.completeJoin_wrap .btn {
    padding: 0.8rem 0px;
    width: 100%;
    margin: 0.2rem 0px;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: rgb(150 116 241);
    color: rgb(255, 255, 255);
    background-size: 1.2rem;
    background-position: 15px 50%;
    border: 0px;
    background-repeat: no-repeat;
}


.pop_wrap input:read-only {
    background-color: #c9c6c6;
}



/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* layer_userIntegrated  */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */

.integrated_wrap .agree_wrap {
    width: 90%;
    margin-top:1rem;
}
.integrated_wrap .join_agree_wrap .agree-cb-box {
    width: 22px;
    display: inline-block;
    vertical-align: top;
}


.integrated_wrap .join_agree_wrap .agree-title {
    width: calc(100% - 30px);
    display: inline-block;
}

.integrated_wrap .btn {
    width: 100%;
    padding: 0.5rem 0.5rem 0.1rem;
    padding-top: 0.4rem;
    float: left;
    left: -9px;
    position: relative;
    border-radius: 6px;
    margin-top: 30px;
}


.pop_content .integrated_wrap .default_login_wrap {
    display: flex;
    gap: 7px;
    width: 90%;
    padding-top: 2px;
}

.pop_content .integrated_wrap .default_login_wrap .input_wrap{
    width:100%;
}

.pop_content .integrated_wrap .default_login_wrap .login_btn_wrap{
    width:30%;
}

.layer_userIntegrated .pop_wrap {
    min-height: 24rem;
}
.pop_footer.userIntegrated .user_wrap {
    margin-top: 2rem;
}


/* S : 클래스 문의 classInqry */
.pop_wrap.classInqry .pop_content {
	width: 90%;
    margin: 0 auto;
    padding-right: 0px;
}

.registClassInqry .class_info_wrap, .detailClassInqry .class_info_wrap, .classReview .class_info_wrap {
	height: 150px;
    padding: 10px;
    border: 1px dashed rgb(221 215 223);
    border-radius: 3px;
}

.registClassInqry .class_detail_box, .detailClassInqry .class_detail_box, .classReview .class_detail_box {
	height: 100%;
	gap: 20px;
}

.registClassInqry .class_detail_left, .detailClassInqry .class_detail_left, .classReview .class_detail_left {
	height: auto;
    min-width: 150px;
    width: 24%;
    
}

.registClassInqry .class_detail_left img, .detailClassInqry .class_detail_left img {
	height: auto;
    width: auto;
    max-height: 150px;
    max-width: 150px;
    border-radius: 10px;
}

.registClassInqry .title_wrap, .classInqry .content_wrap, .classReview .title_wrap {
	padding: 10px 0px;
    display: flex;
    gap: 20px;
}

.registClassInqry input {
	height: 2.2rem;
    border-radius: 3px;
    border-color: #c6c3c3;
    border-style: solid;
    border-width: 1px;
    padding-left: 9px;
    width: 100%;
}

.registClassInqry .title_wrap .title_name, .classReview .title_wrap .title_name {
	margin: auto 0;
}

.registClassInqry .title_wrap .radiobox, .classReview .title_wrap .radiobox {
	width: 100%;
}

.registClassInqry .title_wrap .radiobox .btn, .classReview .title_wrap .radiobox .btn {
	height: 1.7rem;
    border-style: solid;
    border-width: 1px;
    padding-left: 9px;
    width: 47.5%;
    border-color: #dedbdb !important;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
}

.content_wrap .textarea {
	width: 95%;
	border: 1px solid #c6c3c3;
	border-radius: 3px;
	padding: 10px;
    resize: none;
}

.class_detail_right p {
	    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}
/* S : 클래스 문의 classInqry */


.overflowY_auto {
	overflow-y: auto !important;
}

/* S : 클래스 리뷰 (상세 조회 ) */

.detail_review_box {
    padding: 5px 5px;
    border-top: 1px solid #c3c3c3;
    margin-top: 10px;
}
.detail_review_box .info_top {
    padding-top:7px;
    padding-bottom : 15px;
}

.detail_review_box .review_userNm, .detail_review_box .info_top .regDt{
    letter-spacing: 2px;
    font-size: 14px;
    color: #939393;
}
.detail_review_box .info_top .regDt{
    float : right;
    position : relative;
    top : 5px;

}

.detail_review_box .info_top .like_star{
    display: inline-block;
    position: relative;
    top: 3px;
    padding-left: 10px;
}

.detail_review_box .info_content {
    padding: 0px 15px;
    letter-spacing: 2px;
    line-height: 1.2rem;
    color: #3a3a3a;
}


.detail_review_box .like_star img{ max-width: 17px; }

/* E : 클래스 리뷰 (상세 조회 ) */





/* S :  설문조사 layer */
.layer_qestnar .pop_wrap {
	background-color : #ece5ff;
}

.layer_qestnar .pop_content {
	width: 90%;
	margin: 0 auto;
}

.layer_qestnar .pop_content .qBox {
	min-height: 40px;
    height: auto;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    padding: 20px 15px;
    background-color: #fff;
}

.layer_qestnar .pop_content .upendGdcc {
    border-bottom: 2px solid #fff;
}

.layer_qestnar .pop_content .lptGdcc {
    border-top: 2px solid #fff;
}

.layer_qestnar .pop_content .qestnarList {
    margin: 10px 0px;
}

.layer_qestnar .pop_content .upendGdccArea {
	margin-bottom: 20px;
    border-top: 10px solid #9674f1;
}

.layer_qestnar .pop_content .lptGdccArea {
	margin-top: 20px;
    border-bottom: 3px solid #8f8f8f;
}

.layer_qestnar .qestnarList .qQestnWrap{
	padding-top:10px;
	padding-bottom : 10px;
	padding-left:5px;
}

.layer_qestnar .qestnarList .qAnswerWrap{
	padding-left:5px;
}
.layer_qestnar .qestnarList .qAnswerWrap input[type='text'] {
	padding-left:5px;
	width: 90%;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    margin-top : 10px;
    height:35px;
    font-size : 15px;
}


.layer_qestnar .qestnarList .qAnswerWrap input[type='text']:focus {
	outline:none;
	border-bottom: 2px solid #876dcb;
}

.layer_qestnar .qestnarList .qAnswerWrap textarea {
	width: 90%;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    margin-top : 10px;
    height:35px;
    font-size : 15px;
    padding:10px 5px;
    height: 10rem;
}


.layer_qestnar .qestnarList .qAnswerWrap textarea:focus {
	outline:none;
	border-bottom: 2px solid #876dcb;
	border-top: 2px solid #876dcb;
}

.qestnarList .qBox {
	margin-bottom:10px;
}

.pop_wrap.qestnar .pop_footer .btn {
	width: 20%;
    padding: 0.5rem 0.5rem 0.1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    float: right;
    left: -4px;
    position: relative;
    border-radius: 6px;
    margin-top: 30px;
    height: 42px;
}



.optionList {
	min-height: 100px;
	height : auto;
    border-top: 1px dashed #b8b8b8;
    margin-top: 10px;
    padding-top:10px;
    padding-left:5px;
}

.optionList .option_item {
	margin-top: 8px;
    height: 35px;
}

.option_item .item_content {
	display: inline-block;
	width: calc(100% - 115px );
}

.option_item .item_content input {
    width: 90%;
}
.option_item .item_content input[type="text"]:read-only {
    color: #73879C;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.471;
    border: none;
    width: 90%;
}
.option_item .item_content input[type="text"]{
    border: 1px solid #979797;
    border-radius: 4px;
    padding: 3px;
    padding-left: 7px;
}

.option_item .item_manage {
	display: inline-block;
    float: right;
}


input::placeholder {
	color:#bfbfbf !important;
	font-style: italic;
}

.item_content input[type="radio"],
span {
	vertical-align: middle;
	appearance: none;
}

.pop_wrap .radioLabel {
	cursor:pointer;
}

.pop_wrap input[type="radio"]:read-only {
	background-color: #fff;
}

.item_content input[type="radio"]:checked {
  	border: 2px solid #784ccd;
  background-color: #9776f1;
}

.item_content input[type="radio"]:focus-visible {
  outline: max(2px, 0.1em) dotted tomato;
  outline-offset: max(2px, 0.1em);
}

.item_content input[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

.item_content input[type="radio"]:hover + span {
  cursor: pointer;
}

.item_content input[type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

.item_content input[type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

.item_content input[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid #9674f1;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  transition: border 0.5s ease-in-out;
}

.pop_wrap.qestnar {
	max-height: 700px;
}


/* E :  설문조사 layer */
