/* S : mypage - common */
.mypage_title {display: flex; justify-content: space-between; padding: 15px 20px; align-items: center; padding-bottom:5px;}

.mypage_detail_box {
	display: inline-block;
    font-size: 14px;
    text-align: center;
    width: 100px;
    border: 1px solid #d2d2d2;
    height: 65px;
    border-radius: 8px;
    cursor: pointer;
    }
.mypage_detail_box img {    max-width: 20px;
    cursor: pointer;
    top: 6px;
    position: relative;}

.mp_list .active {
	font-weight: bold;
    background-color: #157eb9;
    border-radius: 12px;
}
.mp_list {margin-top:10px; background-color: #1cbcc9; display: flex; align-items: center; padding: 7px 20px; border-radius: 20px; color: #555; overflow-y: scroll; -ms-overflow-style: none; /* 인터넷 익스플로러 */ scrollbar-width: none; /* 파이어폭스 */ margin-right:10px; margin-left:10px;}
.mp_list a{
	color: #fff;
    font-size: 14px;
}
.mp_list::-webkit-scrollbar {
	display: none; /* 크롬, 사파리, 오페라, 엣지 */
}


.list_area ul{display: flex; gap: 25px; height:30px;}
.list_area ul li{
	    padding: 0 15px;
    display: flex;
    white-space: nowrap;
    height: 100%;
    align-items: center;
    justify-content: center;
	
}
.list_area ul li img{margin-right: 5px;}


.img-circle{
	border-radius: 50%;
	width: 60px !important;
	height: 60px !important;
}


.profile_pic {
	display: inline-block;
}
.profile_info {
	display: inline-block;
	position: relative;
	top: -14px;
}

.profile_info button, .item_right button{
	background-color: #157EB9;
    color: #fff;
    width: auto; 
     outline: none; 
    padding: 7px;
    cursor: pointer;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px;
}

.profile_title{
	display: block;
}

.profile_title em{
	font-size: 18px;
	font-weight: bold;
}

.myInfo_detail_box {
	border-top: 2px solid #1CBCC9;
}

.mypage_item .item_cnt {
	padding-top: 15px; font-size: 12px;
}

.mypage_item {
	padding-top : 5px;
	
}

.mypage_contents {
	padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.mp_list ul li a.active {
	font-weight: bold;
}


/* E : mypage - common */


/* S : mypage - reqstList */


.mypage_list_box {
    padding-top   : 20px;
    padding-left  : 40px;
    padding-right : 40px;
}

.mypage_list_box.myChldrnInfo {
    padding-top : 0px;
}

.mypage_list_box .list{text-align: center; margin-top: 3px; border-top: 2px solid #1CBCC9;}
.mypage_list_box .list > div{background-color: #1CBCC9;padding: 10px 30px; box-sizing: border-box; display: inline-block; border-radius: 5px; color: #fff; cursor: pointer;}
.mypage_list_box .list .thumb_img{    width: 180px;
    height: 180px;
    border-radius: 10px;}

.mypage_list_box .item{display: flex; width: 100%; border-bottom: 1px solid #E3E3E3; padding: 20px; box-sizing: border-box; padding-left:10px;}
.mypage_list_box .item.no-data {
	justify-content: center;
	font-size: 1.2rem;
	font-family: 'yg-jalnan';
    color: #b26363;
}

.chldrnInfoWrap {
    display : flex;
    padding : 2rem 2rem 3rem;
    background-color : rgb(247 247 247);
    border-radius : 1rem;
    flex-direction : column;
    gap : 1.5rem;
    width : auto;
    margin-top : 10px;
}

.item_info .ctgryNm {
	    color: #1CBCC9;
    font-size: 14px;
}

.item_info .classSj {
	margin: 10px 0 15px 0;
    font-size: 16px;
    font-weight: bold;
}
.mypage_list_box .item > a{display: flex;width: 100%;}

.item_body{
	display: flex;
    justify-content: left;
    width: 100%;
    text-align: left;
    gap: 10px;
}

.item_info .sub_info {
	margin-top: 100px;
}


.sub_info .totReqstAmt {
    font-weight: bold;
}

.sub_info .totReqstAmt::after {
    content: "";
    margin-left: 0.5rem;
    position: absolute;
    top: 2px;
    right: 0px;
    width: 1px;
    height: 1.2rem;
    background: rgb(114, 114, 114);
}

.sub_info .reqstDt {
	font-size : 14px;
    color : #7c7c7c;
}

.item_right {
	margin-left : auto;
	margin-top : auto;
	min-width : 100px;
}

.item_thumb, .item_info {
	cursor: pointer;
}


/* S : 후기 작성 별점 css */
    .star-rating {
      display: flex;
      justify-content: center;
    }

    .star {
      appearance: none;
      padding: 1px;
      cursor: pointer;
    }

    .star::after {
	  font-family: 'yg-jalnan';
      content: '☆';
      color: hsl(54.96deg 99.21% 49.41%);
      font-size: 3rem;
    }

    .star:checked::after,
    .star:has(~ .star:checked)::after {
	  font-family: 'yg-jalnan';
      content: '★';
      font-size: 3rem;
    }

    .pop_wrap input:read-only {
		background-color: #fff;
	}
/* E : 후기 작성 별점 css */


 .detail_reqst_info_wrap {
	padding: 20px;
    background-color: #f6f6f6;
    border-radius: 7px;
    margin-bottom: 15px;
 }
 
 .detail_reqst_info_wrap .detail_top {
	padding-bottom: 11px;
    border-bottom: 2px solid #fff;
    padding-left: 5px;
    font-family: 'yg-jalnan';
    font-size: 20px;
    color: #6a6a6a;
 }
 
 .detail_content {
	display: flex;
    justify-content: left;
    padding: 15px 20px;
    gap : 20px;
    padding-bottom: 5px;
 }
 
 .detail_content .item_thumb {
	 width: auto;
 }
 
 .detail_content .item_thumb img {
	 width:150px;
	 height:150px;
	 border-radius: 10px ;
 }
 
 .lctre_reqst_item li {
	min-height: 30px;
    line-height: 19px;
    position: relative;
    padding-left: 130px;;
 }
 
 .lctre_reqst_item li strong {
	 position:absolute;
	 left: 0;
	 top : 0;
	 overflow: hidden;
	 width: 130px;
	 margin-left : 0px;
	 white-space: nowrap;
	 text-overflow: ellipsis;
	 color: #8f8f8f;
	 
 }
 
 .lctre_reqst_item .class_detail_item {
    padding: 0px;
    padding-bottom: 5px;
 }
 
 .lctre_reqst_item .detailAnswer{
	padding: 15px;
    padding-left: 25px;
 }
 
 .lctre_reqst_item .lctreGuide{
	font-size: 19px;
    font-weight: bold;
 }
 
 .lctre_reqst_item .detailAnswer:before{
	 display: inline-block;
    width: 6px;
    height: 6px;
    margin: 5px 2px 0 0;
    border: 2px solid #8f8f8f;
    border-width: 0 0 2px 2px;
    vertical-align: top;
    content: '';
 }
 
 
 
 .lctre_reqst_item {
	border: 1px dashed #1cbcc9;
    margin: 10px 0px;
    padding-bottom: 17px;
    border-radius: 10px;
    background-color: #ececec;
 }

/* E : mypage - reqstList */


/* S : mypage - common */

/* E : mypage - common */


/* S : mypage - common */

/* E : mypage - common */


/* S : mypage > myChldrnList  */

.chldrnInfoWrap .btn-purple {
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.275rem 0.65rem;
    padding-bottom: 0.1rem;
    font-size: 1rem;
    line-height: 1.9;
    border-radius: 0.25rem;
}

.myChldrnList{
    margin-left: 15px;
}

.myChldrnList ul li {
    background-color: #1cbcc9;
    color: #fff;
    width: auto;
    outline: none;
    padding: 7px;
    cursor: pointer;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
}

.myChldrnList ul li.active {
    background-color: #157eb9;
}

.myChldrnList ul li.purple {
    color: #fff !important;
    background-color: #9674f1 !important;
    border-color: #a08bd8 !important;
}

.chldrnInfoWrap .data-field {
    text-align: center;
}
.chldrnInfoWrap .data-field .email{
    height: 2.5rem;
}

.chldrnInfoWrap .data-field span {
    width: 240px;
    text-align: left;
    height: 1.5rem;
}

.chldrnInfoWrap .data-field span.info {
    font-size: 0.9rem;
}

.chldrnInfoWrap .data-field input {
    width: 232px;
    height: 2.2rem;
    border-color: #dedbdb;
    border-style: solid;
    border-width: 1px;
    border-left-width: 2px;
    border-right-width: 2px;
    padding-left: 9px;
    min-width: 150px;
    border-radius: 8px;
    margin-bottom : 10px;
}

.chldrnInfoWrap .radiobox .l4px {
    position:relative;
    left:4px;
    color : #d8d4d4;
}

.chldrnInfoWrap .radiobox .r4px {
    position:relative;
    right:4px;
    color : #d8d4d4;
}


.chldrnInfoWrap .btn-outline-purple:not(:disabled):not(.disabled).active, .chldrnInfoWrap .btn-outline-purple:not(:disabled):not(.disabled):active, .chldrnInfoWrap .show>.btn-outline-purple.dropdown-toggle {
    color: #fff !important;
    background-color: #9674f1 !important;
    border-color: #a08bd8 !important;;
}


.chldrnInfoWrap .radiobox>.btn {
    width: 100px;
    color: #d8d4d4;
    background-color: #ffffff;
    height: 30px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.275rem 0.65rem;
    padding-bottom: 0.1rem;
    font-size: 1rem;
    line-height: 1.5;
}

.chldrnInfoWrap .radiobox {
    margin-bottom:10px;
}



.radiobox>.btn:nth-of-type(1) {
    border-radius: 8px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.radiobox>.btn:nth-last-of-type(1) {
    border-radius: 8px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.radiobox input[type=radio]:checked+label {
    color: #fff;
    background-color: #b098f2;
    border-color: #a08bd8;
}


.chldrnInfoWrap select {
    border-radius: 8px;
    width: 248px;
    height: 2.5rem;
    padding: 5px;
    border: 1px solid #dddbdb;
    border-left-width: 2px;
    border-right-width: 2px;
    -moz-appearance: none;
    appearance: none;
    padding-left: 9px;
    color : #000;
}

/* E : mypage > myChldrnList  */

@media(max-width:768px){
	
	.mypage_detail_box{display: none;}
	
	.mp_list{overflow-x: scroll; padding: 10px 10px;}
	
	.list_area ul li a{font-size: 14px;}

	.mypage_list_box .list{margin-top: 10px;}
	.mypage_list_box .item{padding: 10px;}
    .mypage_list_box .item > a{align-items: center;}
}


