.wrap{font-family: "NanumSquare"; min-height:605px;}
.visual_sec .visual_box{position: relative;}
.visual_sec .visual_box .visual_img img{max-height: 580px; object-fit: cover;}
.visual_sec .visual_txt{position: absolute; top: 25%; left: 20%; color: #fff; font-weight: 700; font-size: 22px; }
.visual_sec .visual_txt p{margin-top: 20px;}

.visual_sec .swiper-pagination{top: 48% !important; width: 100px !important; left: 19% !important;;}
.swiper-pagination-bullet{background-color: rgba(255,255,255,0.5) !important;} 
.swiper-pagination-bullet-active{background-color: #1CBCC9 !important; width: 20px !important; border-radius: 5px !important;}
.visual_sec .swiper-button-next{background-image: url(../image/arrow_right.png); color: transparent !important; background-repeat: no-repeat; top: 35% !important; right: 15% !important;}
.visual_sec .swiper-button-prev{background-image: url(../image/arrow_left.png); color: transparent !important; background-repeat: no-repeat; top: 35% !important; left: 15% !important;}


/*! sec01*/
.sec{padding: 60px 20px; box-sizing: border-box;}
.sec .mySwiper {padding: 20px 0 !important;}
.sec .sec_txt span{font-weight: 600;}
.sec .sec01_txt, .sec .sec02_txt, .sec .sec03_txt{display: flex; align-items: flex-end; margin-top: 40px; position: relative;}
.sec > .sec01_txt h3, .sec  .sec02_txt h3, .sec  .sec03_txt h3{font-family: 'yg-jalnan'; color: #333333; font-size: 30px; margin-left: 5px;}
.sec .sec01_txt span, .sec .sec02_txt span, .sec .sec03_txt span{color: #555; font-family: 700; margin-left: 15px;}
.card_box{margin-top: 10px; position: relative;}
.card_box .item_info{display: flex; flex-direction: column;  font-size: 18px; background-color: #fff; padding: 20px; box-sizing:border-box; border-radius:  0 0 20px 20px;}
.card_box .card_item .item_txt{color: #1CBCC9; font-size: 14px;}
.card_box .card_item{border-radius: 20px;box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.10); cursor: pointer; line-height: 1.2;font-weight: 600;}
.card_box .card_item p{margin: 10px 0 30px 0; font-size: 18px;}
.card_box .card_item .item_img img{border-top-right-radius: 20px;border-top-left-radius: 20px;max-height: 230px;object-fit: cover; height: auto;}
.card_box .card_item .item_sale{font-size: 13px; color: #9a9a9a;text-decoration: line-through; margin-bottom: 10px;}
.sec .swiper-button-lock{display: block;}
.card_item .heart_ico {position: absolute;top: 15px;right: 20px; cursor: pointer;}
.sec .swiper-button-prev{left: -50px;background-image: url(../image/ar_left_gary.png); color: transparent !important; background-repeat: no-repeat;}
.sec .swiper-button-next{right: -50px; background-image: url(../image/ar_right_gary.png); color: transparent !important; background-repeat: no-repeat;}
.sec .sec01_ico{position: absolute;}
.sec .sec01_ico1{left: -200px; top:-100px;}
.sec .sec01_ico1 img{max-width: 180px;}
.sec .sec01_ico2{position: absolute; bottom: 0; right: -150px;}
.sec .item_img span{position: absolute; top: 15px; left: 20px; font-size: 13px; background-color: rgba(255,255,255,0.8); padding: 5px 20px; border-radius: 50px; line-height: 1;}
.card_heart_ico{position: absolute; top: 15px; right: 20px; font-size: 13px;  border-radius: 50px; line-height: 1; max-width: 25px;}

 .pc_visual{display:block ;}
 .mb_visual{display: none;}
 
/*!sec02 */
.sec02{position: relative;}
.sec02 .sec01_ico1 img{max-width: 180px;}
.sec02 .item_img span{position: absolute; top: 15px; left: 20px; font-size: 13px; background-color: rgba(255,255,255,0.8); padding: 5px 20px; border-radius: 50px; line-height: 1;}
.sec02 .sec_bg{position: absolute; left: 0;top: 0; width: 100%;height: 100%; background-image:url("../image/sec02_bg.png") ; background-size: cover; background-repeat: no-repeat; z-index: -1;}
.sec.sec02{max-width: 100%;}
.sec02 .sec02_wrap{max-width: 1280px ; margin: 0 auto; }


/*! sec03*/
.sec.sec03{position: relative; width: 100%; max-width: 100%;}
.sec01_txt h3{font-family: 'yg-jalnan';color: #333333;font-size: 30px;margin-left: 5px;}
.sec03_wrap{position: relative; max-width: 1280px; margin: 0 auto;}
.sec03_ico2{position: absolute; right: 0; top: 50%;}
.sec01_txt::after, .sec02_txt::after, .sec03_txt::after{position: absolute; content: ""; right: 0; top: 50%; background-image: url("../image/plus.svg"); width: 20px; height: 20px; background-repeat: no-repeat; background-size: cover; transform: translateY(-50%);}
.sec02_txt::after{top: 40px;}
/*! sec05*/
.sec.sec05{max-width: 100%; position: relative; min-height: 791px; display: flex; align-items: center;}  
.sec05 .sec05_bg{position: absolute; left: 0; top: 50%; width: 100%; z-index: -1;transform: translateY(-50%); width: 100%;}
.sec05_wrap{max-width: 1280px; margin: 0 auto; width: 100%;}
.sec05_box{display: flex; align-items: center; }
.sec05_box .sec05_left,.sec05_box .sec05_right{flex: 1;}
.sec05_left{position: relative;}
.sec05_left_box{padding-left: 50px; box-sizing: border-box; }
.sec05_ico{ position: absolute; }
.sec05_ico1{top: -150px; left: -200px;}
.sec05_ico2{bottom: -0px; right: 50px;}
.sec05_left_box img{max-width: 24px;}
.sec05_left_box > div{display: flex; align-items:center; margin-bottom: 15px;}
.sec05_left_box > h3{font-size:40px ; color:#BB8BE3 ;font-family: 'yg-jalnan'; margin-bottom: 45px;}
.sec05_left_box .book_n_ico{margin-right: 10px;}

@media(max-width:1080px){
    .sec02 .sec_bg{display: none;}
    .visual_box .txt_img img{max-width: 360px;}
    .visual_sec .visual_txt p{font-size: 16px;}
    .visual_sec .swiper-pagination{top: 60% !important;}
    .wrap .sec05{min-height: auto; background-color: #FAF5FE; padding:30px 20px !important;}
    .sec05_bg{display: none;}
    .sec05_box{flex-direction: column; align-items: flex-start;}
    .sec05_left_box > h3{font-size: 20px;}
    .sec05_left_box img{max-width: 18px;}
    .sec05_left_box p {font-size:14px ; line-height: 1.3;}
    .sec05_ico2{display: none;}
    .sec05_ico1, .sec01_ico1,  .sec01_ico2, .sec01_ico1,.sec03_ico2{display: none;}
    .sec05_left_box{padding-left: 0 !important;}
    .sec05_left_box > h3{margin-bottom: 20px;}
    .sec05_right{padding-left: 30px;}
    .sec01_ico1{display: none !important;}
    .sec02{background-color: #F0FDFE;}
 }

 
@media(max-width:768px){
    .pon-contents .top_tit span{display: none;}
    .visual_sec .visual_txt{left: 20px;}
    .card_box .card_item p{margin:5px 0 10px 0;    -webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;}

    .card_box .card_item p{font-size: 14px;}
    .card_box .item_info{padding:10px 10px 10px 10px;}
    .card_box{margin-top: 0;}
    .pc_visual{display:none ;}
     .mb_visual{display: block;}
     .swiper-button-prev{display: none !important;}
     .visual_sec .swiper-button-next, .swiper-rtl .swiper-button-prev{display: none !important;}
     .visual_sec .swiper-pagination{left: 0 !important; top: 55% !important;}    
     .visual_sec .visual_txt p{font-size: 14px;}
     .sec .sec01_txt span, .sec .sec02_txt span, .sec .sec03_txt span{display: none;}
     .wrap .sec{padding: 0 20px; box-sizing: border-box;}
     .wrap .sec03_swiper , .wrap .sec01_swiper , .wrap .sec02_swiper {padding: 20px !important; box-sizing: border-box;}
   
   .wrap .star img{max-width: 19px;}
   .sec > .sec01_txt h3, .sec .sec02_txt h3, .sec .sec03_txt h3{font-size: 18px;}
   .sec .sec01_txt, .sec .sec02_txt, .sec .sec03_txt{align-items: center;}

   
    .sec .sec02_txt{margin-top: 0; padding-top: 30px;}
}
/*! sec06*/
.review_box{display: grid;    grid-template-columns: repeat(3,1fr); gap: 25px;}
.review{position: relative; max-width: 100%; padding-bottom: 150px;}
.review .review_item{border-radius: 30px;background: #FFF;box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.10); height: 220px; cursor:pointer;}
.review .sec06_tit{display: flex; align-items: center; font-weight: bold; font-size: 30px;font-family: 'yg-jalnan'; color: #333; margin-bottom: 45px;}
.review .sec06_tit img{max-width: 20px;}
.review .review_tit{display: flex; align-items: center; }
.review .review_tit h5{margin: 0 13px 0 20px; color: #333; font-weight: bold;}
.review .review_tit span{color: #1CBCC9;font-weight: bold;}
.review .review_item p{margin-top: 10px; color: #555;line-height: 1.3; font-weight: bold;}
.sec06_bg{position: absolute;top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; z-index: -1;}
.sec06_wrap{max-width: 1280px; margin: 0 auto;}
/*! sec07*/
.sec07{position: relative;}
.sec07 img{vertical-align:bottom}

.sec.sec07{max-width: 100%; padding-bottom: 0; padding: 0;}
.sec07 .sec07_info{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.sec07 .sec07_info h1{color: #fff;  font-size: 36px; font-weight: normal;}
.sec07 .sec07_info h1 strong{font-family: 'yg-jalnan';}
.sec07_bg_pc{display: block;}
   .sec07_bg_mb{display: none;}
@media(max-width:1080px){
   .sec06 .review_box{    grid-template-columns: repeat(2,1fr);gap: 25px;}
   .sec07_bg_pc{display: none;}
   .sec07_bg_mb{display: block;}
   .sec07 .sec07_info h1{font-size: 18px;}
   .sec.sec07{padding: 20px 0 0 0!important;}

}

@media(max-width:768px){
    .sec07 .sec07_info h1{font-size: 16px; white-space: nowrap;}
    .review_item_mb{display: none !important; }
    .review_tit span, .review_item p{font-size: 14px;}
    .review_box{grid-template-columns: repeat(1,1fr);gap: 20px;}
    .review_box{    grid-template-columns: repeat(1,1fr);gap: 15px;}
}
@media(max-width:500px){
    .sec07 .sec07_info h1{font-size: 14px; white-space: nowrap;}
    
}


/*! class*/
.pon-contents{padding:0; box-sizing: border-box;}
/*.pon-contents{padding:0 20px; box-sizing: border-box;}*/
.pon-contents .top_tit{display: flex; margin-bottom: 50px;  align-items: center;}
.pon-contents .top_tit h3{    font-family: 'yg-jalnan';color: #333333;font-size: 30px;margin-left: 5px; margin-left: 15px;}
.pon-contents .top_tit span{color: #9c9c9c;margin-left: 15px;font-family: 'yg-jalnan';}
.pon-contents .top_tit {display:flex;align-items: flex-end;padding-top: 40px;position: relative; align-items: center; border-top: 1px solid #E6E6E6;}
.sub_box{max-width: 1280px; margin: 0 auto;}
.card_list{    display: grid;grid-template-columns: repeat(4,1fr);gap: 25px; }
.card_list.no-data, .review_list.no-data {grid-template-columns:auto; place-items: center;}
.card_list .no-data, .review_list .no-data{font-size: 1.2rem;
font-family: 'yg-jalnan';
    color: #b26363;}
.review_list.no-data {
	margin-top: 100px;
}
.pon-contents .card_list .card_item{flex: 1;}
.bg_ico2{position: absolute;left: -130px;top:0; max-width: 150px;}
.bg_ico1{position: absolute;right: 0;top: 0;max-width: 100px; z-index: -1;}
.bg_ico3{position: absolute;bottom: -200px;right: -200px;z-index: -1;}



.pon-contents{padding-bottom: 100px;}
.pon-contents  .card_list{margin-top: 50px; position: relative;}
.pon-contents  .card_list .item_info{display: flex; flex-direction: column;  font-size: 18px; background-color: #fff; padding: 20px; box-sizing:border-box; border-radius:  0 0 20px 20px;}
.pon-contents  .card_list .card_item{position: relative;}
.pon-contents  .card_list .card_item .item_txt{color: #1CBCC9; font-size: 14px;}
.pon-contents  .card_list .card_item{border-radius: 20px;box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.10); cursor: pointer;}
.pon-contents  .card_list .card_item p{margin: 10px 0 15px 0; font-size: 18px;}
.pon-contents .card_list .card_item small{font-size:12px ;color: #1161be; margin-bottom: 20px;}
.pon-contents .card_list .card_item small strong{color: #DF3128;}
.pon-contents  .card_list .card_item .item_sale{font-size: 13px; color: #9a9a9a;text-decoration: line-through; margin-bottom: 10px;}
.pon-contents .item_img span{position: absolute; top: 15px; left: 20px; font-size: 13px; background-color: rgba(255,255,255,0.8); padding: 5px 20px; border-radius: 50px; line-height: 1;}

.pon-contents .paging_box{display: flex; justify-content: center; width: 100%; margin-top: 50px; gap: 10px; ;}
.pon-contents .paging_box span{padding: 10px 15px; border-radius: 5px; cursor: pointer;}
.pon-contents .paging_box span.active{background-color: #1CBCC9; color: #fff;}



/*! review*/
.pon-contents .article_top{display: flex; justify-content: space-between; align-items: center; color: #555; margin-bottom: 20px;}
.pon-contents .article_top select{padding: 5px 10px;border-radius: 28px;color: #555; outline: none;}
.pon-contents .article_top span{color: #555;}
.pon-contents .article_top strong{color: #1CBCC9; font-weight: bold;}
.review_list{position: relative;  display: grid; grid-template-columns: repeat(2,1fr); gap: 25px;}
.review_item{display: flex;border-radius: 20px;background: #FFF;box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.10); }
.review_item .review_thumbnail{min-width: 190px; position: relative;}
.review_item .review_thumbnail img {object-fit: cover; height: 100%;border-radius: 20px 0 0 20px}
.review_item .review_thumbnail span{position: absolute; top: 20px; left: 20px; background-color: rgba(255,255,255,0.5); font-size: 13px;  padding:5px 10px; border-radius: 10px;}
.review_item .like_star img{max-width: 20px;}
.review_item .review_content {padding: 20px;box-sizing: border-box; width:100%;}
.review_item .review_info .review_name{display: flex; align-items: center;}
.review_item .review_info .review_name h5{margin-right: 15px; color: #333; font-size: 24px; font-weight: bold;}
.review_item .review_info .review_name span{color: #1CBCC9; }
.review_item .riview_tit{font-size: 18px; margin: 20px 0 15px 0;}
.review_item .review_inf{display: flex; justify-content: space-between; align-items: center;}
.review_item .riview_disc{color: #555;}
.review_info{display: flex; justify-content: space-between;}
/*! notice*/
/*.notice_article{}*/
.article_item{display: flex; width: 100%; border-bottom: 1px solid #E3E3E3; padding: 20px; box-sizing: border-box; padding-left:10px;}
.article_item.no-data {
	justify-content: center;
	font-size: 1.2rem;
	font-family: 'yg-jalnan';
    color: #b26363;
}
.article_body{display: flex; justify-content: space-between; width: 100%; text-align: left;}
.article_tit{width:100%; color: #333; width:calc(100% - 220px);}
.article_info{display: flex; justify-content: flex-end; width: 190px;}
.article_num{margin-right: 10px;
    width: 60px;
    text-align: center;
    font-family: 'yg-jalnan';
    color: #a2a2a2;}
.notice_item {
	background-color: #f6f4f4;
	border-bottom: 2px solid #1CBCC9;
}

.notice_item .article_num {color : #ff8080;}
.notice_item .article_tit {font-weight: bold;
    font-size: 17px;}
.article_comment{display: flex;align-items: center; margin-left: 10px;}
.article_comment span:first-child{margin-right: 5px;}
.article_item > a{display: flex;width: 100%;}
.article_date, .article_comment{color: #9A9A9A;}
.article_date { width: 130px;}
.article_comment {width: calc(100% - 140px);}
.search_input{text-align: right; border-bottom: 2px solid #1CBCC9; padding-bottom: 24px;}
.search_input.no-bd-top{border-bottom:none;}
.search_input input{border:#555555;padding: 10px 15px; border: 1px solid #DDDDDD; outline: none; border-radius: 7px;}
.search_input span{background-color: #626773; color: #fff; padding: 10px 20px; border-radius: 7px;}
.search_input .submit{background-color: #626773; color: #fff; padding: 8px 21px; border-radius: 7px;}

/*! detail*/

.article_title {display: flex; justify-content: space-between; padding: 25px 20px; border-bottom: 1px solid #E3E3E3 ; align-items: center;}
.article_title h2{font-size: 20px; font-weight: bold;}
.article_detail_date{display: flex; font-size: 14px; align-items: center;gap: 10px;}
.article_detail_date img{max-width: 30px; cursor: pointer;}
.article_detail_body{padding: 40px 20px;}
.article_detail_body p{line-height: 1.3; color: #333333;}
.detail_comment{padding: 20px 0; border-top: 1px solid #E3E3E3;border-bottom: 1px solid #E3E3E3;;}
.detail_comment .detail_comment_top{display: flex; align-items: center; color: #555; margin-bottom: 10px;}
.detail_comment .detail_comment_top strong{color: #1CBCC9; font-weight: bold;}
.detail_comment_top img{max-width: 18px; margin-right: 10px;}
.detail_comment_item {padding: 20px; box-sizing: border-box; background-color:#F8F8F8 ; border-radius: 10px; color: #555; margin-bottom: 10px;}

.detail_comment_item span:first-child{font-weight: bold;}
.detail_comment_item span:last-child{font-size: 14px;}
.detail_comment_item p{font-weight: 600;}
.detail_comment_body{margin-top: 15px;}
.detail_order_article{display: flex; align-items: center; justify-content: space-between; padding: 20px 0;  border-bottom:1px solid #E3E3E3; cursor: pointer;}
.detail_order_article .order_top{display: flex; align-items: center; }
.detail_order_article .order_date{color: #9A9A9A; font-size: 14px;}
.order_top h4{color: #333; }
.order_top span{color: #555; font-weight: 600; margin-right: 40px; position: relative;}
.article_list{text-align: center; margin-top: 3px; border-top: 2px solid #1CBCC9;}
.article_list > div{background-color: #1CBCC9;padding: 10px 30px; box-sizing: border-box; display: inline-block; border-radius: 5px; color: #fff; cursor: pointer;}
.article_list img{width: 13px;}
.detail_order_article:first-child .order_top span::after{content: ""; position: absolute; top: 50%; right: -18px; transform: translateY(-50%);  background-image: url('../image/up_list.svg'); width: 9px; height: 8px; background-repeat: no-repeat;}
.detail_order_article:last-child .order_top span::after{content: ""; position: absolute; top: 50%; right: -18px; transform: translateY(-50%);  background-image: url('../image/down_list.svg'); width: 9px; height: 8px; background-repeat: no-repeat;}
.search_article{position: relative;}

@media(max-width:1080px){
    .review_list{grid-template-columns: repeat(1,1fr);}
    .header .nav ul{gap: 33px;}
    .header .nav .search input{min-width:160px ;}
    .header .nav ul a{font-size: 14px;}
    .bg_ico3, .bg_ico1, .bg_ico2{display: none;}
    .review_item .review_content{padding: 10px;}
    .card_list{grid-template-columns: repeat(3,1fr);}
}

@media(max-width:830px){
    .header .nav ul{gap: 18px;}
}

@media(max-width:768px){
    .detail_tab_reivew{padding-bottom: 30px !important;}
    .detail_tab_reivew span{margin-top: 10px; line-height: 1.3;}
    .detail_tab_content #tab03 > h5{margin: 15px 0;}
    .pon-contents .card_list{margin-top: 30px;}
    .card_list{grid-template-columns: repeat(2,1fr);}
    .pon-contents .card_list .item_info{padding: 10px 10px 20px 10px;}
    .header{padding: 20px; box-sizing: border-box;}
    .pon-contents .top_tit{margin-bottom: 20px;}
    .header_top, .header .nav{display: none;}
    .pon-contents .card_list .card_item .item_sale{font-size: 12px;}
    .search_form, .header .nav ul{display: none;}
    .item_price, .pon-contents .card_list .card_item p, .review_item .riview_tit{font-size: 15px;}
    .mb_nav{display: flex; justify-content: space-between; align-items: center;}
    .pon-contents .article_top span, .review_item .review_info .review_name span, .review_item .riview_disc, .article_date, .article_comment, .order_top span, .order_top h4, .article_detail_body p,.detail_comment_item p, .detail_comment_top > span ,.search_input span{font-size: 14px;}
    .search_input input{padding:8px 15px ;}
    .pon-contents .card_list .card_item .item_txt{font-size: 13px;}
    .detail_comment_item span:first-child, .article_title h2{font-size: 16px;}
    .review_item .review_info .review_name h5{font-size: 18px;}
    .article_detail_body, .article_title{padding:15px 10px ;}
    .footer{padding: 30px 15px;}
    .footer .footer_top{flex-direction: column; align-items: flex-start;}  
    .footer_link{margin: 10px 0; font-size: 13px;}
    .footer .footer_info .txt_wrap{margin: 10px 0;}
    .review_item .review_thumbnail{min-width: 140px;}
    .footer_info .txt_wrap:nth-child(2){line-height: 1.7;}
    .footer_info .txt_wrap span{margin-right: 20px;line-height: 1.3;}
    .article_detail_date{display: none;}
    .pon-contents .top_tit h3{font-size: 18px;}
    .top_tit .star img {max-width: 20px;}
    .pon-contents .top_tit h3{margin-left: 7px;}
    .search_input{padding-bottom: 12px;}
    .article_info{justify-content: flex-start;}
    .article_tit{text-align: left;}
    .article_item{padding: 10px;}
    .article_item > a{align-items: center;}
    .article_info{margin-top: 10px;}
    .article_list{margin-top: 10px;}
    .review_item .riview_disc{line-height: 1.3;}
    .class_2dep{overflow-x: scroll;}
}
@media(max-width:600px){
    .footer .footer_top .footer_link li:first-child a{padding-left: 0;}
    .order_top h4{white-space: nowrap;   overflow:hidden;text-overflow:ellipsis;width: 200px; } 
    .order_top span, .order_date span{white-space: nowrap;}
}
 
@media(max-width:500px){
    .review_info{flex-direction: column; }
    .like_star{margin-top: 5px;}
}

.class_2dep {
 
    overflow-y: scroll;

    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.class_2dep::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}



#tab01 {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
    overflow-x: scroll;
  }
  #tab01::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }







  .intro_visual_pc{display: block;}
  .intro_visual_mb{display: none;}
  .introduction_box .pen_bg{min-width: 25px;}
  .chi_pc{display: block;}
    .chi_mb{display: none;}
@media(max-width:1280px){
    .introduction_box2_content .list_txt > p{font-size: 14px;}
    .introduction_box .pen_bg{margin-top: 5px;}
    .sec03 .swiper-button-prev, .sec02 .swiper-button-prev, .sec01 .swiper-button-prev {left: -15px !important; display: block !important;}
    .sec03 .swiper-button-next, .sec02 .swiper-button-next,   .sec01 .swiper-button-next{right: -15px !important;display: block !important;}
    .introduction_box{padding: 0 20px;}
    .intro_contanier > h1{font-size: 30px; padding: 25px 20px;}
    .introduction_box{margin-top: 10px;}
    .introduction_content_top h3{font-size: 20px}
    .introduction_content_top p{font-size: 16px;}
    .introduction_box1_content_top h5{font-size: 18px;}
    .philosophy_info{display: flex; text-align: left;}
    .philosophy > .philosophy_info p{font-size: 14px;}
    .philosophy_ico{margin:0; padding: 13px;}
    .philosophy > .philosophy_info p {padding: 13px;}
    .philosophy_tit{font-size: 18px;}
    .philosophy_num{display: none;}
    .list_txt_box_philosophy{flex-direction: column;}
    .introduction_box .pen_bg{max-width: 25px;}
    .philosophy_box{gap: 10px;}
    .introduction_box1_content_top{margin:10px 0}
    .introduction_box2_content .list_txt > p{margin: 10px 0;}
    .introduction_box2_content .list_txt{margin-bottom: 20px ;}
    .list_txt_box_philosophy .philosophy .line > p{font-size: 14px;}
    .list_txt_box3{margin-top: 20px;}
    .list_txt_box3 .list_txt{margin-left: 30px; line-height: 1.3;}
    .introduction_box3 .list_txt > p{font-size: 14px;}
    .prio{margin: 0;}
    .prio .prio_img, .prio h5, .prio p{margin-left: 30px; line-height: 1.3;}
    .mrt{margin-top:30px;}
    .list_txt p{line-height: 1.3;}
    .introduction_box4 .chi{width: 100%; padding-left: 40px; box-sizing: border-box;}
    .chi_pc{display: none;}
    .chi_mb{display: block;}
    .sec06_bg{display: none;}
    .sec03 .swiper-button-next, .sec02 .swiper-button-next, .sec01 .swiper-button-next{background-size: 18px;}
    .sec03 .swiper-button-prev, .sec02 .swiper-button-prev, .sec01 .swiper-button-prev{background-size: 18px;}
}
@media(max-width:1080px){
    
}
@media(max-width:768px){
    
    .pon-contents .top_tit{padding-top: 20px;}
    .intro_visual_pc{display: none;}
    .intro_visual_mb{display: block;}
    .philosophy_box{flex-direction: column;}
    
}


.class_detail_contanier{max-width: 1280px; margin: 0 auto;}
.class_detail_box{display: flex; gap: 40px;}
.class_detail_left{width: 40%; min-width: 300px;}
.detail_top{display: flex; align-items: center; justify-content: space-between;}
.detail_top .info_ico{display: flex;gap: 10px;}
.class_detail_right{ width: 60%; color: #363636;}
.detail_top P:first-child{color: rgb(255, 0, 0);margin-bottom: 5px;}
.detail_top P{font-size: 14px; color: #363636;}
.detail_name{margin-top: 20px;  line-height: 1.3;}
.detail_name p{font-size: 16px; margin-top: 10px; font-weight: 600;}
.detail_price{font-size: 28px;font-weight: 800; padding-bottom: 10px; margin-top: 10px; border-bottom: 1px solid; border-bottom: 1px solid rgb(227, 227, 227); margin-top: 20px;}

.detail_trgt{margin-top: 20px; margin-bottom: 20px;}
.detail_trgt span{background-color: #eee; padding:5px 15px ; box-sizing: border-box; border-radius: 3px;}
.detail_chldrn, .detail_lctre, .detail_day{margin-top: 10px;}
.detail_sh{display: flex; gap: 10px;}
.detail_sh img{cursor: pointer;}
.detail_chldrn p,.detail_day p, .detail_lctre p{font-size: 14px; }
.detail_chldrn p small, .detail_lctre p small, .detail_day p small{color: rgb(255, 0, 0); font-size: 11px;}
.detail_chldrn > div, .detail_lctre > div, .detail_day > div{margin-top: 10px;}
.detail_day > div button{background-color: transparent; border: 1px solid #e9e9e9; outline: none; margin: 3px 3px 3px 3px;padding: 5px 15px; border-radius: 4px; color: #727272; cursor: pointer;}
.detail_day > div button.active{    background-color: rgb(28 188 201); border: 2px solid #0d949f; color: #fff;}
.detail_chldrn select, .detail_lctre select{width: 100%; padding: 8px; border-radius: 5px; border: 1px solid #e9e9e9;  margin-top: 10px; box-sizing: border-box;}
.detail_disc_in{margin-top: 10px;}
.detail_disc_in input{width: 100%; padding: 8px; border: 1px solid #e9e9e9; outline: none; margin-top: 10px; box-sizing: border-box;}
.detail_disc_in > p {font-size: 13px; color: #797979; line-height: 1.3;} 
.detail_disc_in > p small{color: rgb(255, 0, 0); font-size: 11px;}
.detail_disc_price{text-align: right; font-size: 28px; font-weight: 700; margin-top: 30px; width: 100%;}
.detail_purchase{display: block; align-items: center; gap: 10px; padding-top:5px;}
.detail_purchase button{width: 100%;outline: none; padding: 12px; border: none; cursor: pointer;}
.detail_purchase button:first-child{background-color: transparent; border:1px solid #e9e9e9;}
.detail_purchase button:last-child{background-color: #1CBCC9; color: #fff;}
.detail_purchase button{background-color: #1CBCC9; color: #fff;}
.detail_review_item_box{display: grid; grid-template-columns: repeat(2,2fr); gap: 40px;}
.detail_review_item_box .detail_review_item{display: flex;}
.detail_review_item_box .detail_review_item .review_item_img{width: 30%; }
.detail_review_item_box .detail_review_item .review_item_img img{border-radius: 5px;}
.detail_review_item_box .review_item_con{width: 70%; margin-right: 30px;}
.detail_review_item_box .review_tit{margin-top: 10px; font-size: 14px; line-height: 1.3;}
.detail_review_item_box .review_txt{line-height: 1.6; color: #727272; font-size: 14px; margin-top: 10px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 6;overflow: hidden;text-overflow: ellipsis;}
.detail_review_item_box .star_five img {max-width: 90px;}
.class_detail_review > h3{margin: 50px 0; font-size: 18px; font-weight: 700;}
.detail_tab_nav{background-color: #1CBCC9; padding: 20px 0; margin: 50px 0; position: relative;}

.detail_tab_nav ul{display: flex; max-width: 1280px;margin: 0 auto; position: relative;}
/*.detail_tab_nav ul::after{content: "수강신청하기"; position: absolute; top: 50%; right: 0; transform: translateY(-50%);color: #fff; font-size: 16px; background-color: #157EB9; padding: 10px 15px; border-radius: 5px; box-sizing: border-box;}*/
.detail_tab_nav ul a{color: #fff; padding: 10px 30px;}
.detail_tab_nav ul a{display: flex; align-items: center;}
.detail_tab_nav ul a small{background-color: #fff; color: #1CBCC9; width: 20px;height: 20px;line-height: 20px; text-align: center; display: inline-block; border-radius: 30px; margin-left: 5px; font-size: 12px; font-weight: bold;}
.detail_tab_nav ul a.active{background-color: #157EB9;  border-radius: 50px;}
.detail_tab_content {max-width: 1280px; margin: 0 auto;}
.detail_tab_content .classDc img{width:100% !important;}
.detail_tab_reivew {display: flex !important; justify-content: space-between; padding:20px 0 ; border-bottom:1px solid #eee;}
.detail_tab_reivew h5{font-weight: 700; font-size: 18px;}
.detail_tab_reivew span{font-size: 14px; color: #727272;}
.detail_tab_content > div > h5{margin: 30px 0;  text-align: center; color: #727272;}
.detail_swipe{max-width: 1400px; margin: 50px auto; padding: 40px 20px;}
.detail_class_info h5{font-size: 18px; font-weight: 800; color: #333; margin: 10px 0;}
.detail_class_info P{ margin-top:8px; font-size: 13px; color: #1161be;}
.detail_class_info h2{font-size: 18px; font-weight: 800; margin-top: 20px; color: #333;}
.detail_swipe{position: relative; border-top: 1px solid #eee;}
.detail_swiper_top h3{margin:20px 0 50px 0; color: #333333; font-size: 20px; font-weight: 700;}
.detail_swiper_top h3 small{color: #727272;}
.review_item_img{min-width: 150px;}
/*.sub_box, .class_detail_contanier{padding: 0 20px;}*/
.class_detail_contanier{padding: 0 20px;}
.detail_tab_nav ul{align-items: center;}
.pon-contents .article_top select {appearance: none;-webkit-appearance: none;-moz-appearance: none; background: url('../image/sel_arrow.svg') no-repeat center right 10px; background-size: 10px;border-radius: 7px;padding:5px 30px 5px 10px ; box-sizing: border-box; border:1px solid #ddd;  color:#ddd; }
.is_pc , .is_mb {width: 100%;}
.is_pc {display: block;}
.is_mb {display: none;vertical-align: bottom;}
.file_dw{background-color: #eee; padding:20px 10px; margin: 15px 0; border-radius: 5px; }
.file_dw span:last-child{cursor: pointer;}
@media(max-width: 1280px){
    
    .detail_tab_nav ul::after{right: 20px}
}

@media(max-width: 768px){
    .is_pc {display: none;}
    .is_mb {display: block}
    .detail_tab_reivew{flex-direction: column; padding: 0 20px;}
    .detail_tab_nav ul{padding: 0 20px; box-sizing: border-box;}
    .detail_review_item_box{grid-template-columns: repeat(1,1fr);}
    .review_item_img{min-width:100px;}
    .class_detail_left{width: 80%; margin: 0 auto;}
    .class_detail_right{width: 100%;}
    .class_detail_box{flex-direction: column;}
    .wrap{padding-top:64px ;}
    .header{position: fixed;top: 0; left: 0; width: 100%;z-index: 111; background-color: #fff;}
    .sec06 .sec06_tit{margin-top: 30px;}
    .card_item .heart_ico{right: 5px;}
    .pon-contents .item_img span{left: 5px;}
    .detail_tab_nav ul a{font-size: 14px; padding: 5px 10px}
    .detail_tab_nav ul::after{font-size: 14px; padding: 5px 10px;}
    .detail_tab_nav ul{padding: 0 10px;}
    .detail_review_item_box .review_txt{-webkit-line-clamp: 2;}
    
}

@media(max-width:500px){
    .item_img img:first-child{height: 140px;}
    .card_heart_ico{ top: 7px; right: 10px;}
    .sec .item_img span{top: 8px;left: 8px;}
    .chatWrap.show{width: 90%;}   
    .chat_disc_form textarea{min-height: auto;}
    .chatWrap{height: calc(100% - 200px);}
    
}



.article_detail_box {
	border-top: 2px solid #1CBCC9;
	border-bottom: 2px solid #1CBCC9;
}

.article_detail_footer {
	text-align: center;
    margin-top: 40px;
}

.article_detail_footer > div{background-color: #1CBCC9;padding: 10px 30px; box-sizing: border-box; display: inline-block; border-radius: 5px; color: #fff; cursor: pointer;}
.article_detail_footer > div.whiteBtn {
    background-color: #fff;
    border: 1px solid;
    border-color: #747474;
    color: #000;
}

.article_detail_footer > div.redBtn {
    background-color: rgb(255 90 90);
    border: 1px solid;
    border-color: rgb(255 90 90);
    color: #fff;
}
.article_detail_footer img{width: 13px;}

.cursor {cursor: pointer;}

.class_1dep .tabnav {
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
    height: 1.4rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.class_1dep .tabnav::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}