<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">

	<title>피오니키즈</title>

    <!-- css -->
	<link href="/pon/common/css/reset.css" rel="stylesheet">
	<link href="/pon/common/css/common.css" rel="stylesheet">
	<link href="/pon/common/css/style.css" rel="stylesheet">
	<link href="/pon/common/css/layer.css" rel="stylesheet">
	<link href="/pon/common/css/payment.css" rel="stylesheet">
	<link href="/pon/npm/swiper11/css/swiper-bundle.min.css" rel="stylesheet">


    <!-- SDK 추가 -->
    <script src="https://js.tosspayments.com/v2/standard"></script>
</head>

<body>
    <!-- 결제 UI -->
    <div id="payment-method"></div>
    <!-- 이용약관 UI -->
    <div id="agreement"></div>
    <!-- 결제하기 버튼 -->
	<div class="pop_footer">
		<button type="button" id="payment-button" class="btn btn-purple paymentBtn">
			결제하기
		</button>
	</div>
	<input type="hidden" id="orderId" 				th:value="${orderId}"				/>
	<input type="hidden" id="orderName"				th:value="${orderName}"				/>
	<input type="hidden" id="successUrl"			th:value="${successUrl}"			/>
	<input type="hidden" id="failUrl"				th:value="${failUrl}"				/>
	<input type="hidden" id="customerEmail"			th:value="${customerEmail}"			/>
	<input type="hidden" id="customerName"			th:value="${customerName}"			/>
	<input type="hidden" id="customerMobilePhone"	th:value="${customerMobilePhone}"	/>


	<script th:inline="javascript" >

      main();

      async function main() {
          const button = document.getElementById( "payment-button" );
          const coupon = document.getElementById( "coupon-box" );
          // ------  결제위젯 초기화 ------
          const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";

          const tossPayments = TossPayments( clientKey );
          // 회원 결제
          const customerKey = /*[[${customerKey}]]*/
          const widgets = tossPayments.widgets( {
              customerKey,
          } );
          // 비회원 결제
          // const widgets = tossPayments.widgets({ customerKey: TossPayments.ANONYMOUS });

          // ------ 주문의 결제 금액 설정 ------
          await widgets.setAmount( {
              currency: "KRW",
              value: /*[[${amount}]]*/,
          } );

          await Promise.all( [
              // ------  결제 UI 렌더링 ------
              widgets.renderPaymentMethods( {
                  selector: "#payment-method",
                  variantKey: "DEFAULT",
              } ),
              // ------  이용약관 UI 렌더링 ------
              widgets.renderAgreement( { selector: "#agreement", variantKey: "AGREEMENT" } ),
          ] );

          // ------  주문서의 결제 금액이 변경되었을 경우 결제 금액 업데이트 ------
          // coupon.addEventListener( "change", async function () {
              // if ( coupon.checked ) {
              //     await widgets.setAmount( {
              //         currency: "KRW",
              //         value: 50000 - 5000,
              //     } );
			  //
              //     return;
              // }

              // await widgets.setAmount( {
              //     currency: "KRW",
              //     value: 50000,
              // } );
          // } );



		  var orderId				= document.getElementById("orderId").value;
		  var orderName				= document.getElementById("orderName").value;
		  var successUrl			= document.getElementById("successUrl").value;
		  var failUrl				= document.getElementById("failUrl").value;
		  var customerEmail			= document.getElementById("customerEmail").value;
		  var customerName			= document.getElementById("customerName").value;
		  var customerMobilePhone	= document.getElementById("customerMobilePhone").value;

          // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
          button.addEventListener( "click", async function () {
              await widgets.requestPayment( {
                  orderId: orderId,
                  orderName: orderName,
				  successUrl: window.location.origin + successUrl,
				  failUrl: window.location.origin + failUrl,
                  customerEmail: customerEmail,
                  customerName: customerName,
                  customerMobilePhone: customerMobilePhone
              } );
          } );
      }
    </script>
</body>
</html>
