<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/layout}">
<!-- S : Javascript functions	-->
<script layout:fragment="script">

	// DOM 준비 된 이후 실행
	$( function () {
		
		

	});

	// 신청현황팝업호출 (전체대상)
	// lctreSn : 수업일련번호
	function showReqstSttusListPopupN( lctreSn ){
		// ex ) : /admin/popup/lctre/10000000/reqstSttusList?preparNmprYn=N

		window.open( basicPath + '/' + lctreSn + '/reqstSttusList?preparNmprYn=N' , '_blank', 'width=1000px,height=auto,web-app' );

	}

	// 신청현황팝업호출 (전체대상)
	// lctreSn : 수업일련번호
	function showReqstSttusListPopupY( lctreSn ){
		// ex ) : /admin/popup/lctre/10000000/reqstSttusList?preparNmprYn=Y

		window.open( basicPath + '/' + lctreSn + '/reqstSttusList?preparNmprYn=Y' , '_blank', 'width=1000px,height=auto,web-app' );

	}

	// 신청현황팝업호출 (전체대상)
	// lctreSn : 수업일련번호
	function showReqstSttusListPopupAll( lctreSn ){
		// ex ) : /admin/popup/lctre/10000000/reqstSttusList?preparNmprYn=Y

		window.open( basicPath + '/' + lctreSn + '/reqstSttusList' , '_blank', 'width=1000px,height=auto,web-app' );

	}

</script>
<!-- E : Javascript functions	-->
<th:block layout:fragment="content">

	<!-- S : 분류 영역 -->
	<div class="div_menu_detail row">
		<div class="col-md-12 col-sm-12 ">
			<div class="x_panel category-area">
				<!-- 분류 영역 > 카테고리 그룹 영역 -->
				<div class="col-md-10 category-list-area">
					<div class="category-group-box">
						<!--
							data-next-step-li-onclick-param-url : 다음 단계 ul > li 항목의 onlick url parameter 값 설정
						 -->
						<!--  lv1 -->
						<div class="data-group">
							<span class="category-title lv1">카테고리</span>
							<ul data-next-step-all-yn="Y" data-next-step-li-onclick-param-url="/admin/class/live/getClassListAjax" >
								<li onclick="getCateNextLvList('/admin/classCategoryCl02/live/getListByParntsClSnAjax', this );"
									th:classappend="${ ( searchDTO.category != null && searchDTO.category.lv1Sn  == 0 ) } ? 'on'"
									value="0" th:text="전체">
								</li>
								<li th:each="data : ${cateLv1List}" th:onclick="getCateNextLvList('/admin/classCategoryCl02/live/getListByParntsClSnAjax', this );"
									th:classappend="${ ( searchDTO.category != null  &&  searchDTO.category.lv1Sn == data.clSn ) } ? 'on'"
									th:value="${data.clSn}" th:text="${data.clNm}">
								</li>
							</ul>
						</div>
						<!--  lv2 -->
						<div class="data-group">
							<span class="category-title lv2">커리큘럼</span>
							<ul data-next-step-all-yn="Y" data-next-step-li-onclick-param-url="/admin/class/live/getClassWeekListAjax"> <!--  data-next-step-all-yn : 전체 여부 , data-next-step-li-onclick-param-url : 검색조회용 url (ajax0) -->
								<th:block th:if="${cateLv2List ne null}">
									<li onclick="getCateNextLvList('/admin/class/live/getClassListAjax', this );"
										th:classappend="${ ( searchDTO.category != null && searchDTO.category.lv2Sn == 0 ) } ? 'on'"
										value="0" th:text="전체">
									</li>
									<li onclick="getCateNextLvList('/admin/class/live/getClassListAjax', this );"
										th:each="data : ${cateLv2List}" th:classappend="${ ( searchDTO.category != null ) && ( searchDTO.category.lv2Sn == data.clSn ) } ? 'on'"
										th:value="${data.clSn}" th:text="${data.clNm}">
									</li>
								</th:block>
							</ul>
						</div>
						<!--  lv3 -->
						<div class="data-group">
							<span class="category-title lv3">클래스</span>
							<ul data-next-step-all-yn="Y" data-next-step-li-onclick-param-url=""> <!--  data-next-step-all-yn : 전체 여부 , data-next-step-li-onclick-param-url : 검색조회용 url (ajax0) -->
								<th:block th:if="${cateLv3List ne null}">
									<li onclick="getCateNextLvList('/admin/class/live/getClassWeekListAjax', this );"
										th:classappend="${ searchDTO.category != null && searchDTO.category.lv3Sn == 0 } ? 'on'"
										value="0" th:text="전체">
									</li>
									<li onclick="getCateNextLvList('/admin/class/live/getClassWeekListAjax', this );"
										th:each="data : ${cateLv3List}" th:classappend="${ ( searchDTO.category != null ) && ( searchDTO.category.lv3Sn == data.classSn ) } ? 'on'"
										th:value="${data.classSn}" th:text="${data.classSj}">
									</li>
								</th:block>
							</ul>
						</div>
						<!--  lv4 -->
						<div class="data-group">
							<span class="category-title lv4">요일</span>
							<ul data-next-step-all-yn="Y" data-next-step-li-onclick-param-url=""> <!--  data-next-step-all-yn : 전체 여부 , data-next-step-li-onclick-param-url : 검색조회용 url (ajax0) -->
								<th:block th:if="${cateLv4List ne null}">
									<li onclick="getCateNextLvList('', this );"
										th:classappend="${ searchDTO.category != null && searchDTO.category.lv4Sn == 0 } ? 'on'"
										value="0" th:text="전체">
									</li>
									<li onclick="getCateNextLvList('', this );"
										th:each="data : ${cateLv4List}" th:classappend="${ ( searchDTO.category != null ) && ( searchDTO.category.lv4Sn == data.cdDetailSn ) } ? 'on'"
										th:value="${data.cdDetailSn}" th:text="${data.classDayNm}">
									</li>
								</th:block>
							</ul>
						</div>
					</div>
				</div>
				<!-- 분류 영역 > 우측영역 ( 선택한 카테고리 텍스트 표출, 카테고리검색 버튼) -->
				<div class="col-md-2 col-sm-6 category-right">
					<div class="picked-cate" id="picked-cate">
						<div class="cateLv0 blink"></div>
						<div class="cateLv1 blink"></div>
						<div class="cateLv2 blink"></div>
						<div class="cateLv3 blink"></div>
						<div class="cateLv4 blink"></div>
					</div>
					<div class="btn-group float-right" role="group">
						<button name="searchCateBtn" type="button" class="btn btn-purple w120p"
								th:data-search-cate-url="|${basicPath}/${mcd}/list|"
								th:onclick="searchCate( this.getAttribute('data-search-cate-url') )">보기
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- E : 분류 영역 -->

	<!-- S: content -->
	<div class="x_panel">
		<div class="x_content">
			<div class="row">
				<form id="listForm" name="listForm" method="get" th:action="@{ {basicPath}/{mcd}/list ( basicPath = ${basicPath}, mcd = ${mcd}) }" class="form">
					<th:block th:if="${ ( searchDTO.category != null ) }" >
						<input th:if="${ searchDTO.category.lv1Sn != null }" type="hidden" name="category.lv1Sn" th:value="${searchDTO.category.lv1Sn}"/>
						<input th:if="${ searchDTO.category.lv2Sn != null }" type="hidden" name="category.lv2Sn" th:value="${searchDTO.category.lv2Sn}"/>
						<input th:if="${ searchDTO.category.lv3Sn != null }" type="hidden" name="category.lv3Sn" th:value="${searchDTO.category.lv3Sn}"/>
						<input th:if="${ searchDTO.category.lv4Sn != null }" type="hidden" name="category.lv4Sn" th:value="${searchDTO.category.lv4Sn}"/>
					</th:block>
					<h2 class="pl_15p" th:if="${ ( searchDTO.category != null ) && ( searchDTO.category.lv1Sn != null ) }">
						분류 : [[${searchDTO.category.categoryNm}]]
					</h2>
					<input type="hidden" name="page" th:value="${resultList.pageable.pageNumber}"/>
					<!-- S : 테이블 상단 검색 창 -->
					<!-- totalCount -->
					<div class="col-md-1 col-sm-2 mt_10p pl_15p">
						총 <span th:utext="${resultList.totalElements}"></span>건
					</div>
					<div class="col-md-11 col-sm-10 mb_10p">
						<div class="btn-group float-right" role="group">
							<select class="form-control" name="rcritNmprSetYn">
								<option value="">모집인원설정여부</option>
								<option value="Y" th:selected=" ${searchDTO.rcritNmprSetYn} == 'Y' ">설정</option>
								<option value="N" th:selected=" ${searchDTO.rcritNmprSetYn} == 'N' ">미설정</option>
							</select>
							<div class="vl ml_5p"></div>
							<select class="form-control ml_5p w_55r" name="schOption">
								<option value="A" th:selected=" ${searchDTO.schOption} == 'A' ">제목</option>
							</select>
							<input type="text" name="schCntn" th:value="${searchDTO.schCntn}"
								   class="form-control input-sm" placeholder="검색어 입력"
								   aria-controls="datatable-responsive">
							<button type="submit" class="btn btn-purple w250p">검색</button>
						</div>
					</div>
					<!-- E : 테이블 상단 검색 창 -->
					<!-- S : 테이블 -->
					<div class="col-md-12 col-sm-12 ">
						<table id="listTable" class="table table-bordered text-center">
							<colgroup>
								<col style="width:60px;" >
								<col style="width:200px;" >
								<col style="width:auto;" >
								<col style="width:90px;" >
								<col style="width:110px;" >
								<col style="width:110px;" >
								<col style="width:180px;" >
								<col style="width:145px;" >
							</colgroup>
							<thead>
								<tr>
									<th>순번</th>
									<th>분류</th>
									<th>
										<th:block th:unless="${ searchDTO.category != null && searchDTO.category.lv3Sn != null && searchDTO.category.lv3Sn != 0}">[클래스제목]<br /></th:block>수업제목</th>
									</th>
									<th>요일</th>
									<th>모집인원<br />[수강 / 모집]</th>
									<th>예비인원<br/>[수강 / 예비]</th>
									<th>등록일시</th>
									<th>관리</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if = "${!resultList.isEmpty()}" th:each=" data : ${resultList} ">
									<td th:text="${resultList.totalElements - ( resultList.pageable.pageSize * resultList.pageable.pageNumber + dataStat.index ) }"></td>
									<td> [[${data.ctgryNm}]] <th:block th:if="${data.crseSn != null && data.crseSn != '' }"><br/>[ [[${data.crseNm}]] ] </th:block> </td>
									<td>
										<th:block th:unless="${ searchDTO.category != null && searchDTO.category.lv3Sn != null && searchDTO.category.lv3Sn != 0}">[ [[${data.classSj}]] ]<br /></th:block>
										<a class="b-link" th:href="@{{basicPath}/{mcd}/{classSn}/modify ( basicPath = ${basicPath}, mcd = ${mcd}, classSn = ${data.classSn}, pk = ${data.lctreSn} ) }">
											<th:block>[[${data.lctreSj}]]</th:block>
										</a>
									</td>
									<td th:text="${data.classDayNm}"></td>
									<td>
										<th:block th:if="${data.rcritNmprSetYn eq 'Y'}">[[${data.rltmReqstNmprCo}]] / [[${data.rcritNmprCo}]]</th:block>
										<th:block th:if="${data.rcritNmprSetYn eq 'N'}">[[${data.rcritNmprSetYnNm}]]</th:block>
									</td>
									<td>
										<th:block th:if="${data.preparRcritNmprSetYn eq 'Y'}">[[${data.rltmPreparReqstNmprCo}]] / [[${data.preparRcritNmprCo}]]</th:block>
										<th:block th:if="${data.preparRcritNmprSetYn eq 'N'}">[[${data.preparRcritNmprSetYnNm}]]</th:block>
									</td>
									<td th:text="${data.regDt}"></td>
									<td>
										<a th:onclick="|showReqstSttusListPopupAll( ${data.lctreSn} );|" class="btn btn-primary btn-xs" href="javascript:;" >
											<i class="fa fa-pencil"></i>신청현황
										</a>
									</td>
								</tr>
								<tr th:unless = "${!resultList.isEmpty()}">
									<td class="noDataTd" style="display: none;">
										데이터가 없습니다.
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- E : 테이블 -->
					<!-- S : 하단 목록 -->
					<div class="col-md-12 col-sm-12">
						<!-- bottom left area -->
						<div class="col-md-2 col-sm-3 text-left">
							<a th:if="${ classSn != null && classSn != 0 }" th:href="@{ {basicPath}/{mcd}/{classSn}/regist ( basicPath = ${basicPath}, mcd = ${mcd}, classSn = ${classSn} ) }" class="btn btn-white w120p">등록</a>
						</div>
						<!-- S : 테이블 하단 페이징 -->
						<div class="col-md-8 col-sm-6 text-center"
							 th:insert="~{admin/layout/tiles/paging :: paging('listForm', ${resultList})}">
							<!-- parameter : ( submit할 form 의 name값 ), ( ${resultList} 는 Page<T> 오브젝트 )  -->
						</div>
						<!-- E : 테이블 하단 페이징 -->
						<!-- bottom right area -->
						<div class="col-md-2 col-sm-3 text-right">
							<select class="form-control" name="size" onchange="searchListSize('listForm',this.value);">
								<option value="10" th:selected=" ${resultList.pageable.pageSize} == '10' ">10개씩 보기
								</option>
								<option value="30" th:selected=" ${resultList.pageable.pageSize} == '30' ">30개씩 보기
								</option>
								<option value="50" th:selected=" ${resultList.pageable.pageSize} == '50' ">50개씩 보기
								</option>
								<option value="100" th:selected=" ${resultList.pageable.pageSize} == '100' ">100개씩 보기
								</option>
							</select>
						</div>
					</div>
				</form>
				<form id="deleteForm" name="deleteForm" method="post" th:action="@{ {basicPath}/{mcd}/delete ( basicPath = ${basicPath}, mcd = ${mcd} ) }">
					<input type="hidden" name="pk" id="delPk" /> <!-- delPk 문자 수정 금지 -->
				</form>
			</div>
		</div>
	</div>
	<!-- E : content -->
</th:block>
</html>