<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/layout}">
<!-- S : Javascript functions	-->

<script layout:fragment="script">
	var _mon	= '00';	// 수업제목 중 월 담당
	var _day	= '00';	// 수업제목 중 일 담당
	var _apm	= '--';	// am 인지 pm 인지
	var _hh		= '--'	// 수업제목 중 시 담당
	var _MM		= '--분'	// 수업제목 중 분 담당 ( 분은 분까지 작성 )
	var _amount = amtSetComma($("[name='lctreAmt']").val());	// 수업금액  
	var _yoil	= '-';	// 수업제목 중 요일 담당
	
	// 수업제목을 결정하는 title ( auto 활성화 시 사용 )
	var _lctreSjTitle = _mon + '월 ' + _day + '일 ' + '(' + _yoil + ') ' + _apm + ' ' + _hh + '시 ' + _MM + '(' + _amount + '원)';	


	$( function () {

		// summernote editor 설정
		// fnSummernoteCall('classSumry'); // 클래스 요약
		// fnSummernoteCall('classDc');	// 클래스 설명
		
		// 수업제목정보 현행화작업 ( 제목자동설정 체크박스 체크 할 거 대비 ) 
		initLctreSj();

		// 모집인원 선택시 인원수 input 활성화/비활성화 처리
		$( "input:radio[name='rcritNmprSetYn']" ).change( function () {
			if ( $( this ).val() == 'Y' ) {
				$( "#rcritNmprCo" ).attr( "readonly", false );

				$( "#rcritNmprArea" ).show();

			} else {
				$( "#rcritNmprCo" ).attr( "readonly", true );
				$( "#rcritNmprCo" ).val( "" );

				$( "#rcritNmprArea" ).hide();
				$( "input:radio[name='preparRcritNmprSetYn'][value='N']" ).prop( "checked", true );
				$( "#preparRcritNmprCo" ).attr( "readonly", true );
				$( "#preparRcritNmprCo" ).val( "" );
			}
		} );

		// 예비모집인원 선택시 인원수 input 활성화/비활성화 처리
		$( "input:radio[name='preparRcritNmprSetYn']" ).change( function () {
			if ( $( this ).val() == 'Y' ) {
				$( "#preparRcritNmprCo" ).attr( "readonly", false );
			} else {
				$( "#preparRcritNmprCo" ).attr( "readonly", true );
				$( "#preparRcritNmprCo" ).val( "" );
			}
		} );


		var rcritNmprSetYn = $( "input:radio[name='rcritNmprSetYn']:checked" ).val();   // 모집인원설정여부 setting
		if(rcritNmprSetYn == 'Y') {
			$( "#rcritNmprCo" ).attr( "readonly", false );

			$( "#rcritNmprArea" ).show();
		} else {
			$( "#rcritNmprCo" ).attr( "readonly", true );
			$( "#rcritNmprCo" ).val( "" );

			$( "#rcritNmprArea" ).hide();
		}

		var preparRcritNmprSetYn = $( "input:radio[name='preparRcritNmprSetYn']:checked" ).val();   // 모집인원설정여부 setting
		if(preparRcritNmprSetYn == 'Y') {
			$( "#preparRcritNmprCo" ).attr( "readonly", false );
		} else {
			$( "#preparRcritNmprCo" ).attr( "readonly", true );
			$( "#preparRcritNmprCo" ).val( "" );
		}
		
		// 자동제목설정 클릭시 이벤트
		$( "input[name='autoLctreSjSet']" ).click( function () {
			
			if ( $(this).is(':checked') ) {
				// 자동 설정 start
				// - 수업제목 비활성화
				$("[name='lctreSj']").prop( "readonly", true );
				
				// 요일, 수업일시, 수업금액 현행화 작업 수행
				// - 요일, 수업일시는 현행화가 계속 진행중이고, 수업금액만 현행화를 진행하면 됨.
				_amount = amtSetComma($("[name='lctreAmt']").val());	// 수업금액
				
				// - 요일 선택 변경 시 해당 값 setting 및 수업제목 refresh&display
				$("[name='classDayCd']").attr("onchange","refreshLctreSj();");
				// - 수업 일시 변경 시 해당 값 setting 및 수업제목 refresh&display
				$("[name='lctreDt']").attr("onchange","refreshLctreSj();");
				// - 수업 금액 변경 시 해당 값 setting 및 수업제목 refresh&display
				$("[name='lctreAmt']").attr("onkeyup","setAmountAndRefreshLctreSj( this );");
				
				refreshLctreSj();
			} else {
				// 자동 설정 end
				
				// -수업제목 활성화 
				$("[name='lctreSj']").removeAttr("readonly");
				
				// 요일, 수업일시, 수업금액 onchange 속성 remove : removeAttr 활용
				$("[name='classDayCd'], [name='lctreDt']").removeAttr("onchange");
				$("[name='lctreAmt']").removeAttr("onkeyup");
			}
			
		} );
		
		// 요일 변경 시
		$("[name='classDayCd']").change( function() {
			if ( $(this).val() != '' ) {
				_yoil = $(this).find("option:selected").text().substring(0,1);
			} else {
				_yoil = '-';
				
			}
			
		});


	} );
	// $( function () {}); end

	// form submit 시 유효성 검사
	function submitValidCheck() {

		// 수업일시 체크
		var lctreDt = $( "[name='lctreDt']" ).val();
		if ( lctreDt == '' ) {
			alert( "수업일시를 선택해 주세요." );
			$( "[name='lctreDt']" ).focus();
			return false;
		}
		
		// 모집인원 설정시 모집인원 수 체크
		var rcritNmprSetYn = $( "[name='rcritNmprSetYn']:checked" ).val();
		if ( rcritNmprSetYn == 'Y' && $( "#rcritNmprCo" ).val() == '' ) {
			alert( "모집인원 설정 시 인원 수는 필수로 입력해 주세요." );
			$( "#rcritNmprCo" ).focus();
			return false;
		}

		// 예비모집인원 설정시 예비모집인원 수 체크
		var preparRcritNmprSetYn = $( "[name='preparRcritNmprSetYn']:checked" ).val();
		if ( preparRcritNmprSetYn == 'Y' && $( "#preparRcritNmprCo" ).val() == '' ) {
			alert( "예비 모집인원 설정 시 인원 수는 필수로 입력해 주세요." );
			$( "#preparRcritNmprCo" ).focus();
			return false;
		}

		return true;
	}
	
	
	function handleDateChange(selectedDates, dateStr, instance) {
		// date 객체 : selectedDates[0]
		var selectDate = selectedDates[0];
		
		_mon 	= selectDate.getMonth() + 1
		_day 	= selectDate.getDate();
		_hh		= selectDate.getHours() < 12 ? selectDate.getHours() : selectDate.getHours()-12 ;
		_MM		= selectDate.getMinutes() == '0' ? '' : selectDate.getMinutes() + '분 ';
		_apm	= selectDate.getHours() < 12 ? '오전' : '오후' ;
		
		console.log(_mon + '월 ' + _day + '일 ' + '(' + _yoil + ') ' + _apm + ' ' + _hh + '시 ' + _MM + '(' + _amount + '원)');	
		
	}
	
	function setAmountAndRefreshLctreSj( e ) {
		_amount = amtSetComma($( e ).val());
		
		refreshLctreSj();
	}
	
	function refreshLctreSj() {
		$("[name='lctreSj']").val(_mon + '월 ' + _day + '일 ' + '(' + _yoil + ') ' + _apm + ' ' + _hh + '시 ' + _MM + '(' + _amount + '원)');
	}
	
	// 수업제목 초기화 작업 ( 초기에 수업요일과 수업일시 기준으로 값을 설정 ) 
	function initLctreSj() {
		
		// 수업요일값 init
		_yoil = $("#classDayCd").find("option:selected").text().substring(0,1);
		
		// 수업일시값 init
		// yyyy-mm-dd hh:MM
		var lctreDt = $("[name='lctreDt']").val();
		_mon	= parseInt(lctreDt.substring(5,7));
		_day	= parseInt(lctreDt.substring(8,10));
		_apm	= parseInt(lctreDt.substring(11,13)) < 12 ? '오전' : '오후';
		_hh		= parseInt(lctreDt.substring(11,13)) < 12 ? parseInt(lctreDt.substring(11,13)) : parseInt(lctreDt.substring(11,13)) - 12;
		_MM		= parseInt(lctreDt.substring(14,16)) == 0 ? '' : parseInt(lctreDt.substring(14,16)) + '분 ';
		
	}

</script>
<!-- E : Javascript functions	-->
<th:block layout:fragment="content">
	<!-- S: content -->
	<div class="row">
		<div class="col-md-12 col-sm-12 ">
			<div class="x_panel">
				<div class="x_content">
					<form id="updateForm" name="updateForm" method="post"
						  th:action="@{ {basicPath}/{mcd}/{classSn}/update ( basicPath = ${basicPath}, mcd = ${mcd}, classSn = ${classDto.classSn} ) }"
						  enctype="multipart/form-data" th:onsubmit="return submitValidCheck();">
						<input type="hidden" name="lctreSn" th:value="${targetDto.lctreSn}" />
						<input type="hidden" name="classSn" th:value="${classDto.classSn}"/>

						<div class="field item form-group">
							<label class="col-form-label col-md-2 col-sm-3 label-align">클래스 분류<span
									class="required">*</span></label>
							<div class="col-md-2 col-sm-6">
								<input type="text" class="form-control" name="classNm" id="classNm"
									   th:value="${classDto.classSj}" readonly>
							</div>
							<div class="col-md-2 col-sm-6">
								<select class="form-control" name="classDayCd" id="classDayCd" required="required">
									<option value="">요일 선택</option>
									<option th:each="item : ${classWeekList}" th:value="${item.classDayCd}" th:selected="${item.classDayCd} == ${targetDto.classDayCd}" th:text="${item.classDayNm}">
								</select>
							</div>
						</div>
						<div class="field item form-group">
							<label class="col-form-label col-md-2 col-sm-3 label-align">수업 순번</label>
							<div class="col-md-6 col-sm-6">
								<input type="number" class="form-control" name="lctreSeq" placeholder="수업 순번 입력(숫자만)" th:value="${targetDto.lctreSeq}"/>
								<small class="font-gray-dark">
									신청 화면에서 수업이 selectbox로 보여지는 순서입니다. 입력하지 않을 시 마지막 순번으로 자동책정됩니다.
								</small>
							</div>
						</div>
						<div class="field item form-group">
							<label class="col-form-label col-md-2 col-sm-3 label-align">수업 제목<span
									class="required">*</span></label>
							<div class="col-md-6 col-sm-6">
								<input class="form-control" name="lctreSj" placeholder="수업 제목을 입력해주세요." th:value="${targetDto.lctreSj}" required/>
								<small class="font-gray-dark">
									신청 화면에서 수업이 selectbox로 보여지는 내용입니다. ex ) 1월 1일 (월) 오후 3시 (59,000)
								</small>
							</div>
							<div class="col-md-4 col-sm-3">
								<input id="autoLctreSjSet" type="checkbox" name="autoLctreSjSet" value="Y"/>
								<label for="autoLctreSjSet">
									<span class="cbTitle">제목 자동 설정</span>
								</label>
								<br />
								<small class="font-gray-dark">
									제목을 설정값으로 자동으로 설정해 줍니다. ex ) 1월 19일 (수) 오후 2시 30분 (59,900원)
								</small>
							</div>
						</div>
						<div class="field item form-group">
							<label class="col-form-label col-md-2 col-sm-3 label-align">수업 일시<span
									class="required">*</span></label>
							<div class="col-md-6 col-sm-6">
								<input type="text" class="form-control" name="lctreDt" placeholder="수업 일시 선택" data-pickr="dateTime" required th:value="${targetDto.lctreDt}" />
								<small class="font-gray-dark">
									수업 시작하는 일시를 선택해주세요.
								</small>
							</div>
						</div>
						<div class="field item form-group">
							<label class="col-form-label col-md-2 col-sm-3 label-align">수업 금액<span
									class="required">*</span></label>
							<div class="col-md-6 col-sm-6">
								<input type="number" class="form-control" name="lctreAmt" placeholder="수업 금액 입력(숫자만)" th:value="${targetDto.lctreAmt}"/>
								<small class="font-gray-dark">
									실제 사용자가 지불할 수업 금액입니다.
								</small>
							</div>
						</div>
						<div class="field item form-group">
							<label class="col-form-label col-md-2 col-sm-3 label-align">수업 설명</label>
							<div class="col-md-6 col-sm-6">
								<textarea id="lctreDc" name="lctreDc" class="form-control" th:text="${targetDto.lctreDc}"></textarea>
							</div>
						</div>
						<div class="field item form-group">
							<label class="col-form-label col-md-2 col-sm-3 label-align">신청자 안내</label>
							<div class="col-md-6 col-sm-6">
								<textarea id="lctreApplcntGuidance" name="lctreApplcntGuidance"
										  class="form-control" th:text="${targetDto.lctreApplcntGuidance}"></textarea>
								<small class="font-gray-dark">
									신청자분들이 신청내역에서 보여지는 항목입니다. 입금안내 및 수업관련 내용등을 작성합니다.
								</small>
							</div>
						</div>
						<div class="field item form-group">
							<label class="col-form-label col-md-2 col-sm-3 label-align">모집인원 설정<span
									class="required">*</span></label>
							<div class="col-md-2 col-sm-4">
								<div class="btn-group radiobox">
									<input type="radio" id="rcritNmprSetYn1" name="rcritNmprSetYn" value="Y" th:checked="${targetDto.rcritNmprSetYn eq 'Y'}"
										   class="join-btn" required>
									<label for="rcritNmprSetYn1" class="btn btn-outline-purple w100p"
										   data-toggle-class="btn-primary"
										   data-toggle-passive-class="btn-default">설정</label>
									<input type="radio" id="rcritNmprSetYn2" name="rcritNmprSetYn" value="N" th:checked="${targetDto.rcritNmprSetYn eq 'N'}"
										   class="join-btn" required>
									<label for="rcritNmprSetYn2" class="btn btn-outline-purple w100p"
										   data-toggle-class="btn-primary"
										   data-toggle-passive-class="btn-default">미설정</label>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="col-md-12 col-sm-12">
									<input class="form-control" type="text" name="rcritNmprCo" id="rcritNmprCo"
										   placeholder="모집인원수 입력(숫자만)" th:value="${targetDto.rcritNmprCo}">
								</div>
							</div>
						</div>
						<div class="field item form-group" id="rcritNmprArea" style="display: none;">
							<label class="col-form-label col-md-2 col-sm-3 label-align">
								예비 모집인원 설정<span class="required">*</span>
							</label>
							<div class="col-md-2 col-sm-4">
								<div class="btn-group radiobox">
									<input type="radio" id="preparRcritNmprSetYn1" name="preparRcritNmprSetYn" value="Y" th:checked="${targetDto.preparRcritNmprSetYn eq 'Y'}"
										   class="join-btn" required>
									<label for="preparRcritNmprSetYn1" class="btn btn-outline-purple w100p"
										   data-toggle-class="btn-primary"
										   data-toggle-passive-class="btn-default">설정</label>
									<input type="radio" id="preparRcritNmprSetYn2" name="preparRcritNmprSetYn" value="N" th:checked="${targetDto.preparRcritNmprSetYn eq 'N'}"
										   class="join-btn" required>
									<label for="preparRcritNmprSetYn2" class="btn btn-outline-purple w100p"
										   data-toggle-class="btn-primary"
										   data-toggle-passive-class="btn-default">미설정</label>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="col-md-12 col-sm-12">
									<input class="form-control" type="text" name="preparRcritNmprCo"
										   id="preparRcritNmprCo" placeholder="모집인원수 입력(숫자만)" th:value="${targetDto.preparRcritNmprCo}">
								</div>
							</div>
						</div>
						<!-- 저장버튼 -->
						<div class="col-md-12 bottom-btn-group">
							<!-- bottom left area -->
							<div class="col-md-2 col-sm-3 text-left">
								<a th:href="@{ {basicPath}/{mcd}/{classSn}/list ( basicPath = ${basicPath}, mcd = ${mcd}, classSn = ${classDto.classSn} ) }"
								   class="btn btn-white w120p">목록</a>
							</div>
							<!-- bottom c	enter area -->
							<div class="col-md-8 col-sm-6 text-center">
								<a th:href="@{ {basicPath}/{mcd}/list ( basicPath = ${basicPath}, mcd = ${mcd} ) }"
								   class="btn btn-white w120p">취소</a>
								<button type="submit" class="btn btn-purple w120p">저장</button>
							</div>
							<!-- bottom right area -->
							<div class="col-md-2 col-sm-3 text-right">
								<a th:href="'javascript:deleteItem(\'' + ${targetDto.lctreSn} + '\');'" class="btn btn-danger btn-xs">
									<i class="fa fa-trash-o"></i>삭제
								</a>
							</div>
						</div>
					</form>
					<form id="deleteForm" name="deleteForm" method="post" th:action="@{ {basicPath}/{mcd}/{classSn}/delete ( basicPath = ${basicPath}, mcd = ${mcd}, classSn = ${classDto.classSn} ) }">
						<input type="hidden" name="pk" id="delPk" /> <!-- delPk 문자 수정 금지 -->
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- E : content -->
</th:block>
</html>