<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/layout}">
<!-- S : Javascript functions	-->

<script layout:fragment="script">

    $( function () {

        // summernote editor 설정
        // fnSummernoteCall('classSumry'); // 클래스 요약
        // fnSummernoteCall('classDc');    // 클래스 설명

        // 모집인원 선택시 인원수 input 활성화/비활성화 처리
        $( "input:radio[name='rcritNmprSetYn']" ).change( function () {
            if ( $( this ).val() == 'Y' ) {
                $( "#rcritNmprCo" ).attr( "readonly", false );

                $( "#rcritNmprArea" ).show();

            } else {
                $( "#rcritNmprCo" ).attr( "readonly", true );
                $( "#rcritNmprCo" ).val( "" );

                $( "#rcritNmprArea" ).hide();
                $( "input:radio[name='preparRcritNmprSetYn'][value='N']" ).prop( "checked", true );
                $( "#preparRcritNmprCo" ).attr( "readonly", true );
                $( "#preparRcritNmprCo" ).val( "" );
            }
        } );

        // 예비모집인원 선택시 인원수 input 활성화/비활성화 처리
        $( "input:radio[name='preparRcritNmprSetYn']" ).change( function () {
            if ( $( this ).val() == 'Y' ) {
                $( "#preparRcritNmprCo" ).attr( "readonly", false );
            } else {
                $( "#preparRcritNmprCo" ).attr( "readonly", true );
                $( "#preparRcritNmprCo" ).val( "" );
            }
        } );


    } );
    // $( function () {}); end

    // form submit 시 유효성 검사
    function submitValidCheck() {

        // 모집인원 설정시 모집인원 수 체크
        var rcritNmprSetYn = $( "[name='rcritNmprSetYn']:checked" ).val();
        if ( rcritNmprSetYn == 'Y' && $( "#rcritNmprCo" ).val() == '' ) {
            alert( "모집인원 설정시 모집인원 수는 필수로 입력해주세요." );
            $( "#rcritNmprCo" ).focus();
            return false;
        }

        // 예비모집인원 설정시 예비모집인원 수 체크
        var preparRcritNmprSetYn = $( "[name='preparRcritNmprSetYn']:checked" ).val();
        if ( preparRcritNmprSetYn == 'Y' && $( "#preparRcritNmprCo" ).val() == '' ) {
            alert( "예비모집인원 설정시 예비모집인원 수는 필수로 입력해주세요." );
            $( "#preparRcritNmprCo" ).focus();
            return false;
        }

        return true;
    }

</script>
<!-- E : Javascript functions	-->
<th:block layout:fragment="content">
    <!-- S: content -->
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_content">
                    <form id="insertForm" name="insertForm" method="post"
                          th:action="@{ {basicPath}/{mcd}/{classSn}/insert ( basicPath = ${basicPath}, mcd = ${mcd}, classSn = ${classDto.classSn} ) }"
                          enctype="multipart/form-data" th:onsubmit="return submitValidCheck();">
                        <input type="hidden" name="classSn" th:value="${classDto.classSn}"/>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">클래스 분류<span
                                    class="required">*</span></label>
                            <div class="col-md-2 col-sm-6">
                                <input type="text" class="form-control" name="classNm" id="classNm"
                                       th:value="${classDto.classSj}" readonly>
                            </div>
                            <div class="col-md-2 col-sm-6">
                                <select class="form-control" name="classDayCd" id="classDayCd" required="required">
                                    <option value="">요일 선택</option>
                                    <option th:each="item : ${classWeekList}" th:value="${item.classDayCd}" th:text="${item.classDayNm}">
                                </select>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">수업 순번</label>
                            <div class="col-md-6 col-sm-6">
                                <input type="number" class="form-control" name="lctreSeq" placeholder="수업 순번 입력(숫자만)"/>
                                <small class="font-gray-dark">
                                    신청 화면에서 수업이 selectbox로 보여지는 순서입니다. 입력하지 않을 시 마지막 순번으로 자동책정됩니다.
                                </small>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">수업 제목<span
                                    class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" name="lctreSj" placeholder="수업 제목을 입력해주세요." required/>
                                <small class="font-gray-dark">
                                    신청 화면에서 수업이 selectbox로 보여지는 내용입니다.
                                </small>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">수업 설명</label>
                            <div class="col-md-6 col-sm-6">
                                <textarea id="lctreDc" name="lctreDc" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">신청자 안내</label>
                            <div class="col-md-6 col-sm-6">
                                <textarea id="lctreApplcntGuidance" name="lctreApplcntGuidance"
                                          class="form-control"></textarea>
                                <small class="font-gray-dark">
                                    신청자분들이 신청내역에서 보여지는 항목입니다. 입금안내 및 수업관련 내용등을 작성합니다.
                                </small>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">모집인원 설정<span
                                    class="required">*</span></label>
                            <div class="col-md-2 col-sm-4">
                                <div class="btn-group radiobox">
                                    <input type="radio" id="rcritNmprSetYn1" name="rcritNmprSetYn" value="Y"
                                           class="join-btn" required>
                                    <label for="rcritNmprSetYn1" class="btn btn-outline-purple w100p"
                                           data-toggle-class="btn-primary"
                                           data-toggle-passive-class="btn-default">설정</label>
                                    <input type="radio" id="rcritNmprSetYn2" name="rcritNmprSetYn" value="N"
                                           class="join-btn" required>
                                    <label for="rcritNmprSetYn2" class="btn btn-outline-purple w100p"
                                           data-toggle-class="btn-primary"
                                           data-toggle-passive-class="btn-default">미설정</label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="col-md-12 col-sm-12">
                                    <input class="form-control" type="text" name="rcritNmprCo" id="rcritNmprCo"
                                           placeholder="모집인원수 입력(숫자만)">
                                </div>
                            </div>
                        </div>
                        <div class="field item form-group" id="rcritNmprArea" style="display: none;">
                            <label class="col-form-label col-md-2 col-sm-3 label-align">예비 모집인원 설정<span
                                    class="required">*</span></label>
                            <div class="col-md-2 col-sm-4">
                                <div class="btn-group radiobox">
                                    <input type="radio" id="preparRcritNmprSetYn1" name="preparRcritNmprSetYn" value="Y"
                                           class="join-btn" required>
                                    <label for="preparRcritNmprSetYn1" class="btn btn-outline-purple w100p"
                                           data-toggle-class="btn-primary"
                                           data-toggle-passive-class="btn-default">설정</label>
                                    <input type="radio" id="preparRcritNmprSetYn2" name="preparRcritNmprSetYn" value="N"
                                           class="join-btn" required>
                                    <label for="preparRcritNmprSetYn2" class="btn btn-outline-purple w100p"
                                           data-toggle-class="btn-primary"
                                           data-toggle-passive-class="btn-default">미설정</label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="col-md-12 col-sm-12">
                                    <input class="form-control" type="text" name="preparRcritNmprCo"
                                           id="preparRcritNmprCo" placeholder="모집인원수 입력(숫자만)">
                                </div>
                            </div>
                        </div>
                        <!-- 저장버튼 -->
                        <div class="col-md-12 bottom-btn-group">
                            <!-- bottom left area -->
                            <div class="col-md-2 col-sm-3 text-left">
                                <a th:href="@{ {basicPath}/{mcd}/{classSn}/list ( basicPath = ${basicPath}, mcd = ${mcd}, classSn = ${classDto.classSn} ) }"
                                   class="btn btn-white w120p">목록</a>
                            </div>
                            <!-- bottom c	enter area -->
                            <div class="col-md-8 col-sm-6 text-center">
                                <a th:href="@{ {basicPath}/{mcd}/list ( basicPath = ${basicPath}, mcd = ${mcd} ) }"
                                   class="btn btn-white w120p">취소</a>
                                <button type="submit" class="btn btn-purple w120p">저장</button>
                            </div>
                            <!-- bottom right area -->
                            <div class="col-md-2 col-sm-3 text-right">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- E : content -->
</th:block>
</html>