<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/layout_popup}">
<!-- S : Javascript functions	-->
<script layout:fragment="script">

	// DOM 준비 된 이후 실행
	$( function () {
		
		

	});

</script>
<!-- E : Javascript functions	-->
<th:block layout:fragment="content">
	<div class="title_top">
		<h3>신청현황 관리</h3>
		<hr class="t_top_line">
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 ">
			<div class="x_panel">
				<div class="x_title">
					<h2>수업 기본 정보<small>수업의 기본적인 정보를 표시합니다.</small></h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa purple fa-chevron-up"></i></a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="lctre-basic-info-wrap" th:data>
						<!-- 좌 우 영역 나누어서, 좌측에는 썸네일 / 우측에는  - 분류, 클래스, 수업, 일시, 수업금액, 수업 설명, 모집인원설정여부, 예비모집인원설정여부 -->
						<div class="left-area lctre_basic_info_thumb">
							<img alt="프로필 이미지" class="upload-thumb noimg" 		th:if = 	"${targetDto.thumbAtchFileSn == null}" >
							<img alt="프로필 이미지" class="upload-thumb" 				th:unless = "${targetDto.thumbAtchFileSn == null}" th:src="@{/getImage(atchFileSn=${targetDto.thumbAtchFileSn})}"  >
						</div>
						<div class="right-area lctre_basic_info">
							<div class="info-item">
								<label>분류</label>
								<span class="info-item-value">[[${targetDto.ctgryNm}]]
									<th:block th:if="!${#strings.isEmpty(targetDto.crseNm)}">
										 > [[${targetDto.crseNm}]]
									</th:block>
								</span>
							</div>
							<div class="info-item">
								<label>클래스</label>
								<span class="info-item-value" th:text="${targetDto.classSj}" >클래스제목</span>
							</div>
							<div class="info-item">
								<label>수업 명</label>
								<span class="info-item-value" th:text="${targetDto.lctreSj}" >수업</span>
							</div>
							<div class="info-item">
								<label>수업 일시</label>
								<span class="info-item-value" th:text="${targetDto.lctreDt} + ' (' + ${targetDto.classDayNm} + ')'" >일시</span>
							</div>
							<div class="info-item">
								<label>수업 금액</label>
								<span class="info-item-value" th:text="|${#numbers.formatInteger(targetDto.lctreAmt, 3, 'COMMA')} 원|" >수업금액</span>
							</div>
							<div class="info-item">
								<label>모집인원설정여부</label>
								<span class="info-item-value" th:if="${targetDto.rcritNmprSetYn == 'Y'}" th:text="${targetDto.rcritNmprCo} + '명'">설정 일때에는 명수 표시</span>
								<span class="info-item-value" th:unless="${targetDto.rcritNmprSetYn == 'Y'}" th:text="${targetDto.rcritNmprSetYnNm}" >미설정일때는 미설정으로 표시</span>
							</div>
							<div class="info-item">
								<label>예비모집인원설정여부</label>
								<span class="info-item-value" th:if="${targetDto.preparRcritNmprSetYn == 'Y'}" th:text="${targetDto.preparRcritNmprCo} + '명'">설정 일때에는 명수 표시</span>
								<span class="info-item-value" th:unless="${targetDto.preparRcritNmprSetYn == 'Y'}" th:text="${targetDto.preparRcritNmprSetYnNm}" >미설정일때는 미설정으로 표시</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 ">
			<div class="x_panel">
				<div class="x_title">
					<h2>수업 상세 정보<small>수업 설명 및 신청자 안내문을 표시합니다.</small></h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa purple fa-chevron-down"></i></a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content" style="display: none;">
					<div class="lctre-detail-info-wrap">
						<div class="section">
							<h2>수업 설명</h2>
							<div class="info-text" th:text="${targetDto.lctreDc}" >

							</div>
						</div>
						<div class="section">
							<h2>신청자 안내문</h2>
							<pre class="info-text" th:text="${targetDto.lctreApplcntGuidance}" >

							</pre>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="x_panel">
		<div class="x_content">
			<div class="row">
					<!-- S : 테이블 상단 검색 창 -->
					<!-- totalCount -->
					<div class="col-md-1 col-sm-2 mt_10p pl_15p">
						총 <span th:utext="${lctreReqstList.size()}"></span>건
					</div>
					<div class="col-md-11 col-sm-10 mb_10p">
					</div>
					<!-- E : 테이블 상단 검색 창 -->
					<!-- S : 테이블 -->
					<div class="col-md-12 col-sm-12 ">
						<table id="listTable" class="table table-bordered text-center">
							<colgroup>
								<col style="width:60px;">
								<col style="width:auto;">
								<col style="width:180px;">
								<col style="width:200px;">
								<col style="width:180px;">
								<col style="width:220px;">
								<col style="width:145px;">
							</colgroup>
							<thead>
							<tr>
								<th>순번</th>
								<th>ID(email)</th>
								<th>전화번호</th>
								<th>신청자명(학부모명)</th>
								<th>자녀명</th>
								<th>신청일시</th>
								<th>예비인원여부</th>
							</tr>
							</thead>
							<tbody>
							<tr th:if = "${!lctreReqstList.isEmpty()}" th:each=" data : ${lctreReqstList} " >
								<td th:text="${dataStat.count}"></td>
								<td th:text="${data.userId}">신청자 ID</td>
								<td th:text="${data.telNo}">신청자 전화번호</td>
								<td th:text="${data.userNm}">신청자 이름</td>
								<td th:text="${data.chldrnNm}">신청 자녀 이름</td>
								<td th:text="${data.regDt}">신청일시</td>
								<td th:if="${targetDto.rcritNmprSetYn == 'Y'}" >
									<th:block th:if="${data.preparNmprYn == 'Y'}">
										<span class="red bold" >예비</span>
									</th:block>
									<th:block th:unless="${data.preparNmprYn == 'Y'}">
										<span class="blue bold">정원</span>
									</th:block>
								</td>
								<td th:unless="${targetDto.rcritNmprSetYn == 'Y'}" >미설정</td>
							</tr>
							</tbody>
						</table>
					</div>
					<!-- E : 테이블 -->
					<!-- S : 하단 목록 -->
					<div class="col-md-12 col-sm-12">
					</div>
			</div>
		</div>
	</div>

</th:block>
</html>