<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{pon/layout/layout}">
<head layout:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">

	<title layout:fragment="title">피오니키즈</title>

	<!-- css -->
	<link rel="stylesheet" href="/pon/common/css/reset.css">
	<link rel="stylesheet" href="/pon/common/css/common.css">
	<link rel="stylesheet" href="/pon/common/css/style.css">
	<link rel="stylesheet" href="/pon/npm/swiper11/css/swiper-bundle.min.css">

</head>
<title layout:fragment="title">피오니키즈 - pioneerkids</title>
<!-- S : Javascript functions	-->
<div layout:fragment="script">
	<!-- js -->
	<script>
		<!-- 같은 카테고리 다른 클래스 slider -->
		var swiper = new Swiper(".detail_swiper", {
			slidesPerView :4,
			spaceBetween:30,
			navigation: {
				nextEl: " .swiper-button-next",
				prevEl: " .swiper-button-prev",
			},
			breakpoints: {
				1240: {
					slidesPerView: 4,  
					spaceBetween: 30,
				},
				768: {
					slidesPerView: 3,  
					spaceBetween: 20,
				},
				365: {
					slidesPerView: 2,  
					spaceBetween: 20,
				},
			}
		});
		
		// 현재 추가한 수업의 총 금액 
		let totalLctrePriceAmt = 0;
		
		
		function selectWeekDay( e ) {
			var classSn = $(e).data("classSn");
			var classDayCd = $(e).data("classDayCd");
			
			// 특정 클래스의 특정 요일 의 수업 리스트 조회
			var url = "/lctre/live/getLctreListByClassSnAndClassDayCdAjax";
			$.ajax( {
				url: url,
				type: "GET",
				dataType: "json",
				async: false,	// 동기식 ajax : 통신이 완료될 떄 까지 다음 line 진행 안함
				data: {classSn : classSn, classDayCd : classDayCd}, // 검색할 값
				contentType: "application/json",
				success: function ( result ) {
					// return type : Map<String, Object>
					
					var resultList = result.resultList;
					
					// 수업 selectbox 초기화
					$("#lctreSn").empty();	
					
					if ( resultList.length > 0 ) {
						
						// 수업 개수만큼 for ( 반복 )
						$("#lctreSn").append("<option value=''>수업을 선택하세요</option>");
						
						for( let item of resultList ) {
							
							// 클래스 추가 (전체)
							$("#lctreSn").append("<option value='" + item.lctreSn + "' data-lctre-amt='" + item.lctreAmt + "' >" + item.lctreSj + " (" + item.lctreAmt +"원)</option>");
							
						}
						
					} else {
						
						$("#lctreSn").append("<option value=''>수업이 없습니다.</option>");
						
					}
					
				}
			} );
			
		}
		
		
		// 수업추가 버튼 클릭 event
		function putInBoxLctre(){
			
			// 사전 유효성 검사 로직 실행하여 false 일 경우 수업추가 하지 않음.
			if ( !validCheckPutInBoxLctre() ) {
				return false;
			}
			
			// 수업추가 html 박스 생성
			lctreAddDrawHtml();
			
			// form 데이터용 추가
		}
		
		
		// 수업추가 [ putInBoxLctre() ]  > 유효성 체크
		function validCheckPutInBoxLctre() {
			
			// 1. 로그인 여부 check
			if ( loginYn == 'N' ) {
				alert("로그인 후 이용 가능합니다.");
				showPopup('login');
				return false;
			}
			
			// 2. 수업 요일 선택 여부 check
			if ( !$(".classDayBtn.active").length ){
				alert("수업 요일을 선택해 주세요.");
				return false ;
			}
			
			// 3. 수업 선택 여부 check
			if ( $( "#lctreSn option:selected" ).val() == "" ) {
				alert("수업을 선택해 주세요.");
				return false ;
			}
			
			// 4. 자녀 선택 여부 check
			if ( $( "#userChldrn option:selected" ).val() == "" ) {
				alert("자녀를 선택해 주세요.");
				return false ;
			}
			
			// 5. 신청 입력 항목 중 필수값 체크
			// 입력 유효성 체크 변수  
		    var boolRequiredInput = false;
		    
		    // 신청 입력 항목 중 필수 항목 전체 순회
		    $( ".clsDtlInput.required" ).each( function ( i, item ) {
				
				if ( $(this).val() == '' ) {
					alert("필수 입력항목을 입력해주세요.");
					$(this).focus();
					boolRequiredInput = true;
					return false;
				}
		    });
		    // 입력 하지 않았을 경우 return false;
		    if ( boolRequiredInput ) {
				return false;
			}
			
			// 6. 추가한 항목 중 같은 (수업&자녀) 있는지 check
			if ( isExistEqualChldrnAndLctre() ) {
				return false;
			}
			
			return true; 
		}
		
		// 수업추가 [ putInBoxLctre() ]  > html 박스 생성
		function lctreAddDrawHtml() {
			// 추가 하기 전, 
			// no_item 영역 있는지 체크하여 있을 시 empty 작업 후 추가
			
			// no_item 있는지 체크
			if ( $(".added_lctre_area .no_item").length ) {
				// 추가영역 초기화 
				$(".added_lctre_area").empty();
			}
			
			// 수업 박스 추가 
			$(".added_lctre_area").append(
				$( "<div>" ).attr( "class", "lctre_box" ).attr("data-lctre-amt", $( "#lctreSn option:selected" ).data( 'lctreAmt' ) ).append(
					
						$( "<button>" ).attr( 	"class", 	"close_box" 						).append(
							$(" <img> " ).attr( "src", "/pon/common/image/chat_close.svg" ).attr( "class", "close_icon" ).attr( "alt", "아이콘 닫기" ).attr("onclick","removeBoxLctre(this)").append()
						),
						$( "<div>" ).attr( 		"class" , 	"lctre_detail_application_area" 	).append(
							// 자녀 , 요일+수업 , 신청입력항목 
				
							// 자녀 정보 추가
							// data-chldrn-sn : chldrnSn 값 setting 
							$("<p>").attr("class", "application_userChldrn item" ).attr( "data-chldrn-sn", $( "#userChldrn option:selected" ).val() ).append(
								"자녀 : " + $( "#userChldrn option:selected" ).text()
							),
							// 요일+수업 정보 추가
							// data-lctre-sn : lctreSn 값 setting
							$("<p>").attr("class", "application_lctreInfo item" ).attr( "data-lctre-sn", $( "#lctreSn option:selected" ).val() ).append(
								"수업 : " + $(".classDayBtn.active").text() + ", " +  $( "#lctreSn option:selected" ).text()
							)
							// 신청입력항목은 이후 프로세스에서 따로 추가
							
						),
						$( "<div>" ).attr( 		"class" , 	"lctre_bill" 						).append(
							$(" <p> ").attr( "class" , "lctre_item_price" ).append(
								$( "#lctreSn option:selected" ).data( 'lctreAmt' ) + " 원"
							)
						),
						$( "<div>" ).attr( 		"class" , 	"input_data" 						).append(
							$(" <input> ").attr( "type" , "hidden" ).attr("name","chldrnSn").attr("value",$( "#userChldrn option:selected" ).val() ).append(),
							$(" <input> ").attr( "type" , "hidden" ).attr("name","lctreSn").attr("value", $( "#lctreSn option:selected" ).val() ).append()
						)
				)	
			)
			
			// 수업 박스 > 수업상세 내용 ( .lctre_detail_application_area )  > 신청입력항목
		    // 신청 입력 항목 전체 순회
		    
		    var index=0;
		    $( ".clsDtlInput" ).each( function ( i, item ) {
				
				// 빈값이 아닐 경우에 수업박스에 추가.
				if ( $(this).val() != null && $(this).val() != '' ) {
					// 가장 마지막 lctre_detail_application_area 태그 찾기 : .eq(-1) 
					$(".lctre_detail_application_area").eq(-1).append(
						$("<p>").attr("class", "application_clsDtl item" ).append(
							$(this).val()
						)
					)
					
					$(".input_data").eq(-1).append(
						$(" <input> ").attr( "type" , "hidden" ).attr("name","lctreReqstDetails[" + index + "].classDetailSn").attr("value", $(this).data('classDetailSn')).append(),
						$(" <input> ").attr( "type" , "hidden" ).attr("name","lctreReqstDetails[" + index + "].classDetailAnswer").attr("value", $(this).val()).append()
					)
					index++;
					
				}
				
		    });
		    
		    // 총 금액 재계산
		    totalLctrePriceAmt +=  $( "#lctreSn option:selected" ).data( 'lctreAmt' );
		    $("#totalLctrePriceAmt").text(totalLctrePriceAmt);
		    // $( "#lctreSn option:selected" ).data( 'lctreAmt' )
		    
		}
		
		
		// 수업추가 [ putInBoxLctre() ]  > 유효성 체크 [ validCheckPutInBoxLctre() ] > 수업추가 중복 유효성 체크
		// 추가한 수업 (박스 기준) 중 같은 수업과 자녀가 존재하는지 체크
		function isExistEqualChldrnAndLctre() {
			
			var result = false;
			
			// 현재 선택한 자녀
			var targetChldrnSn 	= $( "#userChldrn option:selected" ).val();
			// 현재 선택한 수업 
			var targetLctreSn 	= $( "#lctreSn option:selected" ).val();
			
			// 현재 선택한 기준의 자녀와 수업이 추가한 수업 중 존재하는지 확인 (.lctre_detail_application_area 탐색 ) 
		    // 신청 입력 항목 전체 순회
		    $( ".lctre_detail_application_area" ).each( function ( i, item ) {
				
				// 추가된 수업 박스 중 같은 자녀와 수업 내용이 존재한다면
				if ( ( $(this).find('.application_userChldrn').data('chldrnSn') == targetChldrnSn ) &&
					 ( $(this).find('.application_lctreInfo').data('lctreSn') == targetLctreSn ) ) {
					alert("해당 자녀의 같은 수업이 이미 추가되어 있습니다. ");
					result = true;
					return false;
				} 
		    });
		    
			return result;
		}
		
		// 신청한 수업 X표시 눌러서 제거
		function removeBoxLctre( e ) {
			
			// 제거 대상 lctreBox set
			var removeTarget = $( e ).parent().parent();
			
		    // 총 금액 재계산
		    totalLctrePriceAmt -=  removeTarget.data("lctreAmt");
		    $("#totalLctrePriceAmt").text(totalLctrePriceAmt);
		    // $( "#lctreSn option:selected" ).data( 'lctreAmt' )
			
			// 박스 제거 실행
			removeTarget.remove();
			
			// 제거 후 수업박스 개수가 0개인지 확인하여 
			// 0개 일 경우, no_item 추가작업 실행
			if ( $(".added_lctre_area .lctre_box").not( '.no_item' ).length == 0 ) {
				
				// no_item 영역 추가
				addNoItem();
				
			}
			
		}
		
		// no_item 영역 추가
		function addNoItem(){
			
			$(".added_lctre_area").append(
				$( "<div>" ).attr("class", "lctre_box no_item" ).append("수업을 추가해 주세요.")
			);
		}
		
		// 수업 신청
		function insertLctre() {
			// 추가된 수업개수 확인하여
			// 수업이 존재하면 신청 진행
			
			var lctreBoxCnt = $(".added_lctre_area .lctre_box").not( '.no_item' ).length;
			
			if ( lctreBoxCnt < 1 ) {
				alert("수업을 추가해주세요.");
				return false;
			}
			
			// 수업 신청 진행
			if ( confirm("수업을 신청하시겠습니까?") ) {
				// TODO 
				// 수업 신청 진행
				
				// ==================== 유효성 모두 통과 후 dataset 정리 ==================================
				// ==================== 유효성 모두 통과 후 dataset 정리 ==================================
				
				// 수업박스의 input 내용을 배열 처리하여 재정렬
				// 수업sn, 자녀sn, 입력항목sn setting
				$( ".input_data" ).each( function ( index ) {
					// 수업sn, 자녀sn, 입력항목sn setting
					$( this ).find("input").each( function ( i ) {
						$(this).attr("name", "lctreReqsts[" + index + "]." + $(this)[0].name );
					})
				} );
				
				
				return true;
			}
			
			return false;
		}
		
		
		/*  S : 문의 */
		// ======================================================================================
		// 문의하기 버튼 클릭 event
		function goClassInqry(){
				
			// 1. 로그인 여부 check
			if ( loginYn == 'N' ) {
				alert("로그인 후 이용 가능합니다.");
				showPopup('login');
				return false;
			}
			
			// 문의 등록 layer 표출
			showPopup('registClassInqry');
			
		}
		
		function insertClassInqry(){
				
			// 1. 로그인 여부 check
			if ( loginYn == 'N' ) {
				alert("로그인 후 이용 가능합니다.");
				showPopup('login');
				return false;
			}
			
			// 문의 insert 진행
			// 수업 신청 진행
			if ( confirm("문의를 등록하시겠습니까?") ) {
				
				return true;
			}
			
			return false;
		}
		
		function detailInqryPopup( classInqrySn ) {
			
			// 문의 상세 조회 layer 표출
			showPopup('detailClassInqry');
		}
		
		/*  E : 문의 */
		
	</script>
</div>

<!-- E : Javascript functions	-->
<div layout:fragment="content">
	<div class="sub_box">
		<div class="top_tit">
			<div class="star">
				<img src="/pon/common/image/star_color.svg" alt="">
			</div>
			<h3 th:text="${currentMenu != null && currentMenu.menuNm!= null } ? ${currentMenu.menuNm} : '클래스'" >메뉴명</h3>
			<span th:text="${currentMenu != null && currentMenu.menuNm!= null } ? ${currentMenu.menuDc} : '피오니키즈에서만 만나볼 수 있는 특별한 클래스' " >메뉴설명</span>
			<img class="bg_ico1" src="/pon/common/image/star_3d_color.png" alt="클래스배경이미지1">
			<img class="bg_ico2" src="/pon/common/image/atom2.png" alt="클래스배경이미지2">
		</div>
	</div>
	<!-- 클래스 정보 영역 시작 -->
	<div class="class_detail_contanier">
		<form name="classReqstInsertForm" method="POST" th:action="@{ {basicPath}/{mcd}/insert ( basicPath = ${basicPath}, mcd = ${mcd} ) }" class="form" onsubmit="return insertLctre();" >
			<input type="hidden" name="classSn" th:value="${targetDto.classSn}" />
			
			<!-- class detail box 시작 --> 
			<div class="class_detail_box">
				<div class="class_detail_left">
					<img th:src="@{/getImage(atchFileSn=${targetDto.thumbAtchFileSn})}" alt="">
				</div>
				<div class="class_detail_right">
					<div class="detail_top">
<!--						<div th:text="${targetDto.classDc}">클래스 설명-->
<!--							<p>4회 시리즈, 전용교재 및 키트, 사진수료증 포함</p>-->
<!--							<p>[주말/90분]</p>  -->
<!--						</div>-->
						<div class="detail_sh">
							<div>
								<!-- TODO : 좋아요 -->
								<img src="/pon/common/image/heart_color_bg.svg" alt="">
							</div>
							<div>
								<!-- TODO : 공유 -->
								<img src="/pon/common/image/share_color.svg" alt="">
							</div>
						</div>
					</div>
					<div class="detail_name">
						<p th:text="${targetDto.classSj}">클래스제목</p>
					</div>
					<div class="detail_price">
						<h2 th:text="|${targetDto.classAmt}원|">클래스금액</h2> <!-- TODO : 금액 포맷 설정 필요 -->
					</div>
					<div th:if="${targetDto.classTrgtNm != null && targetDto.classTrgtNm != '' }" class="detail_trgt">
						<span th:text="${targetDto.classTrgtNm}">클래스대상명</span>
					</div>
					<div class="detail_day">
						<p>수업요일선택 <small>(필수)</small></p>
						<div>
							<button th:if="${!(classWeekList.isEmpty())}" th:each="data : ${classWeekList}" th:data-class-day-cd="${data.classDayCd}" th:data-class-sn="${targetDto.classSn}"
								 	th:onclick="|selectWeekDay( this );|" th:text="${data.classDayNm}" class="classDayBtn" />
						</div>
						<div class="no-data-weekDay" th:unless="${!(classWeekList.isEmpty())}">
							<span>수업 준비중입니다.</span>
						</div>
					</div>
					<div class="detail_lctre">
						<p>수업선택 <small>(필수)</small></p>
						<select name="lctreSn" id="lctreSn"  >
							<option value="">요일을 선택해 주세요.</option>
						</select>
					</div>
					<div class="detail_chldrn">
						<p>자녀선택 <small>(필수)</small></p>
						<select name="userChldrn" id="userChldrn" >
							<th:block sec:authorize="isAnonymous()"> <!-- 인증 X 일 때  -->
								<option value="">로그인이 필요한 서비스입니다.</option>
							</th:block>
							<th:block sec:authorize="isAuthenticated()" th:if = "${!targetChldrnDtoList.isEmpty() && #lists.size(targetChldrnDtoList) > 0 }"> <!-- 인증계정 있고, 자녀 존재시  -->
								<option value="">자녀를 선택해주세요.</option>
								<option th:each=" data : ${targetChldrnDtoList}" th:value="${data.chldrnSn}" th:text="${data.chldrnNm}"/>
							</th:block>
							<th:block sec:authorize="isAuthenticated()" th:unless = "${!targetChldrnDtoList.isEmpty() && #lists.size(targetChldrnDtoList) > 0 }"> <!-- 인증계정 있으나, 자녀 존재하지 않을 시  -->
								<option value="">자녀 정보가 존재하지 않습니다. 마이페이지에서 자녀 정보를 추가해주세요.</option>
							</th:block>
						</select>
					</div>
					<div th:if="${!(targetClsDtlList.isEmpty())}" >
					<!-- S : 신청 입력 항목 -->
						<div class="detail_disc_in" th:each=" data : ${targetClsDtlList}">
							<th:block th:if="${data.classDetailItemTyCd == 'ANSWER'}"> <!-- 주관식 일 경우 -->
								<p>
									<th:block th:text="${data.classDetailItemCn}"></th:block>
									<th:block th:if="${data.classDetailEssntlYn eq 'Y'}"><small>필수</small></th:block>
								</p>
								<input type="text" class="clsDtlInput" th:data-class-detail-sn="${data.classDetailSn}" th:classappend="${data.classDetailEssntlYn eq 'Y'} ? 'required'" />
							</th:block>
							<!-- 다른 유형 추가 했을 시 작업 필요..  -->
						</div>
					<!-- E : 신청 입력 항목  -->
					</div>
					<!-- S : 수업추가 버튼  -->
					<div class="button_added_area">
						<button type="button" onclick="putInBoxLctre();" >수업추가</button>
					</div>
					<div class="added_info_area">
						<small>※ 자녀를 기준으로 같은 수업을 중복으로 추가할 수 없습니다.</small>
					</div>
					<!-- E : 수업추가 버튼  -->
					<!-- S : 신청한 항목 영역 -->
					<div class="added_lctre_area">
						<div class="lctre_box no_item">
							수업을 추가해 주세요.
						</div>
					</div>
					<!-- E : 신청한 항목 영역 -->
					<div class="detail_purchase">
						<span class="total_price">
							<span class="totalLctrePriceAmt" id="totalLctrePriceAmt">0</span>원
						</span> 
						<button type="submit">신청하기</button>
					</div>
				</div>
			</div>
			<!-- class detail box 종료 -->
		</form>
		<!-- 역사 과목 후기 시작 -->
		<div class="class_detail_review">
			<h3>역사 과목 후기(136)</h3>
			<div class="detail_review_item_box">
				<div class="detail_review_item">
					<div class="review_item_con">
						<span class="star_five">
							<img src="/pon/common/image/star_five.svg" alt="">
						</span>
						<div class="review_tit">[국립중앙박물관 조선시대관] 미취학 "Premuum" 역사탐험대!</div>
						<div class="review_txt">
						</div>
					</div>
					<div class="review_item_img">
						<img src="/pon/common/image/review_img.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- 역사 과목 후기 종료 -->
  	</div>
  	<!-- 클래스 정보 영역 종료 -->
  	
  	<!-- 클래스 상세 탭 시작 ( 상세설명, 후기, Q&A 3개 탭으로 구성) -->
  	<div class="detail_info_tab">
		<div class="detail_tab_nav">
			<ul>
				<li><a href="#detail_tab01" data-tab-id="detail_tab01" class="active">클래스소개</a></li>
				<li><a href="#detail_tab02" data-tab-id="detail_tab02" >후기<small>0<!-- TODO : cnt 설정 --></small> </a></li>
				<li><a href="#detail_tab03" data-tab-id="detail_tab03" >Q&A<small>0<!-- TODO : cnt 설정 --></small> </a></li>
			</ul>
		</div>
		<div class="detail_tab_content">
			
			<!-- 상세설명 시작 -->
			<div class="classDc" id="detail_tab01" th:utext="${targetDto.classDc}">
				클레스 설명
			</div>
			<!-- 상세설명 종료 -->
			
			<!-- 후기 시작 -->
			<div id="detail_tab02" style="display:none;">
				<div class="detail_tab_reivew">
					<h5>수업후기</h5>
					<span>즐거운 수업되셨나요? 구매평 잘 부탁드려요^^ 그리고 오늘 하루 행운이 가득하시길 바랄게요^^</span>
				</div>
				<!-- TODO : 클래스 후기 리스트 뿌리기 -->
				<h5>수업후기 목록이 없습니다.</h5>
			</div>
			<!-- 후기 종료 -->
			
			<!-- Q&A 시작 -->
			<div id="detail_tab03" class="detail_tab" style="display:none;">
				<div class="detail_tab_reivew">
					<h5>Q&A</h5>
					<span>신청하시려는 수업에 대해 궁금한점이 있으신 경우 문의주세요.</span>
				</div>
				<!-- TODO : 클래스 Q&A 리스트 뿌리기 -->
				<th:block 	th:if = "${!classInqryList.isEmpty() && #lists.size(classInqryList) > 0 }" >
					<div class="article_list_box">
						<ol class="article_list">
							<li class="article_item" th:each="data : ${classInqryList}" th:onclick="|detailInqryPopup('${data.classInqrySn}')|">
								<div class="article_num" th:text="${classInqryList.totalElements - ( classInqryList.pageable.pageSize * classInqryList.pageable.pageNumber + dataStat.index ) }">
								</div>
								<div class="article_body">
									<div class="article_tit" th:text="${data.inqrySj}">게시물 제목</div>
									<div class="article_info">
										<div class="article_date" th:text="${data.regDt}">2023-09-12 17:53</div>
									</div>
								</div>
							</li>
						</ol>
					</div>
				</th:block>
				<th:block th:unless = "${!classInqryList.isEmpty() && #lists.size(classInqryList) > 0 }"> <!-- 인증계정 있고, 자녀 존재시  -->
					<h5>Q&A 목록이 없습니다.</h5>
				</th:block>
				<div class="button_added_area" >
					<button type="button" onclick="goClassInqry();">문의하기</button>
				</div>
			</div>
			
			<!-- 문의등록 layer -->	
			<div class="layer_registClassInqry"	style="display: none;"	th:insert="pon/layer/layer_registClassInqry.html" />
			
			<!-- 문의조회 layer -->	
			<div class="layer_detailClassInqry"	style="display: none;"	th:insert="pon/layer/layer_detailClassInqry.html" />
			
			<!-- Q&A 종료 -->
		</div>
	</div>
	<!-- 클래스 상세 탭 종료 ( 상세설명, 후기, Q&A 3개 탭으로 구성) -->
	
	<!-- 같은 카테고리 다른 클래스 시작 -->
	<div class="detail_swipe">
		<div class="detail_swiper_top">
			<h3>[[${targetDto.ctgryNm}]] <small>의 다른수업</small></h3>
		</div>
		<div class="swiper mySwiper detail_swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide"  th:each="data : ${otherClassList}">
					<div class="detail_class_item">
						<div class="detail_class_item_img">
							<img th:src="@{/getImage(atchFileSn=${data.thumbAtchFileSn})}" th:alt="|썸네일_${data.classSj}|">
						</div>
						<div class="detail_class_info">
							<p th:text="${data.ctgryNm}">카테고리명</p>
							<h5 th:text="${data.classSj}">클래스제목</h5>
							<h2 th:text="|${data.classAmt} 원|">클래스금액</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>
	<!-- 같은 카테고리 다른 클래스 종료 -->
</div>
</html>