<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{pon/layout/layout}">
<head layout:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">

	<title layout:fragment="title">피오니키즈</title>

	<!-- css -->
	<link rel="stylesheet" href="/pon/common/css/reset.css">
	<link rel="stylesheet" href="/pon/common/css/common.css">
	<link rel="stylesheet" href="/pon/common/css/style.css">
	<link rel="stylesheet" href="/pon/npm/swiper11/css/swiper-bundle.min.css">

</head>
<title layout:fragment="title">피오니키즈 - pioneerkids</title>
<!-- S : Javascript functions	-->
<div layout:fragment="script">
	<!-- js -->
	<script>
		<!-- 같은 카테고리 다른 클래스 slider -->
		var swiper = new Swiper(".detail_swiper", {
			slidesPerView :4,
			spaceBetween:30,
			navigation: {
				nextEl: " .swiper-button-next",
				prevEl: " .swiper-button-prev",
			},
			breakpoints: {
				1240: {
					slidesPerView: 4,  
					spaceBetween: 30,
				},
				768: {
					slidesPerView: 3,  
					spaceBetween: 20,
				},
				365: {
					slidesPerView: 2,  
					spaceBetween: 20,
				},
			}
		});
		
		
		function selectWeekDay( e ) {
			var classSn = $(e).data("classSn");
			var classDayCd = $(e).data("classDayCd");
			
			// 특정 클래스의 특정 요일 의 수업 리스트 조회
			var url = "/lctre/live/getLctreListByClassSnAndClassDayCdAjax";
			$.ajax( {
				url: url,
				type: "GET",
				dataType: "json",
				async: false,	// 동기식 ajax : 통신이 완료될 떄 까지 다음 line 진행 안함
				data: {classSn : classSn, classDayCd : classDayCd}, // 검색할 값
				contentType: "application/json",
				success: function ( result ) {
					// return type : Map<String, Object>
					
					var resultList = result.resultList;
					
					// 수업 selectbox 초기화
					$("#lctreSn").empty();	
					
					
					if ( resultList.length > 0 ) {
						
						// 수업 개수만큼 for ( 반복 )
						$("#lctreSn").append("<option value=''>수업을 선택하세요</option>");
						for( let item of resultList ) {
							// 클래스 추가 (전체)
							$("#lctreSn").append("<option value='" + item.lctreSn + "'>" + item.lctreSj + "</option>");
						}
						
					} else {
						$("#lctreSn").append("<option value=''>수업이 없습니다.</option>");
					}
					
				}
			} );
			
			console.log("classSn : "  + classSn + ", classDayCd : " + classDayCd ) ;
			
		}
		
	</script>
</div>

<!-- E : Javascript functions	-->
<div layout:fragment="content">
	<div class="sub_box">
		<div class="top_tit">
			<div class="star">
				<img src="/pon/common/image/star_color.svg" alt="">
			</div>
			<h3 th:text="${currentMenu != null && currentMenu.menuNm!= null } ? ${currentMenu.menuNm} : '클래스'" >메뉴명</h3>
			<span th:text="${currentMenu != null && currentMenu.menuNm!= null } ? ${currentMenu.menuDc} : '피오니키즈에서만 만나볼 수 있는 특별한 클래스' " >메뉴설명</span>
			<img class="bg_ico1" src="/pon/common/image/star_3d_color.png" alt="클래스배경이미지1">
			<img class="bg_ico2" src="/pon/common/image/atom2.png" alt="클래스배경이미지2">
		</div>
	</div>
	<!-- 클래스 정보 영역 시작 -->
	<div class="class_detail_contanier">
		<form id="insertForm" name="insertForm" method="get" th:action="@{ {basicPath}/{mcd}/list ( basicPath = ${basicPath}, mcd = ${mcd} ) }" class="form">
			<!-- class detail box 시작 --> 
			<div class="class_detail_box">
				<div class="class_detail_left">
					<img th:src="@{/getImage(atchFileSn=${targetDto.thumbAtchFileSn})}" alt="">
				</div>
				<div class="class_detail_right">
					<div class="detail_top">
<!--						<div th:text="${targetDto.classDc}">클래스 설명-->
<!--							<p>4회 시리즈, 전용교재 및 키트, 사진수료증 포함</p>-->
<!--							<p>[주말/90분]</p>  -->
<!--						</div>-->
						<div class="detail_sh">
							<div>
								<!-- TODO : 좋아요 -->
								<img src="/pon/common/image/heart_color_bg.svg" alt="">
							</div>
							<div>
								<!-- TODO : 공유 -->
								<img src="/pon/common/image/share_color.svg" alt="">
							</div>
						</div>
					</div>
					<div class="detail_name">
						<p th:text="${targetDto.classSj}">클래스제목</p>
					</div>
					<div class="detail_price">
						<h2 th:text="|${targetDto.classAmt} 원|">클래스금액</h2> <!-- TODO : 금액 포맷 설정 필요 -->
					</div>
					<div th:if="${targetDto.classTrgtNm != null && targetDto.classTrgtNm != '' }" class="detail_trgt">
						<span th:text="${targetDto.classTrgtNm}">클래스대상명</span>
					</div>
					<div class="detail_day">
						<p>수업요일선택 <small>(필수)</small></p>
						<div>
							<button th:if="${!(classWeekList.isEmpty())}" th:each="data : ${classWeekList}" th:data-class-day-cd="${data.classDayCd}" th:data-class-sn="${targetDto.classSn}"
								 	th:onclick="|selectWeekDay( this );|" th:text="${data.classDayNm}" />
						</div>
						<div class="no-data-weekDay" th:unless="${!(classWeekList.isEmpty())}">
							<span>수업 준비중입니다.</span>
						</div>
					</div>
					<div class="detail_lctre">
						<p>수업선택 <small>(필수)</small></p>
						<select name="lctreSn" id="lctreSn" required="required" >
							<option value="">요일을 선택해 주세요.</option>
						</select>
					</div>
					<div class="detail_chldrn">
						<p>자녀선택 <small>(필수)</small></p>
						<!-- TODO : 인증 권한 체크 하여 분기를 나누어 로그인 시에는 자녀정보 표출  -->
						<select name="" id="" required="required">
							<th:block sec:authorize="isAnonymous()"> <!-- 인증 X 일 때  -->
								<option value="">로그인이 필요한 서비스입니다.</option>
							</th:block>
							<th:block sec:authorize="isAuthenticated()" th:if = "${!targetChldrnDtoList.isEmpty()}" th:each=" data : ${targetChldrnDtoList} "> <!-- 인증계정 있고, 자녀 존재시  -->
								<option th:value="${data.chldrnSn}" th:text="${data.chldrnNm}"/>
							</th:block>
							<th:block sec:authorize="isAuthenticated()" th:unless = "${!targetChldrnDtoList.isEmpty()}" th:each=" data : ${targetChldrnDtoList} "> <!-- 인증계정 있으나, 자녀 존재하지 않을 시  -->
								<option value="">자녀 정보가 존재하지 않습니다. 마이페이지에서 자녀 정보를 추가해주세요.</option>
							</th:block>
						</select>
					</div>
					<div>
						<div class="detail_disc_in" th:each=" data : ${targetClsDtlList}">
							<th:block th:if="${data.classDetailItemTyCd == 'ANSWER'}"> <!-- 주관식 일 경우 -->
								<p>
									<th:block th:text="${data.classDetailItemCn}"></th:block>
									<th:block th:if="${data.classDetailEssntlYn eq 'Y'}"><small>필수</small></th:block>
								</p>
								<input type="text" th:attr="${data.classDetailEssntlYn eq 'Y'} ? required=required" >
							</th:block>
							<!-- 다른 유형 추가 했을 시 작업 필요..  -->
						</div>
					</div>
					<div class="detail_purchase"> <!-- TODO : 버튼 이벤트 처리 설정 --> 
						<button>장바구니</button>
						<button>구매하기</button>
					</div>
				</div>
			</div>
			<!-- class detail box 종료 -->
		</form>
		<!-- 역사 과목 후기 시작 -->
		<div class="class_detail_review">
			<h3>역사 과목 후기(136)</h3>
			<div class="detail_review_item_box">
				<div class="detail_review_item">
					<div class="review_item_con">
						<span class="star_five">
							<img src="/pon/common/image/star_five.svg" alt="">
						</span>
						<div class="review_tit">[국립중앙박물관 조선시대관] 미취학 "Premuum" 역사탐험대!</div>
						<div class="review_txt">
						</div>
					</div>
					<div class="review_item_img">
						<img src="/pon/common/image/review_img.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- 역사 과목 후기 종료 -->
  	</div>
  	<!-- 클래스 정보 영역 종료 -->
  	
  	<!-- 클래스 상세 탭 시작 ( 상세설명, 후기, Q&A 3개 탭으로 구성) -->
  	<div class="detail_info_tab">
		<div class="detail_tab_nav">
			<ul>
				<li><a href="#tab01" class="active">클래스소개</a></li>
				<li><a href="#tab02">후기<small>0<!-- TODO : cnt 설정 --></small> </a></li>
				<li><a href="#tab03">Q&A<small>0<!-- TODO : cnt 설정 --></small> </a></li>
			</ul>
		</div>
		<div class="detail_tab_content">
			
			<!-- 상세설명 시작 -->
			<div class="classDc" id="tab01" th:utext="${targetDto.classDc}">
				클레스 설명
			</div>
			<!-- 상세설명 종료 -->
			
			<!-- 후기 종료 -->
			<div id="tab02">
				<div class="detail_tab_reivew">
					<h5>수업후기</h5>
					<span>즐거운 수업되셨나요? 구매평 잘 부탁드려요^^ 그리고 오늘 하루 행운이 가득하시길 바랄게요^^</span>
				</div>
				<!-- TODO : 클래스 후기 리스트 뿌리기 -->
				<h5>수업후기 목록이 없습니다.</h5>
			</div>
			<!-- 후기 종료 -->
			
			<!-- Q&A 시작 -->
			<div id="tab03">
				<div class="detail_tab_reivew">
					<h5>Q&A</h5>
					<span>신청하시려는 수업에 대해 궁금한점이 있으신 경우 문의주세요.</span>
				</div>
				<!-- TODO : 클래스 Q&A 리스트 뿌리기 -->
				<h5>Q&A 목록이 없습니다.</h5>
			</div>
			<!-- Q&A 종료 -->
		</div>
	</div>
	<!-- 클래스 상세 탭 종료 ( 상세설명, 후기, Q&A 3개 탭으로 구성) -->
	
	<!-- 같은 카테고리 다른 클래스 시작 -->
	<div class="detail_swipe">
		<div class="detail_swiper_top">
			<h3>[[${targetDto.ctgryNm}]] <small>의 다른수업</small></h3>
		</div>
		<div class="swiper mySwiper detail_swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide"  th:each="data : ${otherClassList}">
					<div class="detail_class_item">
						<div class="detail_class_item_img">
							<img th:src="@{/getImage(atchFileSn=${data.thumbAtchFileSn})}" th:alt="|썸네일_${data.classSj}|">
						</div>
						<div class="detail_class_info">
							<p th:text="${data.ctgryNm}">카테고리명</p>
							<h5 th:text="${data.classSj}">클래스제목</h5>
							<h2 th:text="|${data.classAmt} 원|">클래스금액</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>
	<!-- 같은 카테고리 다른 클래스 종료 -->
	
</div>
</html>