<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{pon/layout/layout_main}">

<head layout:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">

	<title layout:fragment="title">피오니키즈</title>

	<!-- css -->
	<link rel="stylesheet" href="/pon/common/css/reset.css">
	<link rel="stylesheet" href="/pon/common/css/common.css">
	<link rel="stylesheet" href="/pon/common/css/style.css">
	<link rel="stylesheet" href="/pon/npm/swiper11/css/swiper-bundle.min.css">

</head>
<title layout:fragment="title">피오니키즈 - pioneerkids</title>
<!-- S : Javascript functions	-->
<div layout:fragment="script">
	<!-- js -->
	<script>
		function reviewOrderby(){
			$("#listForm").submit();
		}

	</script>
</div>

<!-- E : Javascript functions	-->
<div layout:fragment="content">
	<form id="listForm" name="listForm" method="get" th:action="@{ {basicPath}/{mcd}/list ( basicPath = ${basicPath}, mcd = ${mcd} ) }" class="form">
		<input th:if="${#authentication.principal ne 'anonymousUser' }" type="hidden" name="userSn" th:value="${#authentication.principal.userSn}" >
		<input type="hidden" name="page" th:value="${resultList.pageable.pageNumber}"/>
		<div class="sub_box review">
			<div class="top_tit">
				<div class="star">
					<img src="/pon/common/image/star_color.svg" alt="배경아이콘_별">
				</div>
				<h3 th:text="${currentMenu != null && currentMenu.menuNm!= null } ? ${currentMenu.menuNm} : '수업후기' " >메뉴명</h3>
				<span th:text="${currentMenu != null && currentMenu.menuNm!= null } ? ${currentMenu.menuDc} : '' " >메뉴설명</span>
				<img class="bg_ico1" src="/pon/common/image/star_3d_color.png" alt="클래스배경이미지1">
				<img class="bg_ico2" src="/pon/common/image/atom2.png" alt="클래스배경이미지2">
			</div>
			<div class="article_top">
                <span>총 게시물 <strong th:utext="${resultList.totalElements}"> </strong></span>
                <select name="schOption" onchange="reviewOrderby();" >
                    <option value="A" th:selected=" ${searchDTO.schOption} == 'A'" >최신등록순</option>
                    <option value="B" th:selected=" ${searchDTO.schOption} == 'B'" >별점높은순</option>
                    <option value="C" th:selected=" ${searchDTO.schOption} == 'C'" >별점낮은순</option>
                </select>
            </div>
			<div class="review_list" th:classappend="${ (resultList.isEmpty())} ? 'no-data'">
                <div class="review_item" th:if = "${!resultList.isEmpty()}" th:each="data : ${resultList}" th:onclick="|detailReviewLayer('${data.classReviewSn}')|" >
                    <div class="review_thumbnail">
                        <img th:src="@{/getImage(atchFileSn=${data.thumbAtchFileSn})}" alt="클래스수업후기이미지">
                    </div>
                    <div class="review_content">
                        <div class="review_info">
                            <div class="review_name">
                                <h5 th:text="|${#strings.substring(data.userNm, 0, 1)}**|" >김**</h5>
                            </div>
                            <div class="like_star" >
                                <img src="/pon/common/image/star_like.svg" th:each="num : ${#numbers.sequence(1,data.reviewGradeLong)}" alt="후기별점" >
                            </div>
                        </div>
                        <p class="riview_tit" th:text="${data.classSj}" >한국근현대미술전! 엄마 우리나라에서 제일 비싼 그림은 누가 그렸어요?</p>
                        <p class="riview_disc" th:text="${#strings.abbreviate(data.reviewCn,80)}">수업이 재밌대요. 수업중 밖에서 들어보면 우렁차게 잘 대답 하더라구요. 수업 마치면 Homework가 있다고 끝나자마자 아주 오리고 붙이고 바쁘네요 일단 어른이 봐도 수업자료가 아주 재밌어보여요 저희 아이는 숙제가 끝난 후에도 자료를 가지고 게임하듯이 놀더라구요.</p>
                    </div>
				</div>
				<div th:unless = "${!resultList.isEmpty()}" class="no-data">
					데이터가 존재하지 않습니다.
				</div>
                <div class="bg_ico3">
					<img src="/pon/common/image/space_one.png" alt="">
				</div>
            </div>
			<div class="paging_box" th:insert="~{pon/layout/tiles/paging :: paging('listForm', ${resultList})}">
			</div>
		</div>
	</form>

	<!-- 수업후기 상세 조회 ( detail )  layer -->
	<div class="layer_detailClassReview"	style="display: none;"	th:insert="pon/layer/layer_detailClassReview.html" />
</div>

</html>