<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  >
<title layout:fragment="title">pioneerkids (Admin-bbs) - 게시물 등록</title>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/common/js/common_eh.js"></script>
<!--<script src="/common/js/lang/summernote-ko-KR.js"></script>-->
<!--<link rel="stylesheet" href="/common/css/common_eh.css">-->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">


<script  layout:fragment="script">
$(document).ready(function() {
	//여기 아래 부분
	$('#summernote').summernote({
		  height: 300,                 // 에디터 높이
		  minHeight: null,             // 최소 높이
		  maxHeight: null,             // 최대 높이
		  focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
		  lang: "ko-KR",					// 한글 설정
		  placeholder: '최대 2048자까지 쓸 수 있습니다'	//placeholder 설정
          
	});
});

</script>

<!-- S : Javascript functions	-->
<body>
<div layout:fragment="content" class="right_col" role="main">

    <!-- S : 상단 메뉴 명 -->
    // TODO 메뉴 데이터 연결하여 메뉴명 , 메뉴 상세설명 을 뿌림.
    <div class="title_top">
        <h3>게시판 등록</h3>
        <hr class="t_top_line">
    </div>
    <!-- E : 상단 메뉴 명 -->

    <!-- S : 메뉴 상세설명  -->
    <div class="div_menu_detail row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel" style="height: auto;">
                <div class="x_title">
                    <h2>게시판등록 메뉴입니다. <small>오른쪽 화살표를 클릭하여 상세설명을 보실 수 있습니다.</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="display: none;">
                    <h4>상세설명 메뉴입니다.<small>메뉴는 게시판 등록입니다. 이 부분은 관리자가 메뉴를 설명하는 글을 입력할 수 있습니다. (메뉴 관리에서
                    설정가능합니다.)</small></h4>
                    <div>
                        <div class="starrr stars"></div>
                        상세설명 메뉴입니다. <span class="stars-count">0123456789</span> star(s)
                    </div>
                    <p>The menu is membership registration. This part allows the administrator to enter text
                        describing the menu. (It can be set in Menu Management.)</p>
                    <div class="starrr stars-existing" data-rating="4"></div>
                    You gave a rating of <span class="stars-count-existing">4</span> star(s)
                </div>
            </div>
        </div>
    </div>
    <!-- E : 메뉴 상세설명 -->

    <!-- S: 메인 등록 영역 -->
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_content">
                    <form id="insertForm" name="insertForm" method="post" th:action="@{/admin/ntt/insert}"
                          th:object="${nttSaveReqDto}">
                        <input type="hidden" name="bbsSn" value="100017"/>
                        <input type="hidden" name="nttSn" value="100008"/>
                        <!-- TODO 프로필 이미지 추가 작업 -->
      
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3  label-align"><span class="required">*</span>제목</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="input" id="nttNm" name="nttNm"
                                       title="Minimum 8 Characters Including An Upper And Lower Case Letter, A Number And A Unique Character"
                                       required/>
                                <span style="position: absolute;right:15px;top:7px;" onclick="hideshow()">
									<i id="slash" class="fa fa-eye-slash" style="display:none;"></i>
									<i id="eye" class="fa fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-2 col-sm-3  label-align"><span class="required">*</span>내용</label>
                            <div class="col-md-6 col-sm-6">
                                  <textarea id="summernote" name="nttCn"  class="form-control"></textarea>
                            </div>
                        </div>
         
           
                        <div class="ln_solid"></div>
                        <!-- 저장버튼 -->
                       <div class="col-md-12">
                            <!-- bottom left area -->
                            <div class="col-md-2 col-sm-3 text-left">
                                <a href="/admin/bbs/list" class="btn btn-white w120p">목록</a>
                            </div>
                            <!-- bottom center area -->
                            <div class="col-md-8 col-sm-6 text-center">
                                <a href="/admin/bbs/list" class="btn btn-white w120p">취소</a>
                                <button type="submit" class="btn btn-purple w120p">저장</button>
                            </div>
                            <!-- bottom right area -->
                            <div class="col-md-2 col-sm-3 text-right">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        
        
    </div>
    <!-- E: 메인 등록 영역 -->
</div>
</body>
<!-- E : Javascript functions	-->

</html>