<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/layout}">
<!-- S : Javascript functions	-->
<script layout:fragment="script">

	// DOM 준비 된 이후 실행
	$( function () {

	});

</script>
<!-- E : Javascript functions	-->
<th:block layout:fragment="content">
	
	<!-- S: content -->
	<div class="row">
		<div class="col-md-12 col-sm-12 ">
			<div class="x_panel">
				<div class="x_content">
					<form id="insertForm" name="insertForm" method="post" th:action="@{ {basicPath}/{mcd}/{cdSn}/insert ( basicPath = ${basicPath}, mcd = ${mcd}, cdSn = ${cdSn} ) }">
						<!-- hidden type  -->
						<input type="hidden" name="cdNm" required="required" th:value="${cdNm}" />
						
						<div class="field item form-group">
							<label class="col-form-label col-md-2 col-sm-3  label-align">공통코드<span class="required">*</span></label>
							<div class="col-md-6 col-sm-6">
								<input class="form-control" name="cdTitle" required="required" th:value="|${cdNm} [${cdDc}]|" readonly="readonly" />
							</div>
						</div>
						<div class="field item form-group">
							<label class="col-form-label col-md-2 col-sm-3  label-align">코드 상세명<span class="required">*</span></label>
							<div class="col-md-6 col-sm-6">
								<input class="form-control" data-validate-length-range="2,50" name="cdDetailNm" required="required" placeholder="코드 상세명 을(를) 입력해주세요." />
								<small class="font-gray-dark">
									코드 상세명은 화면에 표시 될 수 있습니다.
								</small>
							</div>
						</div>
						<div class="field item form-group">
							<label class="col-form-label col-md-2 col-sm-3  label-align">코드 상세 순번<span class="required">*</span></label>
							<div class="col-md-6 col-sm-6">
								<input type="number" class="form-control" name="cdDetailSeq" required="required" placeholder="코드상세순번 을(를) 입력해주세요." />
								<small class="font-gray-dark">
									코드 상세 순번을 입력해주세요. *(숫자만 입력 가능)
								</small>
							</div>
						</div>
						<div class="field item form-group">
							<label class="col-form-label col-md-2 col-sm-3  label-align">코드 상세 설명<span class="required">*</span></label>
							<div class="col-md-6 col-sm-6">
								<textarea id="cdDetailDc" name="cdDetailDc"  class="form-control"></textarea>
							</div>
						</div>
						<div class="field item form-group">
							<label class="col-form-label col-md-2 col-sm-3  label-align">코드 상세 값 1<span class="required">*</span> </label>
							<div class="col-md-6 col-sm-6">
								<input type="text" class="form-control" name="cdDetailVal1" required="required" placeholder="코드 상세 값 1 을(를) 입력해주세요." />
								<small class="font-gray-dark">
									'코드 상세값 1'은 데이터와 직결되는 value 이기 때문에 수정이 불가능합니다. 삭제 후 재 등록을 해주시거나, 담당 관리자와 협의 하여주세요.
								</small>
							</div>
						</div>
						<div class="field item form-group">
							<label class="col-form-label col-md-2 col-sm-3  label-align">코드 상세 값 2 </label>
							<div class="col-md-6 col-sm-6">
								<input type="text" class="form-control" name="cdDetailVal2"  placeholder="코드 상세 값 2 을(를) 입력해주세요." />
							</div>
						</div>
						<div class="field item form-group">
							<label class="col-form-label col-md-2 col-sm-3  label-align">코드 상세 값 3 </label>
							<div class="col-md-6 col-sm-6">
								<input type="text" class="form-control" name="cdDetailVal3"  placeholder="코드 상세 값 3 을(를) 입력해주세요." />
							</div>
						</div>
						<div class="field item form-group">
							<label class="col-form-label col-md-2 col-sm-3  label-align">코드 상세 값 4 </label>
							<div class="col-md-6 col-sm-6">
								<input type="text" class="form-control" name="cdDetailVal4"  placeholder="코드 상세 값 4 을(를) 입력해주세요." />
							</div>
						</div>
						<div class="field item form-group">
							<label class="col-form-label col-md-2 col-sm-3  label-align">코드 상세 값 5 </label>
							<div class="col-md-6 col-sm-6">
								<input type="text" class="form-control" name="cdDetailVal5"  placeholder="코드 상세 값 5 을(를) 입력해주세요." />
							</div>
						</div>
						<div class="field item form-group">
							<label class="col-form-label col-md-2 col-sm-3 label-align">사용여부<span class="required">*</span></label>
							<div class="col-md-2 col-sm-4">
								<div class="btn-group radiobox">
									<input type="radio" id="useYn1" name="useYn" value="Y" class="join-btn" required="required">
									<label for="useYn1" class="btn btn-outline-purple w100p" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">사용</label>
									<input type="radio" id="useYn2" name="useYn" value="N" class="join-btn" required="required">
									<label for="useYn2" class="btn btn-outline-purple w100p" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">미사용</label>
								</div>
							</div>
						</div>
						<div class="ln_solid"></div>
						<!-- 저장버튼 -->
						<div class="col-md-12">
							<!-- bottom left area -->
							<div class="col-md-2 col-sm-3 text-left">
								<a th:href="@{ {basicPath}/{mcd}/{cdSn}/list ( basicPath = ${basicPath}, mcd = ${mcd}, cdSn = ${cdSn} ) }" class="btn btn-white w120p">목록</a>
							</div>
							<!-- bottom center area -->
							<div class="col-md-8 col-sm-6 text-center">
								<a th:href="@{ {basicPath}/{mcd}/{cdSn}/list ( basicPath = ${basicPath}, mcd = ${mcd}, cdSn = ${cdSn} ) }" class="btn btn-white w120p">취소</a>
								<button type="submit" class="btn btn-purple w120p">저장</button>
							</div>
							<!-- bottom right area -->
							<div class="col-md-2 col-sm-3 text-right">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- E : content -->
</th:block>
</html>