<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>수업대상자 전환 안내 메일</title>
</head>
<body>
<div style="padding:0;margin:0">
  <div style="padding:10px;max-width:900px;">
    <div style="width:100%;box-sizing:border-box;border-radius:20px;border:solid 2px #bb8be3;overflow:hidden">
                <span>
                    <h1 style="margin:0;padding:0;font-size:28px;font-weight:400">
                        <span style="display:block;width:100%;padding:30px;background-color:#bb8be3;box-sizing:border-box"></span>
                        <span style="margin-top:30px;padding:0 30px;display:block">수업대상자 전환 안내 입니다.</span>
                    </h1>
                    <p style="font-size:16px;line-height:26px;margin-top:30px;padding:0 30px"> 안녕하세요.<br />
                                    귀하가 피오니키즈에서 신청한 수업이 예비대상자에서 수업대상자로 전환되었음을 알려드립니다. <br />
                                    해당 시점으로부터 수업을 진행하실 수 있습니다. <br />
                                    자세한 문의는 피오니키즈 사이트를 통해 문의해주세요. <br />
                                    감사합니다.<br />
                    </p>
                </span>
      <p style="font-size:16px;margin:40px 0 0 0;padding:0 30px 30px 30px;line-height:28px"><span
              style="padding-left:30px;">클래스 제목 : <span th:text="${classSj}"></span> <br /></span>
                     <span style="padding-left:30px;"> 수업 제목 : <span th:text="${lctreSj}"></span> <br /></span>
                     <span style="padding-left:30px;"> 수업 일시 : <span th:text="${lctreDt}"></span> <br /></span>
                     <span style="padding-left:30px;"> 수업 금액 : <span
                             th:text="|${#numbers.formatInteger(lctreAmt, 3, 'COMMA')}원|"></span> <br /></span>
                     <span style="padding-left:30px;"> 자녀명 : <span th:text="${chldrnNm}"></span> <br /></span>
        </p>
        </p>
    </div>
  </div>
</div>
</body>
</html>