<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 찾기 인증번호 발송 안내 메일</title>
</head>
<body>
<div style="padding:0;margin:0">
  <div style="padding:10px;max-width:400px;">
    <div style="width:100%;box-sizing:border-box;border-radius:20px;border:solid 2px #bb8be3;overflow:hidden">
                <span>
                    <h1 style="margin:0;padding:0;font-size:28px;font-weight:400">
                        <span style="display:block;width:100%;padding:30px;background-color:#bb8be3;box-sizing:border-box"></span>
                        <span style="margin-top:30px;padding:0 30px;display:block">인증번호 안내입니다.</span>
                    </h1>
                    <p style="font-size:16px;line-height:26px;margin-top:30px;padding:0 30px"> 안녕하세요.<br>요청한 아래 <b>'인증번호'</b>를 피오니키즈에 인증하세요.<br> 감사합니다. </p>
                </span>
      <p style="font-size:16px;margin:40px 0 0 0;padding:0 30px 30px 30px;line-height:28px"> 인증번호
        <span style="font-size:24px;margin-left:15px" th:text="${authNumber}"></span>
      </p>
    </div>
  </div>
</div>
</body>
</html>