<!-- 페이징 -->
<!-- paging ( *form , *resultList ) -->
<!-- *form       : submit할 form의 name값 -->
<!-- *resultList : 결과데이터 (Page<T> 오브젝트)-->
<!-- 전역 변수 선언 -->
<nav th:fragment = "paging(form,resultList)" th:if = "${!resultList.isEmpty()}"
     th:with = "
     pageNumber     = ${resultList.pageable.pageNumber},
     pageSize       = ${resultList.pageable.pageSize},
     totalPages     = ${resultList.totalPages},
     startPage      = ${T(java.lang.Math).floor(pageNumber / 10) * 10 + 1},
     tempEndPage    = ${startPage + 10 - 1},
     endPage        = (${tempEndPage < totalPages ? tempEndPage : totalPages})"
     aria-label = "Page navigation" >
    <ul class = "pagination justify-content-center pagination-lg" >
        <li th:classappend = "${pageNumber < 10} ? 'disabled'" class = "page-item" >
<!--            <a class = "page-link" th:href = "@{/(page=0)}" >-->
            <a class = "page-link" th:href = "'javascript:searchListPage(\'' + ${form} + '\',\'0\');'">
                <span >&laquo;</span >
                <span class = "sr-only" >First</span >
            </a >
        </li >
        <li th:classappend = "${resultList.first} ? 'disabled'" class = "page-item" >
            <a class = "page-link" th:href = "${resultList.first} ? '#' : 'javascript:searchListPage(\'' + ${form} + '\',' + ${pageNumber - 1} +');'"
               aria-label = "Previous" >
                <span aria-hidden = "true" >&lt;</span >
                <span class = "sr-only" >Previous</span >
            </a >
        </li >
        <li th:each = "page: ${#numbers.sequence(startPage, endPage)}"
            th:classappend = "${page == pageNumber + 1} ? 'active'" class = "page-item" >
            <a th:text = "${page}" class = "page-link" th:href = "'javascript:searchListPage(\'' + ${form} + '\',' + ${page - 1} +');'" ></a >
        </li >
        <li th:classappend = "${resultList.last} ? 'disabled'" class = "page-item" >
            <a class = "page-link" th:href = "'javascript:searchListPage(\'' + ${form} + '\',' + ${pageNumber + 1} +');'"
               aria-label = "Next" >
                <span aria-hidden = "true" >&gt;</span >
                <span class = "sr-only" >Next</span >
            </a >
        </li >
        <li th:classappend = " ${T(java.lang.Math).floor(totalPages / 10) * 10 - 1 <= startPage} ? 'disabled'"
            class = "page-item" >
            <a class = "page-link" th:href = "'javascript:searchListPage(\'' + ${form} + '\',' + ${totalPages - 1} +');'" >
                <span >&raquo;</span >
                <span class = "sr-only" >Last</span >
            </a >
        </li >
    </ul >
</nav >