<div name="chldrnAddDiv" th:fragment = "chldrnDiv(targetChldrnDtoList)" th:if = "${!targetChldrnDtoList.isEmpty()}"  th:each=" data : ${targetChldrnDtoList} " style="display:none;" class="existForm">
	<input type="hidden" name="chldrnGender"  	th:if="${data.chldrnGender eq '남자'}" th:value="M" />
	<input type="hidden" name="chldrnGender"  	th:if="${data.chldrnGender eq '여자'}" th:value="F" />
	<input type="hidden" name="userSn" 			th:value="${data.userSn}" />
	<input type="hidden" name="userChldrnSeq" 	th:value="${data.userChldrnSeq}" />
	<div class="field item form-group">
	    <label class="col-form-label col-md-2 col-sm-3 label-align">프로필 이미지</label>
	    <div class="col-md-6 col-sm-6">
	        <div class="filebox preview-image">
	            <div class="upload-display">
	                <div class="upload-thumb-wrap">
	                    <img alt="프로필 이미지" class="upload-thumb noimg" 		th:if = 	"${data.atchFileSn == null}" >
	<!--                                             <img alt="프로필 이미지" class="upload-thumb" 				th:unless = "${data.atchFileSn == null}" th:src="@{/getImage/} + ${data.atchFileSn}"  > -->
	                    <img alt="프로필 이미지" class="upload-thumb" 				th:unless = "${data.atchFileSn == null}" th:src="@{/getImage(atchFileSn=${data.atchFileSn})}"  >
	                </div>
	            </div>
	            <div class="upload-file-name">
	                <input class="input-file-name" value="" disabled="disabled">
	            </div>
	            <div class="upload-btn mt_10p">
	                <label class="btn btn-purple">업로드
	                    <input type="file" name="file" class="upload-hidden" accept=".gif, .jpg, .png" style="display: none;" th:value="${data.atchFileSn}" onchange="fileChange(this)">
	                </label>
	                <button type="button" class="btn btn-purple" id="removeImageBtn" onclick="removeImage(this);" th:if ="${data.atchFileSn != null}">이미지제거</button>
	            </div>
	            <input type="hidden" name="atchFileSn" 	    th:value="${data.atchFileSn}" />
	            <input type="hidden" name="atchFileSnOri" 	th:value="${data.atchFileSn}" />
	        </div>
	    </div>
	</div>
	<div class="field item form-group">
	    <label class="col-form-label col-md-2 col-sm-3 label-align">
	        이름<span class="required">*</span>
	    </label>
	    <div class="col-md-6 col-sm-6">
	        <input class="form-control"
	               data-validate-length-range="2,10"
	               name="chldrnNm" id="chldrnNm" placeholder="이름을 입력해주세요." th:value="${data.chldrnNm}" />
	        <small class="font-gray-dark">
	            최소 2자 이상, 10자 이하로 입력해주세요.
	        </small>
	    </div>
	</div>
	<div class="field item form-group">
	    <label class="col-form-label col-md-2 col-sm-3 label-align">
	        성별<span class="required">*</span>
	    </label>
	    <div class="col-md-6 col-sm-6 ">
	        <div class="btn-group radiobox">
	            <label class="btn btn-outline-purple w100p" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
	                <input type="radio" name="chldrnGenderRadio" value="M" class="join-btn" onclick="clickRadioEvent(this)" th:checked="${data.chldrnGender eq 'M'}" > 남자
	            </label>
	            <label class="btn btn-outline-purple w100p"
	                   data-toggle-class="btn-primary"
	                   data-toggle-passive-class="btn-default">
	                <input type="radio" name="chldrnGenderRadio" value="F" class="join-btn" onclick="clickRadioEvent(this)" th:checked="${data.chldrnGender eq 'F'}">여자
	            </label>
	        </div>
	    </div>
	</div>
	<div class="field item form-group">
	    <label class="col-form-label col-md-2 col-sm-3 label-align">생년월일</label>
	    <div class="col-md-6 col-sm-6">
	        <input class="form-control Date8String" type="date" name="chldrnBrdtDate" th:value="${data.chldrnBrdtDate}">
	    </div>
	</div>
	<div class="field item form-group">
	    <label class="col-form-label col-md-2 col-sm-3 label-align">연락처</label>
	    <div class="col-md-6 col-sm-6">
	        <input class="form-control" type="tel" name="chldrnTelNo" placeholder="연락처입력 ( - 제외 )" data-validate-length-range="10,11" th:value="${data.chldrnTelNo}">
	    </div>
	</div>
	<div class="field item form-group">
	    <label class="col-form-label col-md-2 col-sm-3 label-align">이메일</label>
	    <div class="col-md-6 col-sm-6">
	        <input name="chldrnEmail" class="form-control" th:value="${data.chldrnTelNo}"/>
	    </div>
	</div>

</div>