<meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta name="_csrf" th:content="${_csrf.token}">
<div class="pop_wrap find_user" data-layer-wrap="findUser" >
	<div class="pop_top">
		<button class="pop_close hide_layer" data-layer-id="findUser" >
			<img src="/pon/common/image/chat_close.svg" alt="">
		</button>
	</div>
	<div class="pop_header">
		<img src="/pon/common/image/logo.svg" alt="피오니키즈 로고">
		<h2 class="pop_title">아이디 &middot; 비밀번호 찾기</h2>
	</div>
	<div class="pop_content">
		<div class="tab_menu">
			<div class="tab_menu_btn">
				<a href="javascript:void(0);" data-tab="tab1" class="active">아이디 찾기</a>
				<a href="javascript:void(0);" data-tab="tab2">비밀번호 찾기</a>
			</div>
		</div>
		<div class="find_user_wrap" data-tab-wrap="tab1">
			<form id="findUserIdForm" th:action = "@{/findUsername}" method = "post"  style="width:95%;">
			<div class="tab_cont current">
				<div class="input_wrap">
					<input name="userNm" class="name_input" type="text" placeholder="이름을 입력해주세요.">
					<input name="telNo" type="number"  placeholder="휴대폰 번호를 입력해주세요.">
				</div>
				<!-- S : 성환: 아이디 찾기 버튼-->
				<button type="button" class="btn btn_login_default btn" onclick="findUsername()" style="margin-top:67px;">아이디 찾기</button>
				<!-- E : 성환: 아이디 찾기 버튼-->
			</div>
			</form>
		</div>
		<div class="find_user_wrap" data-tab-wrap="tab2" style="display:none;">
			<form id="findUserPwForm" th:action = "@{/findUseremail}" method = "post" style="width:95%;">
				<div class="tab_cont current">
					<div class="input_wrap">
						<input id="findPw_name"  name="userNm" class="name_input" type="text" placeholder="이름을 입력해주세요.">
						<input id="findPw_email" name="userId" class="name_input" type="text" placeholder="이메일을 입력해주세요.">
						<div class="group">
							<input id="findPw_auth_number" class="cert_input" type="number" placeholder="인증 번호를 입력해주세요.">
							<button type="button" id="findPw_send_auth_number" class="cert_btn" onclick="findUseremail()" >인증번호 발송 <!-- 재발송 (03:00) 발송시 텍스트 변경 --> </button>
<!--							<div id="timerDisplay" class="timer_display"></div>-->
						</div>
					</div>
				</div>
				<!-- S : 성환 : 비밀번호 찾기 버튼-->
				<div class="login_btn_wrap mt_20p">
					<button type="button" class="btn btn_login_default login_btn" onclick="findUserpw()">인증번호 확인</button>
				</div>
				<!-- E : 성환 : 비밀번호 찾기 버튼-->
			</form>
		</div>
	</div>
</div>
