<form name="qestnarForInquiryInsertForm" method="POST" th:action="@{ /qestnarAnswer/insert }" class="form" onsubmit="return insertQestnarAnswer( 'qestnarForInquiryInsertForm' );" >
<input type="hidden" name="qestnarGroupSn" 			class="changeQestnarData"  />
<div class="chatWrap" data-layer-wrap="inquiry">
	<div class="chat_box">
		<div class="chat_top">
			<div class="chat_top_box">
				<div class="chat_logo">
					<img src="/pon/common/image/logo.svg" alt="">
				</div>
			</div>
		</div>
		<div class="chat_content">
			<div class="tabcontent">
				<div id="tab01" style="">
					<div class="chat_form_box">
						<div class="qestnarList changeQestnarData">
							<div class="chat_tit_form qBox">
								<select name="">
									<option value="">문의유형 선택</option>
								</select>
							</div>
							<div class="chat_tit_form qBox">
								<input type="text" placeholder="제목">
							</div>
							<div class="chat_disc_form qBox">
								<textarea name="" id="" cols="30" rows="10" placeholder="내용"></textarea>
							</div>
						</div>
						<div class="send_btn">
							<button>제출하기</button>
						</div>
					</div>
				</div>
				<div id="tab02" style="display: none;">area2</div>
				<div id="tab03" style="display: none;">area3</div>
			</div>
		</div>
		<div class="chat_nav">
			<div class="tab">
				<ul class="tabnav">
					<li>
						<a href="#tab01">
							<div class="chat_nav_ico ">
								<img class="" src="/pon/common/image/home_ico.svg" alt="">
								<img class="" src="/pon/common/image/home_ico_active.svg" alt="">
							</div>
							<span>문의하기</span>
						</a>
					</li>
					<li>
						<a href="#tab02">
							<div class="chat_nav_ico ">
								<img class="" src="/pon/common/image/chat_ico.svg" alt="">
								<img class="" src="/pon/common/image/chat_ico_active.svg" alt="">
							</div>
							<span>내 문의내역</span>
						</a>
					</li>
					<li>
						<a href="#tab03">
							<div class="chat_nav_ico ">
								<img class="" src="/pon/common/image/gear_ico.svg" alt="">
								<img class="" src="/pon/common/image/gear_ico_active.svg" alt="">
							</div>
							<span>FAQ</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="chat_close hide_layer" data-layer-id="inquiry" >
		<img src="/pon/common/image/chat_close.svg" alt="">
	</div>
</div>
</form>