<div class="pop_wrap login findUserPw" data-layer-wrap="findUserPw" style="display: block;">
  <div class="pop_top">
    <!-- S : 성환 : 팝업창 닫기 버튼-->
    <button class="pop_close hide_pop_lv2" data-layer-id="findUserPw" >
      <img src="/pon/common/image/chat_close.svg" alt="">
    </button>
    <!-- E : 성환 : 팝업창 닫기 버튼-->
  </div>
  <div class="pop_content">
    <h2 class="pop_title">비밀번호 재설정</h2>
    <div class="login_wrap">
      <div class="tab_menu">
        <div class="tab_cont current" data-tab-wrap="tab1">
          <p> 입력하신 정보와 일치하는 계정을 발견했습니다. </p>
          <div class="input_wrap">
            <input id="new_Pw" class="cert_input" type="text" placeholder="새로운 비밀번호를 입력해주세요.">
            <input id="new_check_Pw" class="cert_input" type="text" placeholder="비밀번호를 다시한번 입력해주세요.">
          </div>
          <!-- S : 성환: 비밀번호 변경 버튼-->
          <button type="button" class="btn btn_login_default login_btn" onclick="findUsername()">비밀번호 변경</button>
          <!-- E : 성환: 비밀번호 변경 버튼-->
        </div>
      </div>
    </div>
  </div>
</div>
</div>