<div class="pop_wrap addChldrn" data-layer-wrap="addChldrn" >
	
	<div class="pop_top">
		<button class="pop_close hide_pop_lv2" data-layer-id="addChldrn" >
			<img src="/pon/common/image/chat_close.svg" alt="">
		</button>
	</div>
	<div class="pop_header">
		<img src="/pon/common/image/logo.svg" alt="피오니키즈 로고">
		<h2 class="pop_title">자녀 추가</h2>
	</div>
	<div class="pop_content" id="addChldrnModalBody">
		<div name="chldrnModDiv" class="modForm" style="display: none;">
			<!-- 자녀 수정시 여기서 수정 작업 -->
		</div>
		<div name="chldrnAddDiv" class="addChldrn_wrap newForm" th:insert="/pon/layer/addChldrnForm.html">
			<!-- 자녀 등록 form 호출 -->
		</div>
	</div>
	<div class="pop_footer">
		<label class="btn btn-purple" onclick="addChldrn()" id="addChldrnBtn" >		<!-- 추가 -->
			추가
		</label>
		<label class="btn btn-purple" onclick="addChldrn()" id="updateChldrnBtn" >	<!-- 수정 -->
			수정
		</label>
	</div>
</div>