<div class="pop_wrap detailClassInqry" data-layer-wrap="detailClassInqry">
	<div class="pop_top">
		<button type="button" class="pop_close hide_layer" data-layer-id="detailClassInqry" >
			<img src="/pon/common/image/chat_close.svg" alt="닫기_아이콘">
		</button>
	</div>
	<div class="pop_header">
		<img src="/pon/common/image/logo.svg" alt="피오니키즈 로고">
		<h2 class="pop_title">문의상세조회</h2>
	</div>
	<div class="pop_content overflowY_auto">
		<input type="hidden" name="classSn" />
		<div class="class_info_wrap">
			<div class="class_detail_box">
				<div class="class_detail_left changeInqryData" id="thumbImg">
					<img alt="">
				</div>
				<div class="class_detail_right">
					<p id="inqryClassSj" class="changeInqryData classSj">클래스제목</p>
				</div>
			</div>
		</div>
		<!-- 후기 정보 : 별점, 등록일, 등록자, 후기내용, +사진(TODO) , +답글! -->
		<div class="detail_inqry_box">
			<div class="info_top">
				<span id="detailInqryUserNm" class="review_userNm changeInqryData">홍길동</span>
				<span id="detailInqryRegDt" class="regDt changeInqryData">
					2024-02-20
				</span>
			</div>
			<div id="detailInqryCn" class="info_content changeInqryData">
				후기 내용 입력
			</div>
		</div>
		<!-- 후기 답변 -->
		<ul class="changeInqryData reply-wrap" >
			<li>
				<div class="detail_inqry_box reply-box">
					<div class="info_top">
						<span class="review_userNm">관리자</span>
						<div class="regDt">
							2024-02-20
						</div>
					</div>
					<div class="info_content">
						답변 내용
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="inqry_footer" th:if = "${  loginYn eq 'Y'}">
		<div class="redBtn">
			<a id="inqryDeleteA" href="javascript:;" onclick="deleteInqryItem( 'deleteInqryForm', this );" data-del-pk >
				<span>삭제</span>
				<em></em>
			</a>
		</div>
	</div>
	<form id="deleteInqryForm" name="deleteInqryForm" method="post" th:action="@{ /classInqry/{mcd}/delete ( mcd = ${mcd} ) }">
		<input type="hidden" name="pk" id="delPk" /> <!-- delPk 문자 수정 금지 -->
	</form>
</div>