<div class="pop_wrap login" data-layer-wrap="login" >
	<div class="pop_top">
		<button class="pop_close hide_pop" data-layer-id="login" >
			<img src="/pon/common/image/chat_close.svg" alt="">
		</button>
	</div>
	<div class="pop_header">
		<img src="/pon/common/image/logo.svg" alt="피오니키즈 로고">
		<h2 class="pop_title">로그인</h2>
	</div>
	<div class="pop_content">
		<div class="login_wrap">
			<div class="default_login_wrap">
				<div class="input_wrap">
					<input type="hidden" id="login_userName" name="userName">
					<input type="hidden" id="login_snsKind" name="snsKind">
					<input type="hidden" id="login_snsId" name="snsId">
					<input type="text" id="login_userEmail" name="userEmail" class="id_input" placeholder="이메일">
					<input type="password" id="login_userPassword" name="userPassword" class="pw_input" placeholder="비밀번호">
				</div>
				<div class="login_btn_wrap">
					<button class="btn_login_default login_btn" id="loginBtn">로그인</button>		
				</div>
			</div>
			<div class="or"></div>
			<div class="sns_login_wrap">
				<button class="btn_sns kakao" id="kakao_login_btn">카카오로 로그인</button>
				<button class="btn_sns naver" id="naver_login_btn">네이버로 로그인</button>
			</div>
			<div class="user_wrap">
				<a href="javascript:void(0);" class="show_pop" data-layer-id="join">회원가입</a>
				<a href="javascript:void(0);" class="show_pop" data-layer-id="findUser">아이디 &middot; 비밀번호 찾기</a>
			</div>
		</div>
	</div>
</div>