<div class="pop_wrap findUserPw" data-layer-wrap="findUserPw" >
	<div class="pop_top">
		<button class="pop_close hide_layer_lv2" data-layer-id="findUserPw" >
			<img src="/pon/common/image/chat_close.svg" alt="">
		</button>
	</div>
	<div class="pop_header">
		<img src="/pon/common/image/logo.svg" alt="피오니키즈 로고">
		<h2 class="pop_title">비밀번호 재설정</h2>
	</div>
	<div class="pop_content">
		<div class="find_user_wrap">
          	<div class="input_wrap">
				<input id="findUserId" name="userNm" class="name_input" type="text" placeholder="ID" readonly="readonly" >
				<input id="new_Pw" class="cert_input" type="password" placeholder="새로운 비밀번호를 입력해주세요.">
				<input id="new_check_Pw" class="cert_input" type="password" placeholder="비밀번호를 다시한번 입력해주세요.">
			</div>
			<button type="button" class="btn btn_login_default btn mt_10p" onclick="changePassword()">비밀번호 변경</button>
		</div>
	</div>
</div>