<form name="qestnarForInquiryInsertForm" method="POST" th:action="@{ /qestnarAnswer/insert }" class="form" >
<input type="hidden" name="qestnarGroupSn" 			class="changeQestnarData"  />
<div class="chatWrap" data-layer-wrap="inquiry">
	<div class="chat_box">
		<div class="chat_top">
			<div class="chat_top_box">
				<div class="chat_logo">
					<img src="/pon/common/image/logo.svg" alt="">
				</div>
			</div>
		</div>
		<div class="chat_content">
			<div class="tabcontent">
				<div id="tab01" style="">
					<div class="chat_form_box">
						<div class="qestnarList changeQestnarData">
							<div class="chat_tit_form qBox">
								<select name="">
									<option value="">문의유형 선택</option>
								</select>
							</div>
							<div class="chat_tit_form qBox">
								<input type="text" placeholder="제목">
							</div>
							<div class="chat_disc_form qBox">
								<textarea name="" id="" cols="30" rows="10" placeholder="내용"></textarea>
							</div>
						</div>
						<div class="send_btn">
							<button type="button" onclick="insertQestnarAnswer( 'qestnarForInquiryInsertForm' );" >제출하기</button>
						</div>
					</div>
				</div>
				<div id="tab02" style="display: none;" class="tabDiv">
					<ul class="tab myInquiryList">
						<li>
							<div class="li_leftDiv">
								<span class="inquiry_ty">[문의유형]</span>
								<p>문의합니다.</p>
							</div>
							<div class="li_rightDiv">
								<span>2022-03-02</span>
							</div>
						</li>
					</ul>
					<div class="myInquiryDetail" style="display:none;">
						<div class="send_btn pt_0p">
							<button type="button" onclick="showLayerTabType( 'myInquiryList' );">목록</button>
						</div>
						<div class="chat_tit_form qBox">
							<div class="qAnswerWrap">
								<span name="detailInquiryTy" class="detailInquiryTy detailInqruiyChangeData"></span>
							</div>
						</div>
						<div class="chat_tit_form qBox">
							<div class="qAnswerWrap">
								<input type="text" class="qAnswer detailInqruiyChangeData" name="detailInqruiySj" title="문의 제목" placeholder="문의 제목" readonly="readonly" >
							</div>
						</div>
						<div class="chat_disc_form qBox">
							<div class="qAnswerWrap">
								<textarea class="qAnswer required detailInqruiyChangeData" name="detailInqruiyCn" rows="10" title="문의 내용" cols="30" placeholder="문의 내용"  readonly="readonly" >
									
								</textarea>
							</div>
						</div>
						<div class="myInquiryDetailReplyWrap detailInqruiyChangeData">
							<div class="myInquiryDetailReplyList">
								<div class="replyWrap">
									<div class="chat_tit_form qBox">
										<div class="qAnswerWrap">
											<input type="text" class="qAnswer replyUserNm" readonly="readonly" value="관리자">
											<input type="text" class="qAnswer replyRegDt" readonly="readonly" value="2024-03-10">
										</div>
									</div>
									<div class="chat_disc_form qBox mt_3p" >
										<div class="qAnswerWrap">
											<textarea class="qAnswer" name="replyCn" rows="5" title="답변내용" cols="30" placeholder="답변내용" readonly="readonly" style="min-height: 80px;">									
											</textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="tab03" style="display:none;" class="tabDiv">
					<ul class="tab faqNttList">
						<li>
							<div class="li_leftDiv">
								<span class="inquiry_ty">[관리자]</span>
								<p>FAQ제목</p>
							</div>
							<div class="li_rightDiv">
								<span>2022-03-02</span>
							</div>
						</li>
					</ul>
					<div class="faqNttDetail" style="display:none;">
						<div class="send_btn pt_0p">
							<button type="button" onclick="showLayerTabType( 'faqNttList' );">목록</button>
						</div>
						<div class="chat_tit_form qBox">
							<div class="qAnswerWrap">
								<span name="detailFaqNttUserNm" class="detailInquiryTy detailFaqNttChangeData"></span>
							</div>
						</div>
						<div class="chat_tit_form qBox">
							<div class="qAnswerWrap">
								<input type="text" class="qAnswer detailFaqNttChangeData" name="detailFaqNttNm" title="FAQ 게시글 제목 (상세)" placeholder="FAQ 게시글 제목 (상세)" readonly="readonly" >
							</div>
						</div>
						<div class="chat_disc_form qBox">
							<div class="qAnswerWrap detailFaqNttCn" name="detailFaqNttCn">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="chat_nav">
			<div class="tab">
				<ul class="tabnav">
					<li>
						<a href="#tab01">
							<div class="chat_nav_ico ">
								<img class="" src="/pon/common/image/home_ico.svg" alt="">
								<img class="" src="/pon/common/image/home_ico_active.svg" alt="">
							</div>
							<span>문의하기</span>
						</a>
					</li>
					<li>
						<a href="#tab02" onclick="showLayerTabType( 'myInquiryList' );">
							<div class="chat_nav_ico ">
								<img class="" src="/pon/common/image/chat_ico.svg" alt="">
								<img class="" src="/pon/common/image/chat_ico_active.svg" alt="">
							</div>
							<span>내 문의내역</span>
						</a>
					</li>
					<li>
						<a href="#tab03" onclick="showLayerTabType( 'faqNttList' );" >
							<div class="chat_nav_ico ">
								<img class="" src="/pon/common/image/gear_ico.svg" alt="">
								<img class="" src="/pon/common/image/gear_ico_active.svg" alt="">
							</div>
							<span>FAQ</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="chat_close hide_layer" data-layer-id="inquiry" >
		<img src="/pon/common/image/chat_close.svg" alt="">
	</div>
</div>
</form>