<div id="popup_layer_find_account" class="pop_wrap login" data-layer-wrap="user_find" style="display: block;">
	<div class="pop_top">
		<p></p>
		<button class="pop_close" id="popup_layer_find_account_close"><i class="fas fa-times"><span class="hidden">팝업닫기</span></i></button>
	</div>
	<div class="pop_content">
		<h2 class="pop_title">아이디 · 비밀번호 찾기</h2>
		<div class="login_wrap">
			<div class="tab_menu">
				<div class="tab_menu_btn">
					<a href="javascript:void(0);" data-tab="tab1" class="active">아이디 찾기</a>
					<a href="javascript:void(0);" data-tab="tab2">비밀번호 찾기</a>
				</div>
				<div class="tab_cont current" data-tab-wrap="tab1">
					<div class="input_wrap">
						<input id="findId_userName" class="name_input" type="text" placeholder="이름을 입력해주세요.">
						
						<input id="findId_userBirthday" class="date_cal hasDatepicker" readonly="" type="text" onkeypress="return false" placeholder="생년월일을 입력해주세요.">
					</div>
					
					<button id="findId_find_btn" class="find_btn">아이디 찾기</button>
				</div>
				<div class="tab_cont" data-tab-wrap="tab2">
					<div class="input_wrap">
						<input id="findPw_name" class="name_input" type="text" placeholder="이름을 입력해주세요.">
						
						<input id="findPw_email" class="name_input" type="text" placeholder="이메일을 입력해주세요.">
						<div class="group">
							<input id="findPw_auth_number" class="cert_input" type="number" placeholder="인증 번호를 입력해주세요.">
							<button id="findPw_send_auth_number" class="cert_btn">인증번호 발송<!-- 재발송 (03:00) 발송시 텍스트 변경 --></button>
						</div>
					</div>
					
					<button id="findPw_find_btn" class="find_btn">비밀번호 찾기</button>
				</div>
			</div>
		</div>
	</div>
</div>