<form id="insertAnswerForm" name="insertAnswerForm" method="post" th:action="@{ {basicPath}/{mcd}/insertReply ( basicPath = ${basicPath}, mcd = ${mcd} ) }" >
<input type="hidden" class="detailData" name="parntsInqrySn"	/>
<input type="hidden" class="detailData" name="openYn"			/>
<input type="hidden" class="detailData" name="classSn"			/>
<input type="hidden" name="step" value="2"/>
<!-- TODO 자녀 프로필 이미지 추가 작업 -->
<div class="field item form-group manage">
	<label class="col-form-label col-md-2 col-sm-3 label-align">
		분류
	</label>
	<div class="col-form-label col-md-6 col-sm-6">
		<span class="detailData" name="ctgryNm" ></span><span name="depth2"> [ <em class="detailData" name="crseNm"></em> ]</span>
	</div>
</div>

<div class="field item form-group manage">
	<label class="col-form-label col-md-2 col-sm-3 label-align">
		클래스
	</label>
	<div class="col-form-label col-md-6 col-sm-6">
		<span class="detailData" name="classSj" ></span>
	</div>
</div>

<div class="field item form-group manage">
	<label class="col-form-label col-md-2 col-sm-3 label-align">
		문의제목 
	</label>
	<div class="col-form-label col-md-6 col-sm-6">
		[<span class="detailData" name="openYnNm"></span>] <span class="detailData" name="parntsInqrySj" ></span>
	</div>
</div>

<div class="field item form-group manage">
	<label class="col-form-label col-md-2 col-sm-3 label-align">
		문의자 
	</label>
	<div class="col-form-label col-md-6 col-sm-6">
		<span class="detailData" name="userNm" ></span> (<span class="detailData" name="userId"></span>)
	</div>
</div>

<div class="field item form-group manage">
	<label class="col-form-label col-md-2 col-sm-3 label-align">
		등록일시 
	</label>
	<div class="col-form-label col-md-6 col-sm-6">
		<span class="detailData" name="regFullDt" ></span>
	</div>
</div>

<div class="field item form-group manage">
	<label class="col-form-label col-md-2 col-sm-3 label-align">
		문의내용 
	</label>
	<div class="col-form-label col-md-10 col-sm-6">
		<textarea class="detailData no-textarea" name="parntsInqryCn" rows="6" readonly="readonly"></textarea>
	</div>
</div>

<div class="field item form-group manage">
	<label class="col-form-label col-md-2 col-sm-3 label-align">
		답변 
	</label>
	<div class="col-form-label col-md-10 col-sm-6">
		<textarea class="detailData" name="inqryCn" rows="6"></textarea>
	</div>
</div>

</form>